[2017-06-30 00:50] NekR commented on #176
Nevermind, I found the problematic one, it was `css-loader`. Thanks!

[2017-06-30 15:15] Janaka-Steph opened #271 "Warning "Previous source map found, but options.sourceMap isn't set""
Hello,

Despite all my efforts, I can't get rid of the warning "Previous source map found, but options.sourceMap isn't set"

Some packages I have:
- babel-plugin-react-css-modules: 3.0.0
- bootstrap: 4.0.0-alpha.6
- bootstrap-loader: 2.1.0
- node-sass: 4.5.3
- postcss-loader: 2.0.6
- postcss-scss: 1.0.1
- precss: 1.4.0
- sass-loader: 6.0.6
- webpack: 2.6.1
- webpack-dev-server: 2.5.0

My webpack.c

[2017-06-30 23:50] michael-ciniawsky commented on #271
[code]

You won't need them when using SASS (`sass-loader`) itself, the former is for stylelint (syntax) and the latter is mimicking SASS for folks who want to use PostCSS standalone, either remove `sass-loader` or remove those two

[code]

I perosnally never used it myself but if you have

[code]

you won't need ot either. It's another way to use CSS Modules, both in the same config won't make mu

[2017-07-01 12:01] psirenny commented on #218
I think this issue might be back with webpack 3. `loaderUtils.getOptions()` seems to be discarding functions passed into it. I'm guessing because they are "non-serializable". See https://github.com/webpack/loader-utils/issues/56.

[2017-07-02 00:38] michael-ciniawsky commented on #218
@psirenny I update the docs soon, I was reluctant tbh, bc this should be handle automatically since `webpack >= 2.2.1` you need to add an `ident: 'postcss'` to loader options, bc as you mentioned the options need to be serialized by webpack internally.

**webpack.config.js**
[code]

[2017-07-02 18:12] Janaka-Steph commented on #271
If I remove all things related to bootstrap, but not the rest, and import bootstrap from CDN, then I don't have the warnings anymore, but now it doesn't load my custom styles. :-(

[2017-07-03 05:21] kishorevarma commented on #271
Hi,

I have a similar issue, even though I set the soureMap true in config.
[code]

I have tried to debug issue. I think we are not checking sourceMap option from config file.

[2017-07-03 07:08] michael-ciniawsky commented on #271
@kishorevarma `sourceMap` isn't supported by `postcss.config.js`, you need to add it to `webpack.config.js` instead. The separate config only supports PostCSS related Options && Plugins to work across the different PostCSS runners (CLI, gulp, ...) seemlessly. `sourceMap` is webpack specific and therefore => `webpack.config.js`

**postcss.config.js**
[code]

**webpack.config.js**
[code]

@Janaka-St

[2017-07-03 07:08] #271 closed

[2017-07-03 07:25] michael-ciniawsky commented on #258
I'm closigf this for now and instead, add the `ident` back to the docs, it would affect too many builds to be a sufficient fix, maybe I can fix it in webpack in the long run :)

[2017-07-03 07:25] #258 closed

[2017-07-03 07:36] michael-ciniawsky commented on #267
It's recommend to use the `cssnano` implementation in `css-loader` via `options.minimize` for the time being, since `css-loader` rewrites `url()` by default to resolve assets 'the webpack way'. Just remove `cssnano` from `postcss.config.js`. The `@font-face` issue is likely to be caused by `css-loader` aswell, bc of how it handles assets resolving `url()`. You could set `options.url = false` to di

[2017-07-03 07:36] #267 closed

[2017-07-03 07:37] michael-ciniawsky opened #272 "docs(README): readd `ident: 'postcss'` to examples"

[2017-07-03 09:13] Janaka-Steph commented on #271
I agree that requiring Bootstrap from the CDN is much simpler but then we loose the scss bootstrap variables..

[2017-07-03 11:16] kishorevarma commented on #271
thanks @michael-ciniawsky

[2017-07-04 08:14] cordoval commented on #81
@michael-ciniawsky is there a way to disappear that postcss.config.js and push it into the webpack.config.js file? sorry to abuse you on this one 👴

[2017-07-04 08:38] michael-ciniawsky commented on #81
**webpack.config.js**
[code]

[2017-07-04 08:39] cordoval commented on #81
👍

[2017-07-07 17:58] yoyo837 commented on #248
@michael-ciniawsky
I created one, too.
Here is the repo if you want to have a look: https://github.com/yoyo837/postcss-loader-248

[2017-07-08 15:40] yoyo837 commented on #264
Maybe it's the same thing. I'm not sure ，#248

[2017-07-09 09:59] frontEndWebDev opened #273 "Autoprefix inline css in html"
Hello, is there any technique to autoprefix inline css in html using this loader? This is a very in-demand need.
[code]
[code]

[2017-07-11 20:57] ronaldgj opened #274 "Sourcemaps with sass-loader and postcss-loader and autoprefixer"
When using sass-loader with postcss-loader and use autoprefixer with the postcss-loader, the sourcemaps will reference to wrong line numbers.

Linked to: https://github.com/postcss/autoprefixer/issues/859

[2017-07-12 04:00] edwardfhsiao commented on #218
actually,
[code]
fixed my problem.
My problem was that when I just start building using webpack3 watch mode, postcss-loader worked fine, however, if I got typos to have a syntax error in a js file, for example, I accidentally typed two commas, the js file broked, right?
![image](https://user-images.githubusercontent.com/11728228/28101159-2b16507a-66f9-11e7-8e8e-182bdada7d89.png)

Right after I fix

[2017-07-12 20:13] michael-ciniawsky commented on #218
@edwardfhsiao I need more info on this please and maybe a test repo to reproduce if possible, both `postcss-loader` && `css-loader` use `postcss` internally and this is a standard webpack Error `ModuleBuildError`

[2017-07-13 07:16] edwardfhsiao commented on #218
@michael-ciniawsky  well, the error messages were solved by using ```ident: 'postcss'```
here is the repo I made to reproduce: https://github.com/edwardfhsiao/test__postcss-loader, and hope its helpful

[2017-07-13 13:43] Pszek opened #275 "[Docker] No PostCSS Config found"
During a build process (with Docker) I stumbled upon the below issue:

[code]

packages versions:
[code]

This is the only package in the bundle getting that error. I tried to found similar issues but to no avail. If you have some ideas about causes of that problem or how to solve it please share it with me :) .

[2017-07-13 18:01] michael-ciniawsky commented on #275
Please post your `$ tree $PROJECT_ROOT` and  your `postcss.config.js` && `webpack.config.js`

[2017-07-14 15:47] Pszek commented on #275
@michael-ciniawsky Thanks, self-answer though.

There wasn't provided the path to a postCSS config file in Webpack. It was only a matter of placing these in Webpack config:
[code]

[2017-07-14 15:47] #275 closed

[2017-07-18 09:17] ir-fuel opened #276 "postcss not working in webpack"
I am using webpack 3
This is my config

[code]

To make sure it actually picks up the config I put this in the `postcss.config.js` file
[code]

This should never work as it isn't valid syntax.

The problem is it doesn't even throw an error when running webpack. The config file is located in the project root btw.

My css files are in `client/css` and when looking inside `bundle.js` I can see
[code]

[2017-07-18 20:48] michael-ciniawsky commented on #276
[postcss-load-config #91](https://github.com/michael-ciniawsky/postcss-load-config/issues/91) Tracking Issue (`schema-validation`). It should warn about incorrect config via `postcss-load-config`.

[2017-07-18 20:48] #276 closed

[2017-07-18 20:49] michael-ciniawsky commented on #276
It will fallback to `{ plugins: [], options: {} }` and simply not run any PostCSS transforms atm

[2017-07-22 16:52] subblue opened #277 "@supports rule breaks the loader"
Possibly a breaking change recently with handling the `@supports` tag?
If I add something like this:
[code]

I then get the error:
[code]

My webpack CSS config block is:
[code]

Specific package versions:
[code]

[2017-07-23 01:30] michael-ciniawsky commented on #277
https://github.com/ai/browserslist/pull/161 :)

[2017-07-23 01:30] #277 closed

[2017-07-26 15:14] naBausch opened #278 "postcss-loader-before-processing missing"
Hi

was `postcss-loader-before-processing` removed?
I am using a postcss plugin which requires access to the current webpack compiler and used `postcss-loader-before-processing` to connect both parts.

With the current version it doesn't work anymore.

Thanks :)

[2017-07-26 15:20] coot opened #279 "Missing errors"
It happens quite often that the there are no errors from css-modules nor postcss-loader, e.g. when a `composes` is miss formatted, like in `compose: ...` instead of `composes: ...`.  It would be nice if there were errors / warning from postcss.  In general more verbose output from postcss would be appreciated.

[2017-07-26 15:23] michael-ciniawsky commented on #278
Yep, it was removed in `postcss-loader >= v2.0.0`, because it was widely used and the Loader API accessing the webpack `compilation` from inside a loader directly is officially deprecated. What is the usecase, could you provide more info? :)

[2017-07-26 15:30] naBausch commented on #278
Oh too bad I am using https://github.com/jantimon/iconfont-webpack-plugin and without the `postcss-loader-before-processing` the `iconfont-webpack-plugin` doesn't work anymore :/

[2017-07-26 15:55] michael-ciniawsky commented on #279
This is actually a `css-loader` issue, since CSS Modules are implemented there atm :). Could you reopen in `css-loader` please and I will triage it there then. It might be difficult to fix this appropiately, because all `postcss-modules-*` (CSS Modules) plugins need to emit warnings/errors to `result.messages` beforehand to get meaningful messages. `postcss-loader` throws pretty printed errors mes

[2017-07-26 15:56] #279 closed

[2017-07-26 16:04] michael-ciniawsky commented on #273
posthtml-loader + posthtml-postcss plugin

[2017-07-26 16:04] #273 closed

[2017-07-30 07:14] Rufflewind opened #280 "docs(README): clearify custom parser usage in examples"
I was kind of expecting a sensible default configuration that works on plain CSS – the whole reason I'm using postcss is for cssnext.  The one in the README file suggested sugarss as the default "parser", which I assumed was just a standard CSS parser implementation, or at the worst nothing more than an extension to standard CSS syntax like Less or Sass.

But no, I later learned that sugarss is a

[2017-07-30 14:56] michael-ciniawsky commented on #280
The examples main purpose is to just show **if** you want to use a **custom** parser how this looks like/works. It uses a conditional to clearify `file.extname !== .css` ? 'custom' :  'default'` this

[code]

[2017-07-30 21:22] Rufflewind commented on #280
The conditional is not present in the very first example:

[code]

All it needs is a short explanation of what `parser: sugarss` is for, e.g. `// enables sugarss syntax instead of standard CSS`.

[2017-07-30 21:54] michael-ciniawsky commented on #280
Yep agreed, I will add a note when I update the docs with the other docs related nits currently in the issue tracker

[2017-07-31 08:27] jantimon commented on #278
@michael-ciniawsky the current implementation of the iconfont-webpack-plugin is using the compiler to resolve the filename of `url(demo.svg)`.

According to the official documentation there would be a new api for that which is not deprecated:
https://webpack.js.org/api/loaders/#this-resolve
[code]

Can you think of a clean way to pass `this` from the your loader to a postcss plugin?

[2017-07-31 10:12] daviddelusenet opened #281 "postcss-loader breaks in combination with style-loader"
Hi,

I've the following Webpack development setup:

[code]

This gives me the following error:

[code]
Then I removed the usage of `style-loader`:

[code]

And everything works, including the autoprefixer.

Am I doing something wrong or is this a bug? Thanks in advance.

[2017-07-31 14:48] michael-ciniawsky commented on #281
What version of `postcss-loader` && `webpack` ?  Please try this

[code]

[2017-07-31 15:47] jantimon commented on #278
@naBausch just released a new version which works with postcss-loader 2.x
I guess this issue can be closed

[2017-07-31 15:56] michael-ciniawsky commented on #278
@jantimon Thx

[2017-07-31 15:56] #278 closed

[2017-08-02 01:01] spalger opened #282 "postcss loader should ignore the `--config` flag"
Got a strange build error today while using a CLI that embeds postcss as a library. The CLI supports passing a `--config` flag, which was being read by [cosmiconfig](https://github.com/davidtheclark/cosmiconfig), which is used by [postcss-load-config](https://github.com/michael-ciniawsky/postcss-load-config), which this module uses to load config files. I'm assuming that using the `--config` flag

[2017-08-02 01:04] spalger commented on #282
Oops, looks like this was fixed in https://github.com/postcss/postcss-loader/pull/174

[2017-08-02 01:04] #282 closed

[2017-08-06 16:40] nickperkinslondon commented on #204
All of this webpack confusion is unfortunate.
I use React and Webpack, but I don't use CSS myself ( and I don't know or care what "postcss" is )
I just wanted to try React Toolbox, but I have been unable to make it work!
I am going back to Material-UI

[2017-08-07 11:05] TrejGun opened #283 "css imported inside less is not being processed"
index.less
[code]

imported.css
[code]

webpack.config.js
[code]

.postcssrc
[code]

[2017-08-07 16:41] 29er commented on #281
adding that **ident** line worked for me.

[2017-08-07 16:43] michael-ciniawsky commented on #283
[code]

[2017-08-07 16:43] #283 closed

[2017-08-07 17:52] TrejGun commented on #217
@michael-ciniawsky
hi there!
i can see fix in repo but when i'm installing from npm i see old code
[code]
you can see in zip package here
https://github.com/postcss/postcss-loader/releases/tag/v2.0.6

[2017-08-08 08:36] TrejGun commented on #283
@michael-ciniawsky
thanks a lot
please take a look at this one too
https://github.com/postcss/postcss-loader/issues/217#issuecomment-320733551

[2017-08-08 18:58] michael-ciniawsky commented on #217
How do you consume `postcss-loader`? npm?

[**`index.js`**](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L139-L140) (Current `master`)
[code]

What is the issue ? 😛

[2017-08-08 20:44] TrejGun commented on #217
@michael-ciniawsky oops

yes i'm consuming it via npm
and i have this error

[code]

my config is here https://github.com/postcss/postcss-loader/issues/283

[2017-08-10 11:25] kostasmanionis commented on #272
https://webpack.js.org/guides/migrating/#complex-options

So it's required again? 🤔

[2017-08-14 22:21] dudewad commented on #204
I have to back this up, I'm experiencing issues using the most basic of configurations for 2.x versions of webpack. The documentation is in severe need of updating; I've been stuck on this for several hours now and its killing me.

[2017-08-16 16:07] ovaldi commented on #40
Good job!

[2017-08-17 00:14] LoganBarnett commented on #125
For posterity: I just ran into this issue and the fix for me was downgrading file-loader from 0.11.2 to 0.11.1. I've seen nothing to indicate the degree or method of involvement.

[2017-08-22 17:20] czaarek99 opened #284 "Bluebird warnings"
My express application starts with this line ` global.Promise = require("bluebird");`. And when postcss-loader runs bluebird spews out this warning:

`(node:13276) Warning: a promise was created in a handler at C:\Programming\HtmlProjects\Shadow\node_modules\postcss-loader\lib\index.js:173:16 but was not returned from it, see http://goo.gl/rRqMUw
    at new Promise (C:\Programming\HtmlProjects\Sha

[2017-08-22 17:26] evilebottnawi commented on #284
@czaarek99 what is version `postcss-loader` your use ? Because on https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L173 line there is no promises which return something

[2017-08-22 18:25] czaarek99 commented on #284
I'm using version 2.0.6

[2017-08-23 09:06] evilebottnawi commented on #284
@czaarek99 can your create minimum reproducible test repo?

[2017-08-30 12:27] cihadturhan opened #285 "refactor: handle loader errors gracefully in watch mode"
If you have an error (e.g. sytax error), webpack shows me the following call stack

[code]
and says
`webpack: Failed to compile.`

After that point, fixing your error doesn't trigger your watcher. You have to restart webpack dev server and this could be frustrating.

Is there any solution?
Thanks in advance

---
Edit: Plugins and stack
[code]
Webpack 3.5.5 on Windows 10

[2017-08-30 12:38] michael-ciniawsky commented on #285
Does this only happen for `postcss-loader` errors? The loader uses standard webpack error handling, not sure what we can do here

[2017-08-30 12:43] michael-ciniawsky commented on #284
What's the status here ? Maybe related to #269, but `postcss-loader` won't receive any changes for custom libs unrelated to itself, especially if an ECMA Standard exists

[2017-08-30 12:49] cihadturhan commented on #285
@michael-ciniawsky I'm using [postcss/postcss-mixins](/postcss/postcss-mixins) and I was redirected to here. Gotta check some other syntax errors if same problem exists.
See https://github.com/postcss/postcss-loader/issues/285

[2017-09-01 10:22] jinker opened #287 "Module build failed: TypeError: Cannot read property 'postcss' of null"
const autoprefixer = require('autoprefixer');
    const autoprefixerCall = autoprefixer({ browsers: ['last 15 versions'] });

    const postCssLoader = {
        loader: 'postcss-loader',
        options: {
            sourceMap: true,
            plugins: [
                autoprefixerCall
            ],
            config: {
                // path: path.resolve(__dirname, './postcss.config.js')

[2017-09-01 23:55] michael-ciniawsky commented on #287
**webpack.config.js**
[code]

Reopen if still regressions :)

[2017-09-01 23:55] #287 closed

[2017-09-02 04:24] jinker commented on #287
Thanks!
But why the option `ident ` is not in the doc.

[2017-09-02 04:46] michael-ciniawsky commented on #287
#272 Feel free to send PR I just hadn't the time to do it until now and it worked without it (`ident`) in `webpack v2.2.1 =< v2.6.0` with v2.6.0+ introducing a bug 😞

[2017-09-05 17:41] lsentkiewicz opened #288 "Cannot read property 'postcss' of null"
webpack.config
[code]

Error:
[code]

Select.scss contains imports
[code]

package.json (all latest versions)
[code]

The error occurs only in PROD mode. It works if we I remove all plugins, and it always works in DEV mode.

[2017-09-05 21:17] michael-ciniawsky commented on #288
[code]

[2017-09-05 21:17] #288 closed

[2017-09-07 03:27] japboy commented on #204
This might be irrelevant though, `postcss.config.js` seems to be named as it is as always.

[code]

This works unless I change the config name to something different like `postcss.amp.conf.js` or something.

[2017-09-07 13:24] czaarek99 commented on #284
@michael-ciniawsky Yeah, that's for sure the same issue that I'm having.

[2017-09-15 22:32] mlcohen opened #290 "Migrating from Sass to PostCSS using Webpack"
Hi --

Has anyone using Sass in their web app project managed to use the `postcss-loader` to successfully transpile Sass into plain-old CSS? I ask since I'm working on a rather large web app project that makes extensive use of Sass. The project's webpack config is setup to first use the `sass-loader` (+ `node-sass`) and then use the `postcss-loader` but just so that we can use `autoprefixer`. The

[2017-09-16 08:33] michael-ciniawsky commented on #290
`postcss-scss` is **syntax** parsing only to my knowledge, so the migration effort depends on how much Sass **functionality** (mixins, extends etc) you currently use in your project. It will definitely take some effort. Also don't use `precss` anymore as it is deprecated and unmaintained => use the PostCSS Plugins you need standalone in `postcss.config.js` instead (`postcss-nested`, `postcss-mixin

[2017-09-16 08:33] #290 closed

[2017-09-22 00:42] iroy2000 opened #291 "postcss config validation"
Hi all,

Is there any issues with my config for the postcss ??

[code]

The hotloading feature doesn't work, I know I have to put that to the **first line** of the plugin, but if I put before the precss, I got an compilation error

![screen shot 2017-09-21 at 5 41 13 pm](https://user-images.githubusercontent.com/487520/30724638-1e1aeeb6-9ef4-11e7-8188-85f7285d3dec.png)

You can reproduce the issue

[2017-09-22 02:31] michael-ciniawsky commented on #291
[code]

[2017-09-22 02:31] #291 closed

[2017-09-23 06:38] iroy2000 commented on #291
Actually it doesn't seem fixing my problem, I still see the same thing

[code]

And @michael-ciniawsky , did you get this working with this ---> https://github.com/iroy2000/react-redux-boilerplate ?

[2017-09-23 15:42] michael-ciniawsky commented on #291
The warning you get is bc 'postcss-import' is unable to find/resolve `configs/color`, the path seems to be simply incorrect. In your boilerplate you use `precss (Includes a nesting plugin), postcss-nested (dito) && cssnext (Includes a nesting plugin aswell)`, so you definitely should choose **one** nesting solution. PreCSS && CSSNext are just wrappers around PostCSS Plugins. The same goes for `css

[2017-09-23 16:03] iroy2000 opened #292 "Wired PostCSS loader output"
Hi,

I'm using `"postcss-loader": "^2.0.6" ` with the following postcss plugins, and I'm having weird post css loader output

[code]

[code]

Is there compatible issues?  Or it might be my webpack config ?

The following is my webpack config

[code]

Thanks in advance for any help.

[2017-09-23 16:35] michael-ciniawsky commented on #292
What do you exactly mean by 'weird' ?  The `[null,null,null,null,null,null,null,null,null,null,null,null,null...` stuff? Hard to believe at first but this is 'correct' and has to do with webpack internals nothing to worry about here. Check the `bundle.css` file for incorrect CSS, use a small setup (1-2 files) at best

[2017-09-23 16:48] iroy2000 commented on #292
Yes, I'm talking about the `[null,null,null,null,null,null,null,null,null,null,null,null,null, ....`

I check the css output, it seems correct.  I thought that was a bug, but not sure if anyone has that issues also.

[2017-09-23 16:57] iroy2000 commented on #291
Thanks, that helps a lot.

[2017-09-23 17:32] michael-ciniawsky commented on #291
`postcss-partial-import` supports `_partial.css` (SASS) import style to my knowledge, but...
as long as you don't 💯  need to migrate a SASS code base to PostCSS free yourself from SASS conventions whenever possible as you won't really need them anymore 😛

[2017-09-23 17:38] michael-ciniawsky commented on #292
It always appears like that, bc webpack uses a query string like syntax (JSON) `postcss-loader?[options]./path/to/file.css` internally an needs to handle `{Function}` options with additional logic to stringify them and keep the reference. The `{Function}` name is lost during this process and it simply displays `null` as the name per `{Function}` ¯\_(ツ)_/¯

[2017-09-23 17:38] #292 closed

[2017-09-24 08:55] m-sureshraj commented on #79
@ai @tysonnero

Very late comment, Hope maybe useful to someone.

Setting { allChunks: true } option in ExtractTextPlugin solve the issue for me.
FYI: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/217

[2017-09-25 23:22] GiancarlosIO opened #293 "Error: No PostCSS Config found in node_modules/..."
`"postcss-loader": "^2.0.6"`
`"webpack": "^2.2.0"`

When a file from "node_modules/my_module/src/file.js" has a:
`import 'react-infinite-calendar/styles.css'
`
I get this error:
![captura de pantalla de 2017-09-25 18-08-59](https://user-images.githubusercontent.com/17274950/30835244-fa5ba5c0-a21c-11e7-9627-423f5acd796b.png)

my postcss.config.js:
`module.exports = {
    plugins: [
        require(

[2017-09-26 01:07] michael-ciniawsky commented on #293
Where is your `postcss.config.js` located in the file tree? Could you show `tree $PROJECT` please. Config lookup starts from `dirname(file)` upwards by default and something like e.g

[code]

should normally work.

Otherwise either set Plugins/Options directly `webpack.config.js` or provide the `config.path`

**webpack.config.js**
[code]

[2017-09-26 14:22] ahmedelgabri opened #294 "Not all options are passed?"
This is my config

[code]

Right now I have this error

[code]

From the error you can see that it only pass the `syntax`, it doesn't pass or use `plugins`& when I change plugins to an array instead of fn(), this becomes the error with plugins being `[null, null]`

[code]

[2017-09-26 14:36] michael-ciniawsky commented on #294
[code]

This is 'correct' as the function name gets lost during options stringification

[2017-09-26 14:38] GiancarlosIO commented on #293
@michael-ciniawsky yep, i have my postcss.config.js in the root directory
![captura de pantalla de 2017-09-26 09-40-22](https://user-images.githubusercontent.com/17274950/30866269-58569b4a-a29e-11e7-9ac2-ec1fe66d109a.png)

[2017-09-26 14:49] michael-ciniawsky commented on #293
Could you show the file where you `import/require` the component style + postcss.config.js + webpack.config.js. Do you run webpack via `gulp` ? Any possibility that `postcss-load-config` would need to to move the file tree downwards during config lookup, starting from `dirname(file)` ?

[2017-09-26 15:27] GiancarlosIO commented on #293
@michael-ciniawsky
we create our a custom node-lib
![captura de pantalla de 2017-09-26 10-24-49](https://user-images.githubusercontent.com/17274950/30868561-a2f1415e-a2a4-11e7-971e-603866c10e69.png)

in this file we have, "react-infinite-calendar" is a node_module:
![captura de pantalla de 2017-09-26 10-25-10](https://user-images.githubusercontent.com/17274950/30868585-b69935c2-a2a4-11e7-81c4-6918

[2017-09-26 15:30] ahmedelgabri commented on #294
That's the error I get now after adding `ident`, I'm using the latest version BTW.

**With plugins as a fn()**
[code]

**With plugins as a n Array**

[code]

[2017-09-26 15:48] michael-ciniawsky commented on #294
Could you add a `console.log(params.plugins)` before/after this [line](https://github.com/postcss/postcss-loader/blob/master/lib/options.js#L5) please ?

Also try to move

[code]

please, since require inside `options` tends also be buggy unfortunately 😞

[2017-09-26 18:13] ahmedelgabri commented on #294
This is the output of the `console.log`s

Before:
[code]

After:
[code]

[2017-09-27 10:24] michael-ciniawsky commented on #294
Hmm... the issue must be somewhere else. Can you post the full `{Error}` and provide a small repo repo I will try to debug it myself :). Why is `postcss-scss` needed here? `sass-loader` already passes valid CSS to `postcss-loader` in your current setup

[2017-09-27 10:35] ahmedelgabri commented on #294
Ignore the `postcss-scss` I was just testing something :)

Providing a repo will be very hard, but maybe this info will help. So this is part of a storybook custom webpack config and it's part of a monorepo.

[code]
What I'm trying to achieve, is to change the `@import` paths to point to local desk only in storybook using `postcss-import`

[code]

but I want storybook to do this instead

[code]

M

[2017-10-03 15:21] GiancarlosIO commented on #293
using this solve my problem:
`config: {
      path: 'path/to/postcss.config.js'
    } `
so I'll close this i think.

[2017-10-03 15:21] #293 closed

[2017-10-04 08:52] SerhiiBilyk opened #296 "sass @for loop does not work korectly"
Hello, this is my webpack:
...
use:ExtractTextPlugin.extract({
          fallback:'style-loader',
          use:["css-loader","sass-loader",'postcss-loader']
        })
...
If I write this sass loop:
  @for $i from 1 through 3{
    &.x-#{$i}{
        background-image: url('./img/#{$i}.jpg');
    }
  }
I have an error message: Unknown word($i) -> &.x-#{**$i**}

If I remove 'postcss-loader' from web

[2017-10-04 08:53] evilebottnawi commented on #296
@SerhiiBilyk use `["css-loader", 'postcss-loader', 'sass-loader']`

[2017-10-04 08:55] SerhiiBilyk commented on #296
d*mn, it works:)
Thank you very much:)!

[2017-10-04 08:56] #296 closed

[2017-10-08 15:02] ben-pr-p commented on #200
@IlianYotov did you ever figure it out?

[2017-10-08 17:16] IlianYotov commented on #200
Nope

[2017-10-08 21:07] ben-pr-p commented on #200
As a work around, you can leave the CSS variables in the CSS, and include a Javascript polyfill. Or use gulp

[2017-10-09 08:23] cedeber commented on #294
Same problem here. It works only if I configure it onto postcss.config.js. The options in webpack config file are not taken into account.

[2017-10-10 14:14] #285 closed

[2017-10-10 14:16] michael-ciniawsky commented on #294
@cedeber Could you provide a small repo for reproduction or at least provide more info/context (`webpack.config.js` etc....) please :)

[2017-10-10 14:17] #272 closed

[2017-10-10 14:26] #280 closed

[2017-10-10 14:27] #261 closed

[2017-10-19 18:01] mattmewton commented on #204
Bump. I'm having similar issues with the PostCSS config not being found. I am using the `path.resolve` function to find my config, but it seems that Webpack is still searching for the config in folders relative to where `postcss` is being called. So for example, if I have a `.vue` file that uses `postcss` at a path of `src/javascript/`, PostCSS will say there is no config in the `src/javascript` f

[2017-10-20 11:32] acopalipsis opened #304 "Module build failed: Error: No PostCSS Config found in"
postcss-loader - 2.0.8
postcss - 6.0.13
webpack - 3.8.1
ubuntu - 14.04

[code]

[code]

[2017-10-20 12:20] michael-ciniawsky commented on #304
Don't use `LoaderOptionsPlugin`, it isn't needed anymore since `postcss-loader`  supports `webpack >= v2.0.0` for a long time now and I removed 'support' for `LoaderOptionsPlugin` in `postcss-loader >= v2.0.0`. The `No Config...` Error occurs bc no options from`LoaderOptionsPlugin` are passed to `postcss-loader` anymore

[code]

or use a `postcss.config.js` file

[2017-10-20 12:20] #304 closed

[2017-10-21 16:26] tvvignesh opened #305 "File not generated in webpack with postcss"
I have posted a question in stack overflow: https://stackoverflow.com/questions/46865384/postcss-with-webpack

Need your help in finding out what the problem is. Thanks in advance.

[2017-10-21 16:41] michael-ciniawsky commented on #305
[code]

[code]

[2017-10-21 16:41] #305 closed

[2017-10-23 21:40] meyer commented on #292
@michael-ciniawsky sorry to resurrect an old issue, but should this issue be forwarded to the webpack issue tracker? I found this page by googling `postcss-loader "null,null,null,null,null"`.

[2017-10-25 14:29] IamManchanda commented on #42
@ai I think It should reopen!

[2017-10-25 14:38] ai commented on #42
@IamManchanda I am not a maintainer anymore =^_^= ask @michael-ciniawsky

[2017-10-25 15:37] OndeVai opened #306 "zindex: true passed to cssnano by default"
It appears that {zindex: true} is being passed by default to the cssnano plugin. This caused us some big headache in the prod build. This option is set to false by default in the plugin itself (http://cssnano.co/optimisations/), so it should the same here.

[2017-10-26 06:55] s-panferov opened #307 "[postcss.config.js] Inefficient config loading"
Hello. I have a quite complex setup for PostCSS loader and I want to use [happypack](https://github.com/amireh/happypack), so I'm forced to use a `postcss.config.js` file to configure `postcss-loader`.

I have a single `postcss.config.js` file in my project with a stable content. I use `options` to configure it at the first time, but then it remains the same all the time. But I found out that `pos

[2017-10-26 07:43] michael-ciniawsky commented on #307
[cosmiconfig](https://github.com/davidtheclark/cosmiconfig#caching) caches the file by default to avoid repetitive `fs` calls. The config needs to be evaluated for each file, bc of the context when using a `{Function}`. Do you have a concrete solution for one of our proposed solutions in mind ? Does your build time decline when using a fixed path to the config file ?

[2017-10-26 07:48] michael-ciniawsky commented on #306
Do you use `css-loader` `minimize` ? Which version of `cssnano` are you using ? `>= v4-rc.1`. `postcss-loader` doesn't alter any options to plugins by default, so the issue must by elsewhere

[2017-10-26 07:49] michael-ciniawsky commented on #294
I couldn't reproduce this so far, please provide a reproduction repo and feel free to reopen then :)

[2017-10-26 07:49] #294 closed

[2017-10-26 09:00] s-panferov commented on #307
@michael-ciniawsky

Yes, I have a fixed path to a config file. The main problem is evaluation, not reading from a file system.

The simplest solution is to allow to pass [this](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L89) function from options. This would allow me to write a simple caching decorator.

[2017-10-26 09:09] michael-ciniawsky commented on #307
What do you mean by remove :) ? If there is a way to refactor with the current logic staying in place but improved caching/memoization feel free to open a PR. Otherwise I'm afraid this is won't fix

[2017-10-26 09:15] s-panferov commented on #307
@michael-ciniawsky I haven't used the word `remove` :) Ok, I'll send a PR today

[2017-10-26 09:31] michael-ciniawsky commented on #307
Then I misunderstood your intend 😛

 kk

[2017-10-30 12:30] moretti opened #308 "[postcss.config.js] Symlink or `npm/yarn link` confuse file lookup"
The following configuration:
[code]
breaks when using `yarn link`.

I can create a minimal example to reproduce the issue, but essentially the problem is that with a project like:
[code]

`index.js`
[code]
`postcss.config.js` is resolved from the wrong location, relative to `linked-module`:

[code]
---
This is probably in line with the docs:

A workaround is to explicitly define `config.path`:

[c

[2017-10-30 17:01] #306 closed

[2017-10-30 17:02] michael-ciniawsky commented on #307
Did you find a solution ?

[2017-10-30 19:33] timbur commented on #227
Could this issue be the reason why webpack HMR no longer detects when I change the style of an existing class?

[2017-10-30 19:46] michael-ciniawsky commented on #227
I don't think so, show your config

[2017-10-30 21:22] timbur commented on #227
I've narrowed it down to the following updates (older version of postcss works without issue):
[code]

Webpack config looks like:
[code]

The CSS files are imported like so (from within the theme's .js file which maps the class names from their original class name to their `localIdentName`):
[code]

The problem is that, after upgrading the postcss dependencies above, it no longer detects when one

[2017-10-30 21:33] michael-ciniawsky commented on #227
You can't really use the `postcss-modules` plugin with `webpack`. It purpose is for other build tools like `gulp/grunt`. CSS Modules are handled by `css-loader` which is responsible for exporting the locals correctly

[code]

[code]

[2017-10-30 21:34] michael-ciniawsky commented on #227
That's why this issue exists 😛

[2017-10-30 21:40] timbur commented on #227
I'm confused as to what to do here.  Is the problem is with `css-loader` then?  What can I do to help?

[2017-10-30 22:08] michael-ciniawsky commented on #227
You are using `postcss.config.js` atm ? Remove the `postcss-modules` plugin for it and change your `webpack.config.js` to the following.

[code]

Also remove your custom HMR Code form component `style-loader` adds the necessary HMR Code

[2017-11-01 17:57] timbur commented on #227
The problem is that, for theming, I need the object which comes from the generated CSS class names so that it may be provided to components as a `classes` prop.

[code]

[code]

[code]

The minified class names are used within components like so:
[code]

When the CSS changes, these class names (the `classes` object) might change, and the components need to be given the new `classes` object.  This

[2017-11-01 18:25] michael-ciniawsky commented on #227
[code]

[2017-11-01 18:28] michael-ciniawsky commented on #227
***from.js**
[code]

**toCJS.js**
[code]

**toESM.js**
[code]

[2017-11-01 18:30] michael-ciniawsky commented on #227
Otherwise please post your issue on e.g StackOverflow as it is unrelated to this issue and `postcss-loader`

[2017-11-01 18:41] timbur commented on #227
The `require` statements are not the issue (just verified that it does *not* need `.default`).

The issue is that it never even makes it to this block of code because it doesn't accept the css files as being changed (when they are in fact changed):

[code]

As far as I can tell, the issue is related to `postcss`, as it only began happening after the following updates:
[code]

[2017-11-01 19:25] timbur commented on #227
It is entirely possible the issue is actually with `css-modules`.  I guess I'll start a thread over there.

[2017-11-02 14:22] pacahon opened #309 "`plugins` option doc out of date?"
Hello. I'm using `webpack@3.5.5` and `postcss-loader@2.0.8`.

Following the instructions here https://github.com/postcss/postcss-loader#plugins after adding `ident` to loader options I realized that my `postcss.config.js` stopped working.

I found this link https://webpack.js.org/guides/migrating/#complex-options

Looks like `ident` option not really necessary since 2.2.1?

[2017-11-02 16:34] michael-ciniawsky commented on #309
If you use `postcss.config.js` the only option you need to set in `webpack.config.js` is `sourceMap` in case you are using them. Yeah normally  `ident` shouldn't be necessary anymore since `webpack >= 2.2.0`, but in reality it is. You only need the `ident` if `options` contain a `{Function}|require()` statement, so webpack can keep the reference to them internally.

[2017-11-02 16:34] #309 closed

[2017-11-07 17:15] edouard-lopez opened #311 "Module build failed: Error: Loading PostCSS Plugin failed: Cannot find module 'postcss-import'"
Following the readme instruction I can't get it to work

### `Details`

    yarn add --dev postcss-loader

    Module build failed: Error: Loading PostCSS Plugin failed: Cannot find module 'postcss-import'

### `Error (Logs|Stacks)`

[code]
### `Reproduction [Code]`

**webpack-demo/config/postcss.config.js**
[code]

**webpack.config.js**
[code]

### `Environment`
---

Please provide information ab

[2017-11-07 17:46] edouard-lopez commented on #311
Pluging are not in the core, you need to install them, for instance

[code]

[2017-11-07 17:46] #311 closed

[2017-11-20 09:27] shanmu56 opened #312 "I had pblm node_module postcss style sheet module build failed"
Briefly describe the issue you are experiencing (or the feature you want to see
added to the plugin). Tell us what you were trying to do and what happened
instead. Remember, this is _not_ a place to ask questions. For that, go to
http://gitter.im/postcss/postcss

### `Details`
---

Describe in more detail the problem you have been experiencing, if necessary.

### `Error (Logs|Stacks)`
---

Create

[2017-11-22 13:42] malydok opened #313 "[Question] Plugin fails without `{Error}`"
I'm trying to minify my CSS with `cssnano` but the plugin fails without ever producing any errors. If `cssnano` is set to execute first, then the following plugins, e.g. `autoprefixer` never get called also.

Please see the problem reproducing project: https://github.com/malydok/postcss-loader-plugin-fail

#### `postcss.config.js`
---

[code]

#### `webpack.config.js`
---

ℹ️  `extractSass` is an

[2017-11-22 21:54] michael-ciniawsky commented on #313
Could you try using `postcss-reporter` (added after `cssnano`) and see if you get any warnings ?  `postcss-loader` handles errors, warnings emitted via `result.messages`, but can't do anything if the plugin doesn't have support for this mechanism

[2017-11-22 21:55] #312 closed

[2017-11-22 22:29] malydok commented on #313
`postcss-reporter` didn't spit out any warnings so I decided to dig around a bit and finally found that it was `sass-loader` which caused the problem. A moment later I read in `postcss-loader` documentation the following sentence:

Which solves the case. Thanks a lot and sorry for not reading the docs properly (happens to us all I guess).

[2017-11-22 22:29] #313 closed

[2017-11-22 22:33] michael-ciniawsky commented on #313
Oops 😅 I also didn't catch it...

[2017-11-25 13:01] jcrben commented on #263
Disappointed that no peerDependency is documented. It's really better to figure out what versions of webpack you support - you depend upon their API.

[2017-11-28 06:33] hualu00 opened #316 "[v2.0.6...2.0.7] `@import` path not found after upgrade"
webpack build fails, saying that `Failed to find 'path/name.css'`

In one css file,
`@import 'path/name.css'`
it used to work fine, however, fails after the upgrade.

Here is my webpack config,
[code]
and postcss.config.js
[code]

[2017-11-28 06:50] michael-ciniawsky commented on #316
Does `./path/name.css` or `/path/name.css` work? I need more info about your file structure, did you change anything else besides updating `postcss-loader` `v2.0.6...2.0.7`. From the history it's unlikely to be a regression between `v2.0.6...v2.0.7`. Did you try to revert to `v2.0.6` ? Maybe

**postcss.config.js**
[code]

[2017-11-28 06:53] michael-ciniawsky commented on #307
I have something in mind but this needs to be done in `postcss-load-config` instead with the next upgrade (memoize the config `{Function}`), I will leave the issue open for tracking purposes

[2017-11-28 07:14] hualu00 commented on #316
I didn't do anything else other than postcss-loader upgrade. And I've  tried to revert to v2.0.6, it turns out to be fine.
I think this path has been resolved by webpack as I also use it in other js files.
Why it works fine with blank `postcss-import` before with v2.0.6 ?

[2017-11-28 07:20] michael-ciniawsky commented on #316
https://github.com/postcss/postcss-loader/compare/v2.0.6...v2.0.7 There doesn't seem to be a code change possibly related to your issue. As mentioned I need more info about your setup :)

[2017-11-28 07:27] hualu00 commented on #316
Did you update the dependencies?
Following is my webpack config
[code]

[2017-11-28 08:24] michael-ciniawsky commented on #316
`webpack` alias did never work with `postcss-import`, but may work without it and letting the `css-loader` revolve the `@import`'s (better anyways). Could you try without `postcss-import` please?

[2017-11-28 08:34] hualu00 commented on #316
I've tried it and still no work

[2017-11-28 18:47] davidlago opened #317 "[v2.0.7...2.0.8] inline `options` aren't applied/serialized (`happypack`)"
### `Details`
---

After upgrading from 2.0.8 to 2.0.9, webpack fails to build a project, failing on the postcss-loader step.

### `Error`
---

Webpack output (many errors like the following):
[code]

### `Reproduction`
---

Relevant portion of our webpack.config.js:

[code]

Files with the error reported above import the following (some of them that is the only import they do):

[code]

And that

[2017-11-28 19:04] michael-ciniawsky commented on #317
Is  newer version of `happypack` able to serialize `{Function}` in `loader.options` ?  Your current issue occurs if the options in `webpack.config.js` aren't applied (not found) for some reason so `postcss-loader` tries to load a `postcss.config.js` file instead and finally fails. I don't use happypack myself but it uses workers and therefore needs to serialize the data. Using a `postcss.config.js

[2017-11-28 19:07] michael-ciniawsky commented on #316
Did you find a solution  e.g tried without `postcss-import` and changing the `@import` path to the correct URL ?

[2017-11-28 19:21] davidlago commented on #317
The same version of HappyPack was used when building the project successfully with postcss-loader 2.0.8 though... same configuration with the Function in the loader options.

[2017-11-28 19:26] michael-ciniawsky commented on #317
https://github.com/postcss/postcss-loader/compare/v2.0.7...v2.0.8 I can't spot anything suspicious in the diff that may relate to this within the commit range. Please provide a reproduction repo for debugging

[2017-11-28 19:28] davidlago commented on #317
So sorry... wrong version. It was 2.0.8 to 2.0.9:
https://github.com/postcss/postcss-loader/compare/v2.0.8...v2.0.9

[2017-11-29 02:54] hualu00 commented on #316
I don't quite understand what is the right url? relative url? and it's quite complex because we have many levels of folders.
I tried to config postcss-import in postcss.config.js, however, it doesn't work.
I'm confused with the mechanism behind postcss resolve.

[2017-11-29 03:13] michael-ciniawsky commented on #316
[code]

**postcss.config.js**
[code]

**file.css**
[code]

**file.js**
[code]

[2017-11-29 06:23] hualu00 commented on #316
I surely did this and print the root, it shows the right path, however still failed to find the css file

[2017-11-29 06:30] michael-ciniawsky commented on #316
Please provide a small repo for reproduction for debugging then, it maybe also related to

**webpack.config.js**
[code]

but I can't tell 💯

[2017-11-29 07:33] hualu00 commented on #316
After some time with postcss-import, I find this works:
[code]

[2017-11-29 21:00] michael-ciniawsky commented on #316
hmm... 🙃  If that works for you but I personally would rely on it, both `postcss-import` (`node-resolve`) && webpack (`enhanced-resolve`)  use the same underlying resolve algo (`node_modules` resolving) I'm still wondering why you add the `src` directory to `resolve.modules`

[2017-11-29 21:00] #316 closed

[2017-11-29 21:25] michael-ciniawsky commented on #317
https://github.com/amireh/happypack/wiki/Loader-Compatibility-List  According to this list a `postcss.config.js` file is mandatory to work with `happypack` in general (see my previous comment), if this changed a while ago in `happypack` and the changes to the options `filterFn` in `postcss-loader` `v2.0.8...2.0.9`  are the cause for this I will revisit this asap, albeit I doubt it tbh since tests

[2017-11-29 21:25] #317 closed

[2017-12-01 19:58] Arhane opened #318 "Unclear setup of source maps"
I have been trying to set up sourceMaps with the last version of postcss-loader. And it got really messy.

I set up `sourceMap=true` in webpack config, and I set up `map="inline"` in postcss.config.js .

If I remove  `sourceMap=true`, source maps don't work. If I remove `map="inline"`, source maps don't work correctly. My main concern is that we configure the source map usage in two different plac

[2017-12-01 20:15] michael-ciniawsky commented on #318
You can't configure source maps via `postcss.config.js` (remove it anything related to source maps entirely from the config file please) when using postcss-loader (webpack), since webpack sets [strict] requirements about the source map generation (format). The 90%  correct way to go is simply using `sourceMap: true` in `webpack.config.js`'s `postcss-loader`options.`sourceMap: inline` can be used w

[2017-12-01 20:15] #318 closed

[2017-12-05 19:19] filipesilva opened #319 "Webpack 4 support"
Briefly describe the issue you are experiencing (or the feature you want to see
added to the plugin). Tell us what you were trying to do and what happened
instead. Remember, this is _not_ a place to ask questions. For that, go to
http://gitter.im/postcss/postcss

### `Details`
---

Trying to use `postcss-loader` with `webpack@4.0.0-alpha.0` (https://github.com/webpack/webpack/issues/6064).

### `E

[2017-12-05 21:13] michael-ciniawsky commented on #319
hmm.. I wonder where this is actually coming from in `v2.0.0` since I removed the 'Custom Plugin Compilation Hook' in `v1.0.0...v2.0.0`. Could you point my to the where in `angular-cli` the loader is getting used atm ?

[2017-12-05 21:42] filipesilva commented on #319
We use it here: https://github.com/angular/angular-cli/blob/master/packages/@angular/cli/models/webpack-configs/styles.ts#L175-L182

But now that you mention the versions, I went and checked and it seems that in that project the `postcss-loader` version was actually 1.3.x. I updated to 2.0.8 and didn't have that problem anymore. So, user error :/

[2017-12-05 21:42] #319 closed

[2017-12-08 12:30] matheusdallrosa opened #320 "Error on npm run production caused by given configuration for the postcss.config.js"
The provided configuration for the postcss.config.js file is the following:
[code]
While i'm using the above configuration and i try to do npm run watch, it works pretty well, but when i try to do npm run production i receive the following errors:

[code]
I looked at the file: /node_modules/postcss-load-plugins/lib/plugins.js
And i noticed that on the following if statement:
`if (options === null

[2017-12-08 21:20] michael-ciniawsky commented on #320
This might be a bug in [`postcss-load-plugins`]  could you reopen the issue there please and I will fix it as soon as possible ? :)

[2017-12-10 18:16] matheusdallrosa commented on #320
Ok, i'll do it. I decided to post the issue here because the configuration was given on this repository. Thank you.

[2017-12-11 03:46] michael-ciniawsky commented on #320
Thx I will fix it as soon as possible alongside with a few other minor changes in the `postcss-load-*` repos :)

[2017-12-11 03:46] #320 closed

[2017-12-14 21:16] varunrajasekhar opened #324 "ERROR Invalid css after "...load the styles:" expected 1 selector or at-rule, was "var content = requi""
I am having this error while using the postcss-loader

ERROR in C:/Development/cxdigital/digital-spearhead/digital-ui/src/~/css-loader!C:/Development/cxdigital/digital-spearhead/digital-ui/src/~/postcss-loader/lib!C:/Development/cxdigital/digital-spearhead/digital-ui/src/~/sass-loader!C:/Development/cxdigital/digital-spearhead/digital-ui/src/~/extract-text-webpack-plugin/loader.js?{"omit":1,"remov

[2017-12-20 03:18] sandiprb opened #325 "SourceMap not being generated."
I'm using postcss-loader along with style loader & css loader.  My post css files are directly imported within React components and are used in conjunction  styles-loader/usable. Have parse `sourceMap: true` as options although doesn't seem to work.

### Webpack Config rules as below
[code]

Please provide information about your environment.

|OS|node|npm|PostCSS|
|:-:|:--:|:-:|:------:|
|[Mac]|[v

[2017-12-20 09:21] evilebottnawi commented on #325
@sandiprb use `sourceMap: true` for `css-loader`, because `sourceMap` is `false` by default. Thank for issue!

[2017-12-20 09:21] #325 closed

[2017-12-20 21:38] sandiprb commented on #325
Hey, that worked like a charm. Thanks a lot 👍

[2017-12-26 06:36] littp commented on #187
@michael-ciniawsky 答案修复成功，谢谢！

[2018-01-11 00:42] anthonymuau opened #327 "Can't npm install because require-from-string version 1.0.1 been removed from npm repo"
postcss-loader is failing to install because the npm package require-from-string 1.0.1 has been removed from npm.

### `Details`
---

postcss-loader has of dependencie of postcss-load-plugins  that has a dependencie of cosmiconfig what has dependencie of require-from-string 1.0.1. require-from-string 1.0.1 has been removed from npm so npm install fails.

### `Error (Logs|Stacks)`
---
npm ERR! nota

[2018-01-11 04:22] michael-ciniawsky commented on #327
https://github.com/npm/registry/issues/255#issuecomment-355771177

[2018-01-11 04:22] #327 closed

[2018-01-18 22:13] marko911 opened #328 "Can't resolve relative imports on fonts when importing nested scss"
### `Details`
---

I've read another issue thats basically exactly as mine but I cant find it to reference it.
The jist of the problem: I have a file `/src/app/components/card/font.scss/` with another directory `fonts/` in the same directory.

Inside `font.scss` I have :

[code]

In another file `/src/app/components/dashboard/dashboard.jsx` I import the `font.scss` like so :
`@import '../card/font

[2018-01-19 10:38] theboyWhoCriedWoolf opened #329 "Error: ENOENT: no such file or directory ...node_modules/@std/esm/esm.js.gz"
Hello,

I am suddenly getting an issue trying to add the postcss-cssnect plugin. throws the following error:

[code]

It works fine without this plugin. I have asked postcss-cssnext and was informed it could not be their plugin. Perhaps a recent update has created an issue?

Thanks

[2018-01-19 11:38] michael-ciniawsky commented on #328
``
`js
require('postcss-import')({ root: loader.resourcePath }),
[code]

or put the fonts for the component relative to the file

:warning: `precss !== SASS`  It's provides SASS like functionality **for** CSS (`.css`) but isn't SASS

[2018-01-19 11:38] #328 closed

[2018-01-19 11:42] michael-ciniawsky commented on #329
[code]

I can't really tell from the info provided, but did you try to clean your `node_modules` folder and the `@std/esm` cache ? Looks unrelated to `postcss-loader`...Are you using a `postcss.config.js` file ?

As mentioned I need more info about your setup please

[2018-01-19 12:07] theboyWhoCriedWoolf commented on #329
I cleared and reinstalled a few times. I am using the following config in webpack:

[code]

[2018-01-24 06:25] simonbuchan commented on #307
Sounds like OP wants something like babel 7's caching api for `.babelrc.js`. Essentially:

[code]

now babel only needs to evaluate `aExpr` and `bExpr` for each file. There's a bunch more detail, but no docs yet, other than the error you get when it's not configured: https://github.com/babel/babel/pull/5608/files

[2018-01-24 06:35] michael-ciniawsky commented on #307
@simonbuchan Thx I will definitely look into it :). Should be similar to memoizing the `{Function}` calls in `postcss-load-config`, but I will check what they did aswell 😛

[2018-01-27 20:21] amir20 opened #330 "Config for plugins doesn't seems to work"
### `Details`

I am trying to disable warnings for `customer-properties` by doing `warnings: false`.

[code]

### `Error (Logs|Stacks)`

[code]

### `Reproduction [Code]`

See above.  You can also clone my project at https://github.com/amir20/clashstats/tree/font-magic and run `webpack --progress` to see it fail.

### `Environment`

|OS|node|npm|PostCSS|
|:--:|:----:|:---:|:-------:|
|MacOS X|`>=

[2018-01-27 20:22] amir20 commented on #330
I have tried this for hours and I can't figure out how to configure `ExtractTextPlugin` with postcss. It doesn't seem like it is working with custom config.

[2018-01-27 20:42] michael-ciniawsky commented on #330
You're getting this warning from `postcss-cssnext` which already includes `postcss-custom-properties` https://github.com/MoOx/postcss-cssnext/blob/master/package.json#L31 wanings are enabled there

[2018-01-27 20:43] amir20 commented on #330
Thanks for the quick response. So is there no way to disable it within cssnext?

[2018-01-28 02:34] amir20 commented on #330
Thanks, @michael-ciniawsky. I realize `css-next` is not even your project. But that worked. This has been annoying me for 2 months now and you finally figured it out.

[2018-01-28 02:34] #330 closed

[2018-01-29 16:00] nvromis opened #331 "3"
Briefly describe the issue you are experiencing (or the feature you want to see
added to the plugin). Tell us what you were trying to do and what happened
instead. Remember, this is _not_ a place to ask questions. For that, go to
http://gitter.im/postcss/postcss

### `Details`
---

Describe in more detail the problem you have been experiencing, if necessary.

### `Error (Logs|Stacks)`
---

Create

[2018-01-29 18:21] #331 closed

[2018-02-02 00:51] #227 closed

[2018-02-02 02:00] michael-ciniawsky commented on #324
Please always put our code in backticks \``` Code \``` and feel free to reopen an new issue

[2018-02-02 02:00] #324 closed

[2018-02-02 02:01] michael-ciniawsky commented on #329
Did you find a solution ?

[2018-02-02 02:02] #308 closed

[2018-02-02 20:43] #329 closed

[2018-02-02 20:43] #274 closed

[2018-02-02 21:03] theboyWhoCriedWoolf commented on #329
Hello @michael-ciniawsky, it seemed to be a mismatch in versions and I not only had to clear cache but also clear my directory and move files. So possibly just an issue with my system.

All good now. Thanks

[2018-02-06 05:43] mrkhanakia opened #333 "postcss BrowserslistError: Unknown version 61 of firefox"
I am getting error while using postcss loader with webpack **BrowserslistError: Unknown version 61 of firefox**

`
Child extract-text-webpack-plugin node_modules/extract-text-webpack-plugin/dist node_modules/css-loader/index.js??ref--4-1!node_modules/resolve-url-loader/index.js??ref--4-2!node_modules/postcss-loader/lib/index.js??ref--4-3!node_modules/sass-loader/lib/loader.js??ref--4-4!node_module

[2018-02-06 09:55] michael-ciniawsky commented on #333
There isn't a Firefox 61 released yet (latest is 58) ? 😛  Did you mean Chrome 61 ?

[2018-02-06 09:55] #333 closed

[2018-02-06 10:18] mrkhanakia commented on #333
I know firefox has not 61 version
Please check the error log it is saying **Unknown version 61 of firefox**

[2018-02-12 14:58] MathiasSM opened #334 "Unmet peer dependency "ajv@^5.0.0""
Dependency `schema-utils` (which I don't know what's it for) has peerDep `ajv` (which I don't get why would be needed here).

### `Error (Logs|Stacks)`
---

yarn warning message:

[code]

### `Reproduction [Code]`
---

[code]

### `Environment`
---

|OS|node|npm|PostCSS Loader|
|:-:|:--:|:-:|:------:|
|macOS 10.12.6|9.4.0|5.6.0|2.1.0|

[2018-02-12 15:30] michael-ciniawsky commented on #334
Are you using `>= webpack v4.0.0-beta.0` ?

[2018-02-12 19:45] MathiasSM commented on #334
Nope. I'm using Webpack 3.11.0

[2018-02-12 19:53] michael-ciniawsky commented on #334
https://github.com/webpack/webpack/pull/6430 `webpack =< v4.0.0` (`>= v3.11.0`) also updated `ajv`. Good to know :) I will release a `patch` for `schema-utils` (the dependency updates are already on `master`) and the warning should be fixed. mom...

[2018-02-13 11:02] ParallelUniv3rse commented on #204
@mattmewton I think you're just using the __dirname variable wrong.
I managed to finally get everything working and I'm set up as follows:

directory structure for reference:
[code]

in webpack.config.js:
[code]

postcss.config.js:
[code]

[2018-02-13 13:54] michael-ciniawsky commented on #334
https://github.com/webpack-contrib/schema-utils/releases/tag/v0.4.4

[2018-02-13 13:54] #334 closed

[2018-02-13 19:52] backwardok commented on #334
Can the upgrade to ajv happen in a major release and a new patch release be put out that downgrades ajv again? This is resulting in a number of dependency issues, one of which is eslint: https://github.com/eslint/eslint/blob/master/package.json#L37.

Since the ajv bump is a major bump, it is causing a ripple effect in all the dependencies that have it pegged to all minor releases. And, as this was

[2018-02-16 11:15] kirjai opened #335 "Use with webpack, autoprefixer and browserslist throws a "BrowserslistError""
### `Details`
---
Adding `postcss-loader` that requires `autoprefixer` in `postcss.config.js`, with `browserslist` config throws a `BrowsersListError`.

Before the error is thrown, there's a following warning higher up the webpack output:
[code]

### `Error (Logs|Stacks)`
---
[code]

### `Reproduction [Code]`
---

- Browserslist config in `package.json`:
[code]

- Webpack loaders:
[code]

- Postcs

[2018-02-16 11:25] kirjai commented on #335
Explicitly installing `autoprefixer`, rather than relying on in being installed by the dependencies is the way to go.

**simply running `npm i autoprefixer` solved the problem.**

[2018-02-16 11:25] #335 closed

[2018-02-22 12:30] webpack-bot opened #337 "Relative url() in css with path *without* quotation marks not resolvable"
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**

Webpack fails to resolve relative paths in a CSS file with a relative url() whose path is not enclosed in quotation marks.

This is the error I get:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I guess that it's a bug, because it's a change in behavior comp

[2018-02-23 16:34] jimryanzulueta opened #338 "Still using postcss-smart-import?"
### `Details`
Was using webpacker for rails and I got this message, Seems to like it is still referencing `postcss-smart-import`

### `Error (Logs|Stacks)`
[code]

[2018-02-23 16:36] TrySound commented on #338
@jimryanzulueta What do you mean by "still"? We don't know the context.

[2018-02-25 15:15] adi518 commented on #264
Such an annoying bug. I have the same issue as @KagamiChan.

[2018-02-26 01:50] #338 closed

[2018-02-26 10:52] jussikinnula opened #340 "[v2.1.1] breaks `resolve-url-loader`"
When upgrading to 2.1.1 version of postcss-loader, file-loader and url-loader functionality is broken (e.g. using require(<file>) in JavaScript files or url(<file>) in CSS files).

The error message:
[code]

The problem seems to be that stylus-loader the path wrong. It should be `/Users/xxx/dev/app/App` (not `/Users/xxx/dev/app/App/app/App`).

On this case the index.styl contains:

[code]

On Webp

[2018-02-26 10:55] jussikinnula commented on #340
Manually readding `to: file,` to options (ultimately reverting the PR #339 fix) resolves the issue:
https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L105-L112

[2018-02-26 10:57] Demivan commented on #340
Have same issue with resolve-url-loader.
`resolve-url-loader` uses `SourceMapConsumer.originalPositionFor` from `mozilla/source-map`.  Path resolved by that method is now wrong:
[code]
with version 2.1.0:
[code]

[2018-02-26 11:01] evilebottnawi commented on #340
Move `postcss-loader` above `resolve-url-loader`

[2018-02-26 11:01] evilebottnawi commented on #340
Also `resolve-url-loader` use `rework` (which deprecated and very buggy)

[2018-02-26 11:12] Demivan commented on #340
Yeah, I know :). But it does not change that `mozilla/source-map` is now returning wrong path. It probably breaks other loaders too: like `file-loader`/`url-loader` for @jussikinnula

[2018-02-26 11:21] evilebottnawi commented on #340
/cc @michael-ciniawsky

[2018-02-26 11:22] jussikinnula commented on #340
After changing the order (moving `postcss-loader` above `resolve-url-loader`) gets rid of the error.

I understand the fact that many webpack loaders are buggy, but for now I haven't been able to resolve resolve importing/requiring a Stylus file inside a Stylus file - without using `resolve-url-loader`. Without it, the imported Stylus files are looking url(<file>) inside the same directory where t

[2018-02-26 11:24] evilebottnawi commented on #340
@jussikinnula we can just rewrite `resolve-url-loader` on postcss and release this to avoid problem in url for  scss/stylus and etc

[2018-02-26 11:25] jussikinnula commented on #340
@evilebottnawi, that would be superb. It would simplify our life of bundling a lot of reusable React components in component libraries :-)

[2018-02-26 11:25] Demivan commented on #340
There is already pending pull request to use postcss in resolve-url-loader

[2018-02-26 11:26] Demivan commented on #340
but resolve-url-loader as postcss plugin would be just great

[2018-02-27 21:46] michael-ciniawsky commented on #340
Sry, I didn't think of `resolve-url-loader` when merging #339 :). The fact is that

1. `resolve-url-loader` is basically a hack in general
2. This should be fixed in/guarded by `resolve-url-loader` itself
3. The use case for `resolve-url-loader` can be implemented in a cleaner way
4. It forces other loaders like e.g `postcss-loader` to produce malformed source maps then

The change should not have

[2018-02-27 21:46] #340 closed

[2018-02-28 13:53] codedumper commented on #337
It is affecting google/material-design-icons too.
https://www.w3.org/TR/CSS1/#url doesn't require quotes.
I opened issue (736) and PR is on the way adding quotes to url, but it shouldn't be required.

[2018-02-28 14:52] Brampage commented on #337
It seems that the next release of Angular-CLI contains the fix for this issue. Take a look at [this thread](https://github.com/angular/angular-cli/issues/9726#issuecomment-367750414).

[2018-03-05 12:40] bholloway commented on #340
It seems like the source-map outgoing from `postcss-loader` is corrupted before it enters `resolve-url-loader`, at least on windows.

See [analysis here](https://github.com/bholloway/resolve-url-loader/issues/77#issuecomment-370400252). Please let me know your thoughts.

[2018-03-05 15:17] julmot commented on #340
@michael-ciniawsky Coming here since I had this issue and debugged this with the help of @bholloway's analysis (see above). I could only fix it with https://github.com/postcss/postcss-loader/issues/340#issuecomment-368464592. However, it took a while to come here, so this can't be a solution for the mass. I'd highly appreciate if you and @bholloway could please coordinate a solution. The points yo

[2018-03-05 15:37] bholloway commented on #340
There could be a couple of issues going on here. But for Windows I am suggesting there is probably a large problem.

After some digging it looks like `mozilla/source-map` (used by `postcss`) has considered paths to be URIs for at least 2 years. Hence this [silly concatenation](https://github.com/mozilla/source-map/blame/master/lib/util.js#L227) on windows.

I note that `postcss` state that ["you s

[2018-03-06 02:18] Grawl commented on #48
still have the same problem using [`symfony/webpack-encore`](https://github.com/symfony/webpack-encore) and [`postcss-inline-svg`](https://github.com/TrySound/postcss-inline-svg)

[2018-03-07 06:45] aleen42 opened #341 "`-webkit-box-orient` has been removed?"
I have recently update dependencies of my project and use Webpack 3 to build, and found a strange thing when using `postcss-loader` with `autoprefixer`. If set with `-webkit-box-orient: vertical;`, and I got the output file without this property. Please check whether it is a bug of `autoprefixer`?

### `Reproduction [Code]`
---

[code]

Got:

[code]

### `Environment`
---

|OS|node|npm|PostCSS|
|:

[2018-03-07 06:53] aleen42 commented on #341
It seems that autoprefixer has also actted like this when specify browsers with `default`

[2018-03-07 11:56] eivisand opened #342 "Not all border widths set to 0 loads as `border-width: 0`"
When two or more `border-{edge}-width: 0` and `border-{different-edge}: borderstyle` are defined, the output after postcss is `border-width: 0; border-{different-edge}: borderstyle;`, meaning it sets all border-widths to 0 even if only two or more are set.

### `Details`

### `Reproduction [Code]`
---
originalStyle.css:
[code]

outputStyle.css:
[code]

.postcssrc.js:
[code]
webpack.config.js:
[cod

[2018-03-07 11:59] evilebottnawi commented on #341
@aleen42 please move your issue in autoprefixer, it is not related to `postcss-loader`. Thanks!

[2018-03-07 11:59] #341 closed

[2018-03-11 15:05] milewski opened #343 "Invalid path resolutions in version 2.1.1"
After upgrading to the latest version `2.1.1` my build no longer works, all relative paths seems to be resolving to an invalid path:

[code]

faq-block.vue scss
[code]
rolling back to the version `2.1.0` solves the issue

currently i'm using Window 10

[2018-03-15 15:04] evilebottnawi commented on #342
@eivisand Thanks for issue, but no related to `postcss-loader`. We just wrapper around `postcss`. You problem arise from `cssnano`, please create issue there.

[2018-03-15 15:04] #342 closed

[2018-03-15 15:06] evilebottnawi commented on #343
@milewski don't related to `postcss-loader`, problem in `resolve-url-loader`, it is very buggy and old loader. You can use absolute url or create new `resolve-url-loader` for solve this problem, sorry, but we have time on this.

[2018-03-15 15:06] #343 closed

[2018-03-15 15:07] evilebottnawi commented on #343
Also you can have `resolve-url-loader` above `postcss-loader`, just change their order

[2018-03-18 05:18] saknarak opened #347 "useConfigFile error with 2.1.2"
I use nuxt.js

I found that v2.1.2 has problem with useConfigFile option, but v2.1.1 not.

[code]

[2018-03-18 05:31] saknarak commented on #347
I found ```additionalProperties``` has been changed from ```true``` to ```false``` will be cause of this problem.
When I switch back to ```true```, it's work without problem.

[2018-03-18 12:50] derevandal commented on #347
#346

[2018-03-19 05:09] garthk opened #348 "regression in 2.1.2: ValidationError: PostCSS Loader Invalid Options"
### `Details`

In 2.1.2 but not 2.1.1 or previous, `postcss-loader` is throwing many errors of the form:
[code]

### `Error (Logs|Stacks)`

From a later long blob of errors, we can extract a stack:

[code]

### `Reproduction [Code]`

None yet extracted.

### `Environment`

Observed on Linux and macOS, and Node 8.x and 9.x, with `webpack` 3.11.0  and `postcss-loader` 2.1.2.

[2018-03-19 07:46] Helena-Wong commented on #348
encounter similar problem
`Module build failed: ModuleBuildError: Module build failed: ValidationError: PostCSS Loader Invalid Options

options['minimize'] is an invalid additional property`

[2018-03-19 07:48] AntonRatnick commented on #348
Same error with options['outputStyle']
linux
node - 8
webpack@3.11.0
postcss-loader@2.1.2

[2018-03-19 08:56] evilebottnawi commented on #348
Sorry, just wait in near future will be revert and release

[2018-03-19 14:23] franciscolourenco commented on #66
@michael-ciniawsky to clarify, is `postcss.config.js` watched and rebuild by default? Or does it need the setup proposed by @MoOx?

[2018-03-19 15:33] franciscolourenco commented on #66
@michael-ciniawsky is it possible to watch variable files imported in postcss.config.js or do they need to be added as dependencies like @MoOx suggested and the cache invalidated?

[2018-03-20 02:28] Kovensky opened #350 "postcss warnings print "(Emitted value instead of an instance of Error)""
### `Details`
---

When using a postcss plugin that may report warnings (e.g. postcss-custom-properties when it can't find the var definition, or stylelint in postcss plugin mode), the warnings are not emitted according to the webpack3+ API that requires that all warnings be instances of Error.

### `Error (Logs|Stacks)`
---

[code]

### `Reproduction [Code]`
---

A stylelint-as-plugin setup which

[2018-03-20 17:21] ai commented on #347
I reverted `additionalProperties` and released 2.1.3

[2018-03-20 17:21] #347 closed

[2018-03-20 17:21] ai commented on #348
I reverted `additionalProperties` and released 2.1.3

[2018-03-20 17:21] #348 closed

[2018-03-28 05:40] Cybolic opened #351 "`parser` is ambiguously handled"
The documentation lists the valid types for `parser` as `{String|Function}` in the "Syntaxes" section, but it actually only accepts `{String|Object}`. It's mentioned as `{String|Object}` in the section above.

### `Details`
---

Changing `options.json` to allow a function does work, so I'm not sure whether the code or the documentation is wrong here.
Apart from this, there's no description of the

[2018-03-28 19:46] neslinesli93 opened #353 "context.env not being honoured"
For some reasong, I am finding that `context.env` is always equal to `development` as it resorts to the default value. I'm setting `process.NODE_ENV` to `production` in my webpack production config file, but it's then ignored inside my `postcss.config.js`.

Thanks

[2018-04-06 10:38] kisenka opened #354 "Assess to webpack compilation object in postcss config context"
I writing postcss plugin which produce extra asset (svg sprite) and need ability to write this asset to webpack's output file system. In 0.x versions of this loader it was feature when you can access loader object itself  (`webpack` context property of postcss config). Using this, postcss plugins for instance can write assets directly to webpack compilation object, but [it was removed](https://git

[2018-04-06 10:46] evilebottnawi commented on #354
@michael-ciniawsky looks like we break plugins which emit assets. I think we should return this behaviour

[2018-04-07 03:36] minhtranite commented on #353
I tried inject env from webpack config into postcss config but it inject to context.options.env instead of context.env. Is it a bug ?

Inside webpack config:
[code]
Run `webpack --mode=production` and the context in postcss config file:
[code]

[2018-04-10 18:38] systemist commented on #353
There seems to be a bug in webpack-cli.

`NODE_ENV=production ./node_modules/.bin/webpack` works as expected.

`./node_modules/.bin/webpack --env.NODE_ENV=production` doesn't work. The value of process.env.NODE_ENV is **development**;

[2018-04-10 18:40] evilebottnawi commented on #353
@systemist can you create issue in `webpack-cli`?

[2018-04-10 18:54] systemist commented on #353
@evilebottnawi actually I was wrong (kind of). When passing `--env.NODE_ENV=production` argument, the value of process.env.NODE_ENV will be **production** inside `webpack.config.js`, but **development** inside `postcss.config.js`;

Using the shell to set environment var works in both configs.

[2018-04-11 02:25] TrejGun commented on #207
@gregorskii removing of
[code]
fixed my issue, thanks

[2018-04-12 09:14] t00768nh commented on #311
テンプレートイメージで写真アップすると大きくはみ出ますね
https://gyazo.com/1bfc1606b3feb9579395b776d52b0ad8

[2018-04-12 17:35] MrVichr commented on #204
Just a note to anyone with this problem, I spent quite a few hours checking all configs back and forth until I figured out that I had to add an empty plugins() function for PostCSS to recognize the options.
[code]

[2018-04-19 16:17] ameyakarve commented on #337
Any updates here? If no one is working on this, I could give it a shot maybe

[2018-04-19 16:26] ameyakarve commented on #337
I was able to reproduce independently; that's when I stumbled upon this. I'll post steps in a while

[2018-04-20 10:06] evilebottnawi commented on #337
@ameyakarve looks we need minimum reproducible test repo :disappointed:

[2018-04-20 10:54] fubar-coder commented on #337
It seems that the angular team fixed in in their copy: https://github.com/angular/angular-cli/pull/9738

[2018-04-20 10:59] evilebottnawi commented on #337
/cc @filipesilva looks like this bug happens only for angular-cli (old versions) and don't related to postcss-loader?

[2018-04-20 11:05] nikolay-borzov commented on #353
Have the same issue. It seems like webpack sets `process.env.NODE_ENV=production` after postcss-loader processes `postcss.config.js`

webpack.prod.js:
[code]

npm script:
[code]

postcss.config.js:
[code]

Outputs: ENVIRONMENT development development.

Change script to:
[code]
And output will be: ENVIRONMENT production production

[2018-04-27 01:01] bspies-work opened #357 "Not working with webpack 4"
postcss-loader 2.1.4
webpack 4.6.0

[code]

Error:
 FAILED to compile with webpack: ModuleBuildError: Module build failed: TypeError: loader._compilation.applyPluginsWaterfall is not a function
    at /Users/bspies/GW/Source/portals/portals-frontend/react-portal/node_modules/postcss-loader/index.js:122:43
    at <anonymous>:null:null

[2018-04-27 10:42] evilebottnawi commented on #357
@bspies-work You use old version of `postcss-loader` (i.e. 1, here code https://github.com/postcss/postcss-loader/blob/1.3.3/index.js#L122). Also you remove issue template. And don't provide minimum reproducible test repo. We can't help you here, sorry. Feel free to reopen issue when you upgrade postcss-loader and fix issue template. Thanks!

[2018-04-27 10:42] #357 closed

[2018-04-29 16:35] filipesilva commented on #337
@evilebottnawi we fixed the similar problem we had on Angular CLI but did so by fixing a bug in our custom postcss plugins. I don't it is related to postcss-loader at all.

[2018-04-30 11:02] evilebottnawi commented on #337
@filipesilva Thanks!

[2018-04-30 11:02] #337 closed

[2018-05-03 15:38] ZSkycat commented on #353
[code]

Add this line of code to fix the bug temporarily:
`process.env.NODE_ENV = 'production';`

[2018-05-03 19:47] galvarez421 opened #358 "Do not require postcss.config.js name when using config.path option"
### `Details`
---

Is there a reason that the config path cannot point to a module that does not have the name `postcss.config.js`? I created a shareable PostCSS config file with the intention to reuse it across multiple projects, and I assumed that if I pointed to this file using the `config.path` then the file would work regardless of it name. I certainly don't mind renaming the config file in m

[2018-05-03 20:24] evilebottnawi commented on #358
@galvarez421 looks like bug inside `postcss-load-config` package
Feel free investigate and send PR :+1:

[2018-05-04 13:26] evilebottnawi opened #360 "`postcss-load-config` to `postcss` org"
@michael-ciniawsky @ai
I think we should move `postcss-load-config` under `postcss` org to better maintenance, anyone can be absent for some reason, i think better move this repo under `postcss` org, then update deps and fix problem.

Related issues: https://github.com/postcss/postcss-loader/issues/358, maybe https://github.com/postcss/postcss-loader/issues/307

[2018-05-04 13:28] evilebottnawi commented on #353
Looks like bug, PR welcome, should be easy to fix

[2018-05-04 14:38] ai commented on #360
Or even move it to the core 😏

[2018-05-04 14:42] evilebottnawi commented on #360
@ai I think moving it to the core can take more time (triangle/discussion/other meta stuff). I agree will be great have this in core. Just to eliminate current issues, it would be enough to transfer this to repo and upgrade deps.

[2018-05-04 22:56] michael-ciniawsky commented on #358
The name is an hardcoded requirement of `cosmiconfig` and 'enforces' are convention which is intended. You are revering to `extends` within `eslintrc` configs which isn't currently supported by `postcss.config.js` directly. A `postcss.config.js` file is scoped to the project, but you may `require()` a preset shared through an node module as follows

**postcss.config.js**
[code]

[2018-05-04 22:56] #358 closed

[2018-05-04 23:03] michael-ciniawsky commented on #353
`env` is set by `process.env.NODE_ENV` or defaults to `development`. Since `webpack` decided to not rely/fallback on `NODE_ENV`  for `mode`, it is unfortunate but you need to add `mode` to the ctx yourself or set `NODE_ENV` separately to webpack's  `mode`

### `1`

**webpack.config.js**
``
`js
module.exports = {
   mode: 'development'
   ...
     {
        loader: 'postcss-loader'
        options:

[2018-05-04 23:03] #353 closed

[2018-05-04 23:10] michael-ciniawsky commented on #354
I like the idea, but need more info about exact requirements here. @kisenka could you share a small demo project ?

[2018-05-05 15:41] evilebottnawi commented on #360
/cc @michael-ciniawsky can we update deps for `postcss-load-config`? `cosmiconfig` have better perf on 4 version

[2018-05-05 17:36] ai commented on #360
@evilebottnawi do we have breaking changing in that release?

[2018-05-05 17:37] ai commented on #360
I don’t have npm access to help here with a quick release. Try to write an email.

[2018-05-05 17:40] evilebottnawi commented on #360
@ai let's wait @michael-ciniawsky if no answer, we can recreate new repo :disappointed:

[2018-05-05 17:41] ai commented on #360
Forking is not an option. Especially, just to update dependencies.

[2018-05-05 18:51] michael-ciniawsky commented on #360
We can of course move it under `postcss` and everyone who needs it can have any access to, since it is meant to be the common `postcss` config and not just some opinionated module of mine. @evilebottnawi It works without any issues atm, so their is really no need to rush anything here :). Any kind of  'perf' improvement is claiming until it is actually benchmarked... There are a few things outstan

[2018-05-05 18:56] ai commented on #360
@michael-ciniawsky glad you are back 😸. Yeap, no rush.

Could you give me (`iskin` at npm) npm access just in case of security or other critical issue?

I am still thinking what we will get from adding library as dependency to PostCSS core. Seems like right now all PostCSS runners anyway use it.

[2018-05-05 19:09] michael-ciniawsky commented on #360
It could also be included in core directly instead of being a separate module or core ships with the module included by default (with a condition to exclude it for other targets then node) trying to load a config via `options.from || process.cwd()`. Since it will always require access to the File System and therefore 'only' really work with node (which is the main use case), the question is if thi

[2018-05-05 19:25] michael-ciniawsky commented on #360
Yep, something like that :)

[2018-05-05 19:25] evilebottnawi commented on #360
@michael-ciniawsky thanks for access, now we can solve security problems and big bug  :+1:

[2018-05-05 19:30] michael-ciniawsky commented on #360
😮 I just added @ai on npm atm. Who and what access does anyone envolved need (github/npm) ? Should we move it to `postcss` or leave it and discuss core integration first (the module is then deprecated and obsolete soon anyways) ?

[2018-05-05 19:33] ai commented on #360
I think my contact will be enough.

Yeap. Let's create a issue in `postcss/postcss`

[2018-05-05 20:55] michael-ciniawsky commented on #360
https://github.com/postcss/postcss/issues/1147

[2018-05-05 20:55] #360 closed

[2018-05-05 20:55] #307 closed

[2018-05-07 09:06] TimeBandit commented on #319
Saw same issue, upgrading to `"postcss-loader": "^2.1.5"` and the problem went away

[2018-05-09 21:53] goldfire opened #362 "Output is duplicated when using postcss-loader and mini-css-extract-plugin"
When using `postcss-loader` in combination with `css-loader` and `mini-css-extract-plugin` to combine multiple css files into one, the css output gets duplicated in the final file. The below code works; however, all of the CSS is included in the styles.css file twice. If I remove the `postcss-loader` portion from the webpack config, it is no longer duplicated. I also tried removing all plugins fro

[2018-05-10 10:33] evilebottnawi commented on #362
@goldfire please create minimum reproducible test repo, thanks!

[2018-05-10 20:58] goldfire commented on #362
While putting the minimal test repo together I discovered that the issue was I had an `index.css` file that was `@import`ing each CSS file. I guess the behavior with this changed from Webpack 3 to 4 (or I didn't notice it was duplicating before)? This caused all of those CSS files to be included in the output twice.

[2018-05-10 20:58] #362 closed

[2018-05-11 15:22] Nemo64 commented on #350
Can confirm. This is really annoying since the log is really verbose.

[2018-05-15 09:42] maurocolella opened #363 "WebPack 4: css.walkAtRules is not a function"
Using Webpack 4 with postcss inline and sass, I get the error described hereafter on every single css or scss file.

### Error

`in ./node_modules/normalize.css/normalize.css (./node_modules/css-loader??ref--5-1!./node_modules/postcss-loader/lib??ref--5-2!./node_modules/normalize.css/normalize.css)
Module build failed: TypeError: css.walkAtRules is not a function`

### Reproduction

https://gist.g

[2018-05-17 06:52] zenoven commented on #353
I got env undefined in postcss.config.js

 in the npm scripts there is no env set

[code]

[code]
 which output is
[code]

[code]
 which output is
[code]

I'm really confused, shoud I set env in the npm scripts first?

[2018-05-17 07:10] michael-ciniawsky commented on #353
Yep :)

[code]

**webpack.config.js**
[code]

See my comment above for how to add webpack `mode` to the config context, albeit I don't recommend doing so, since it is needlessly verbose and redundant to use `mode` over `env`. Just ensure to set `mode` via `env` in the config to enable all `webpack` related optimizations

[2018-05-27 17:35] bifunctor opened #364 "Unnecessary curly bracket"
Hi all

I am trying to use `postloader`rwith webpack 4 as following:
[code]

I have to include node_modules, because of https://github.com/material-components/material-components-web

The` index.scss` file contains:

[code]
The compiler complains:

[code]
Thanks

[2018-05-28 10:55] evilebottnawi commented on #364
@bifunctor looks you have invalid configuration and `scss` doesn't compile to css. Can you create minimum reproducible test repo?

[2018-05-28 20:01] bifunctor commented on #364
That is the whole configuration:

[code]

Hope it helps.

THanks

[2018-05-29 16:59] evilebottnawi commented on #364
@bifunctor it is syntax error, you have invalid `scss` or `css`, please create minimum reproducible test repo. Also in future use `gitter` or `stackoverflow`

[2018-05-29 17:03] evilebottnawi commented on #354
@kisenka friendly ping

[2018-05-29 17:05] evilebottnawi commented on #350
@Kovensky can you create minimum reproducible test repo? Or it is enough throw error inside `postcss` plugin?

[2018-06-01 18:46] evilebottnawi commented on #364
@bifunctor problem still exists?

[2018-06-02 22:31] bifunctor commented on #364
Yes, I will create an example and will post it.

Thanks

[2018-06-18 12:34] siemiatj commented on #65
Just for the recard, I got the same error when using old postcss version with webpack 4 config.

[2018-06-19 00:31] klimashkin commented on #51
Hi @feimosi! Did you find out what was the reason of the issue?
See the same problem with babel-loader

[2018-06-24 12:12] feimosi commented on #51
@klimashkin unfortunately not

[2018-06-28 21:39] PawelGIX opened #366 "sourcemap loses information about source file from the previous sourcemap"
### `Details`
---

posscss-loader loses information about source file from the previous map.
links to a single app.scss file generated by sass-loader

### **with postcss-loader**
![image](https://user-images.githubusercontent.com/391153/42061853-d08106a8-7b2b-11e8-87f5-5eb1fceee826.png)

### **without postcss-loader**
![image](https://user-images.githubusercontent.com/391153/42061964-428e6600-7b2c

[2018-06-29 09:42] evilebottnawi commented on #366
/cc @ai Problem in postcss? We send file https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L108

@PawelGIX Can you create minimum reproducible test repo?

[2018-06-29 14:57] ai commented on #366
The problem is between Sass, source-map and PostCSS :D

[2018-06-29 14:58] evilebottnawi commented on #366
@ai can you provide link on issue or some other stuff?

[2018-06-29 15:00] ai commented on #366
Nope. The best way to understand what happens https://sokra.github.io/source-map-visualization/

[2018-07-02 11:07] OliverJAsh commented on #319
What was the exact fix for this issue, and in which release did it first appear?

Upgrading to the latest version isn't a great solution, as many times that only replaces old bugs for new bugs. If we can work in terms of specific fixes, then we can deal with bugs on a case-by-case basis.

[2018-07-02 11:22] OliverJAsh commented on #319
It appears the fix for this issue first appeared in v2.0.0, although the changelog doesn't mention it: https://github.com/postcss/postcss-loader/blob/928d5c41d5e2bdec130b3c0899760889466ae7bd/CHANGELOG.md#200-2017-05-08

[2018-07-04 07:48] Tanuj69 opened #367 "I am unable to install it"
`Microsoft Windows [Version 10.0.10240]
(c) 2015 Microsoft Corporation. All rights reserved.

C:\Users\DELL>cd desktop\suliteos

C:\Users\DELL\Desktop\suliteos>npm i -D postcss-loader
[            ......] \ finalize:code-point-at: sill finalize C:\Users\DELL\Desktop\suliteos\node_modules\fsevents\node_

`
stuck at this for a long time and I tried numerous times

[2018-07-04 10:43] evilebottnawi commented on #367
@Tanuj69 problem in npm, try to reinstall npm

[2018-07-04 10:43] #367 closed

[2018-07-08 13:19] Rouche opened #368 "Context: env: undefined"
Hello,

### `Details`
---

I am trying to access env in webpack4 build but it seems to be undefined.
In webpack.config.js the variable is ok, but different from documentation. (process.env.WEBPACK_MODE instead of process.env.NODE_ENV)

Actually, none of the ctx properties have information about the webpack mode.

### `Error (Logs|Stacks)`
---
console.log of the whole ctx object.
[code]
### `Reprod

[2018-07-09 10:21] michael-ciniawsky commented on #368
Since `postcss.config.js` works with multiple build tools (CLI, grunt, gulp, ...)  `env` is explicitly based on `process.env.NODE_ENV`. I suggested to set `NODE_ENV` alongside `mode` since they are very similiar and basically solve the probem, but this was rejetced by the webpack maintainers as 'relying on `env` variables'  is a concern for them. You need to set `process.env.NODE_ENV` alongside `m

[2018-07-09 10:21] #368 closed

[2018-07-09 10:38] michael-ciniawsky commented on #364
As this seems to be an `{Error}` with your code somwhere I'm closing this for now. But in case you still have an issue and provide a minimal repro I will reopen the issue

[2018-07-09 10:38] #364 closed

[2018-07-09 10:40] michael-ciniawsky commented on #366
@PawelGIX I need a (minimal) reproduction to debug this please

[2018-07-09 13:13] x-yuri opened #369 "Shouldn't there be a way to notify plugins of files having been changed?"
Let's say I have the following CSS:

[code]

Here I'm using [`postcss-image-sizes`](https://github.com/s0ber/postcss-image-sizes). The issue is that it caches [the results](https://github.com/s0ber/postcss-image-sizes/blob/3014e1decd972bdc273cc4f319298ba55a6cc45c/src/index.js#L38). As such, when the image changes on disk, corresponding CSS file gets the obsolete value (from the previous version of

[2018-07-09 13:20] Rouche commented on #368
Thanks for clarification. But i had to use this workaround, as the `context.env` always end up undefined.

[code]

And access it in postcss.config like this : `context.webpack.options.mode`

Actually i like it, its regression bullet proof :)

[2018-07-09 13:39] michael-ciniawsky commented on #369
`postcss-loader` supports watching additional files via [`result.messages`](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L148-L150). `postcss-image-sizes` needs to add every image passed by it's `assetPath` option to to `result.messages` in the following way

[code]

and `postcss-loader` will add them as a `dependency` to `webpack` automatically. This eventually fixes the `cs

[2018-07-09 13:39] #369 closed

[2018-07-14 06:49] x-yuri commented on #369
@michael-ciniawsky Indeed, that would probably solve the first issue (CSS file doesn't get rebuilt). But not the second one. `postcss-image-sizes` [caches][cache] image extents. So even if it were to be asked about image extents on a successive build, it would give the same reply. How can it know when to clear the cache?

[cache]: https://github.com/s0ber/postcss-image-sizes/blob/3014e1decd972bdc2

[2018-07-14 14:07] michael-ciniawsky commented on #369
There simply needs to be a more 'advanced' caching mechanism, the extracted helpers from the CSS fle + the image source path need to construct a **cache key** which is invalidates the cache for an image

[code]

The plugin doesn't currently work well for your use case and I can't possibly do anything on the `postcss-loader` side here to fix it. You need to either write your own plugin or send a PR

[2018-07-14 16:43] x-yuri commented on #369
@michael-ciniawsky I might make PRs to `postcss-image-sizes` repository. But you must be missing the point here. `postcss-image-sizes` replaces `image-width(./1.png)` in css code with say `100px`. Not resizes the image. No options besides [`assetsPath`](https://github.com/s0ber/postcss-image-sizes/tree/3014e1decd972bdc273cc4f319298ba55a6cc45c#configuration-options).

So to check if the cache is in

[2018-07-14 16:54] michael-ciniawsky commented on #369
By 'options'  I meant the values within the CSS Code, image path + css values === cache key, the cache currently only checks if the image exists or not , there might be a `mtime` (Did the file change ?) check needed aswell here (`mtime` is on the `fs.stat()` `{Object}`). But most importantly if one changes something within the CSS the cache isn't currently invalidated and the change won't have any

[2018-07-14 17:06] michael-ciniawsky commented on #369
That will be magnitudes more complicated as fixing or simply disabling the cache within the plugin to begin with, but yes there are other solution possible in general but that's complicated to explain and won't solve your problem asap. In case you favor or want to try out the webpack plugin approach

[code]

For handling CSS assets (images etc), instead of a loader a webpack PostCSS Plugin might b

[2018-07-14 17:47] michael-ciniawsky opened #372 "Update extract CSS example to use MCEP (`mini-css-extract-plugin`)"
### `Details`

Replace `extract-text-plugin` with it's sucessor `mini-css-extract-plugin` in the `README`'s examples section

### `Error (Logs|Stacks)`

- None

### `Reproduction [Code]`

- None

### `Environment`

- Not needed

[2018-07-14 17:56] michael-ciniawsky opened #373 "Track deprecated webpack API's"
### `Details`

`webpack >= v5.0.0` [removes `exec`](https://github.com/webpack/webpack/pull/7708) from the Loader Context (API), which is currently optionally needed for the `postcss-js` parser

Move the required logic into `postcss-loader` directly (🏷 `patch`) or remove the `exec` option (`options.exec`) (:label: `major`) entirely

**`utils/exec.js`**
[code]

### `Error (Logs|Stacks)`

- None

##

[2018-07-16 19:16] ai opened #374 "Use PostCSS 7"
There are no real breaking changes, we just dropped Node.js 4

[2018-07-16 19:16] ai commented on #374
/cc @michael-ciniawsky

[2018-07-19 09:42] patrickabkarian commented on #374
made a pull request

[2018-07-19 10:20] michael-ciniawsky commented on #374
I need to make a quick check on the weekend what else might be a good idea to potentionally include in  the next a major release + the additional chores like docs polishing etc. I don't think there are other (needed) breaking changes atm, so I'm heading to cut a release on the weekend/monday for PostCSS v7.0.0 (#375). If there is anything else to triage please open an issue

[2018-07-19 10:26] michael-ciniawsky opened #376 "Replace `cssnext` with `postcss-preset-env`"
### `Details`

Replace `cssnext` with `postcss-preset-env` in README examples, since `cssnext` is deprecated with `postcss-preset-env` as it's direct successor

### `Error (Logs|Stacks)`

- None

### `Reproduction [Code]`

- Not needed

### `Environment`

- Not needed

[2018-07-21 06:34] kleinfreund commented on #204
The following will do when you want to use inline configuration for postcss:

[code]

This needs to be documented. Without the plugin property, the build throws the no config error.

[2018-07-21 21:23] x-yuri commented on #369
@michael-ciniawsky Let me explain myself. That's not a big issue for me. I can fix it by adding (PR) `clearCache()` method to `postcss-image-sizes` plugin, and the following code to `webpack.config.js`:

[code]

But it may be a sign of something being off in the Webpack or `postcss-loader`.

Come to think of it, I had a similar issue with [`postcss-custom-properties`](https://github.com/postcss/po

[2018-07-22 14:42] michael-ciniawsky commented on #369
I promise to throughly answer your questions within the next few days, I have something for most of this already in mind and I wrote a `postcss-webpack-plugin` (e.g use `postcss-custom-properties on the whole CSS Chunk instead of each CSS Module separately) and a new `css-loader` which transpiles CSS to an ES Module for `@import` && `url()` support (I will explain that approach in detail as promis

[2018-07-24 13:15] novalu commented on #328
In case of other users reading this thread. I had the same problem with fonts when importing nested pcss, solution posted by michael-ciniawsky did not work for me, but change from relative to absolute path works well.

[2018-07-29 20:45] charleslaw commented on #204
I stumbled on this thread after hitting the same issue.  I eventually found this reference very helpful: https://github.com/react-toolbox/react-toolbox-example/

[2018-07-30 11:00] angusmunro commented on #204
Empty plugins did it for me. Thanks

[2018-08-01 16:08] #372 closed

[2018-08-03 13:54] michael-ciniawsky commented on #376
Closed by #379

[2018-08-03 13:54] #376 closed

[2018-08-04 05:04] michael-ciniawsky opened #385 "[v3.0.0] Check for supported ES2015 Features and update the code base"
`postcss-loader >= v3.0.0` drops support for `node >= v4.0.0`, therefore all [ES2015 Features supported by `node >= v6.0.0`](https://node.green) can be used by `postcss-loader >= v3.0.0`

### `Details`

- None

### `Error (Logs|Stacks)`

- None

### `Reproduction [Code]`

- None

### `Environment`

 - None

[2018-08-04 15:54] michael-ciniawsky commented on #366
Closing due to inactivity for now, if you can provide a concrete repo for reproduction feel free to reopen :)

[2018-08-04 15:54] #366 closed

[2018-08-07 11:50] soulman-is-good opened #387 "Using unstable dependency breaking build"
This package uses unstable dependency [shema-utils](https://github.com/postcss/postcss-loader/blob/master/package.json#L16), which was updated recently with breaking changes which is failing our build.

### `Details`
---

We are using `postcss-loader@^2.0.6` in our project with `nodejs version 4.2.2` and currently we cannot use newer node.
Today we couldn't build our application as it was failing.

[2018-08-07 11:51] evilebottnawi commented on #387
/cc @michael-ciniawsky

[2018-08-07 12:07] michael-ciniawsky commented on #387
Already on it, closing in favor of https://github.com/webpack-contrib/schema-utils/issues/31

[2018-08-07 12:07] #387 closed

[2018-08-08 17:36] #350 closed

[2018-08-08 17:36] #374 closed

[2018-08-08 17:36] #385 closed

[2018-08-09 13:27] ndbroadbent commented on #253
I really want to disable this warning, because I only need source maps for JS, and I want to explicitly disable them for CSS in production. I know webpack is still creating some empty `.css.map` files, but I'll just delete those. (There doesn't seem to be any way to only enable source maps for JS and skip CSS.)

I think setting `sourceMap: false` in `postcss-loader` should not log any warnings, si

[2018-08-14 23:29] michael-ciniawsky commented on #333
@egorpavlikhin browserlist is not directly used by `postcss-loader`, please included your current postcss dependencies and I also think this was fixed in a newer version of browserslist (but not 💯 sure). It might be better to open an issue in browserslist instead

[2018-08-17 17:01] mcohoon commented on #176
For those following this chain here is the [issue in css-loader](https://github.com/webpack-contrib/css-loader/issues/707).

[2018-08-21 16:35] aorinevo opened #388 "Remove ident property from options in docs"
### Type

- [x] Other

### Details

In the documentation, the examples sometimes add `ident` property to options.  Since webpack 2.2.1, this is no longer needed (see https://github.com/webpack/webpack/releases/tag/v2.2.1).

Also need to update test cases that use ident.

### Location

- [x] README

[2018-08-21 18:57] michael-ciniawsky commented on #388
I was also under the impression that it shouldn't be necessary anymore as I initially open the issue about it in the webpack repo and asked if a unique `ident` could be assigned by default to every loader instead, without the need to manually specify it. The reality though is that there where still plenty of reports where `postcss-loader` stopped working when the custom `ident` was missing. So I'm

[2018-08-21 20:04] aorinevo commented on #388
I did see that in the closed issues.  Do you plan to drop support in v3?

[2018-08-21 20:46] michael-ciniawsky commented on #388
If v3 is refering to `postcss-loader` then nope since it has already been released :). There isn't really anything to drop, besides removal from the docs. There was never been any PR made to webpack which fixed or refactored the logic for `ident`. I'm pretty sure it will still doesn't 💯 work

[2018-08-29 09:24] rjgotten opened #390 "Corrupt source map paths on Windows and invalid `sources`"
### Details

postcss-loader continues to produce invalid source map paths on Windows, after #224 was closed.
Said issue was pointing to css-loader as a culprit.
css-loader was fixed.
postcss-loader was not.

### Reproduction (Code)

The following webpack loader sequence produces valid source map paths:
[code]

The following webpack loader sequences produces _INVALID_ paths:
[code]

I have also wri

[2018-08-29 22:27] KidkArolis opened #391 "Plugins object syntax doesn't work"
I'm not sure specifying plugins as object works as specified in the README, e.g.:

[code]

throws

[code]

[2018-08-29 23:08] michael-ciniawsky commented on #391
Did you use this syntax with a `postcss.config.js` file or in the `webpack.config.js` ? The latter does definitely not work...

[2018-08-30 12:11] KidkArolis commented on #391
I did this in the webpack.config.js

[2018-08-30 12:14] evilebottnawi commented on #390
@rjgotten can you create minimum reproducible test repo?

[2018-08-30 13:39] #391 closed

[2018-08-30 15:07] rjgotten commented on #390
@evilebottnawi
I'll try to work on that tomorrow.

[2018-08-30 15:15] michael-ciniawsky commented on #390
@rjgotten Could you try with the following patch ?

https://github.com/postcss/postcss-loader/blob/master/src/index.js#L157-L159
[code]

[2018-08-30 17:02] michael-ciniawsky commented on #390
This seems to be likely the offending [line](https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L70) causing the issue on windows when the `postcss-loader` resolve the paths. I don't have access to a windows machine and therefore can't verify, but on Linux/macOS with and without the suggested patch sourcemaps seem to work correctly (besides using the `style-loader` but that's

[2018-08-30 17:04] evilebottnawi commented on #390
@michael-ciniawsky what do you think about this https://github.com/webpack-contrib/sass-loader/blob/master/lib/loader.js#L70? Maybe we should fix it in `sass-loader`

[2018-08-31 07:02] rjgotten commented on #390
Sadly has no effect.

I'll start working on building a test case.

[2018-08-31 07:57] rjgotten commented on #390
@evilebottnawi
Testcase is ready: https://github.com/NetMatch/postcss-loader-testcase

The build has a passthrough loader woven in which shows the source map sources going into and coming out of postcss loader.

What I'm seeing when running this on Windows:

[code]

[2018-08-31 18:51] michael-ciniawsky commented on #390
Did you also try with commenting out these lines completely to see if the `path.resolve` in `potcss-loader` causes this weird concatination on windows? I wll try my best to debug it, but as mentioned before I don't have aceess to a windows machine so it is hard for me to get my hands on this :)

[2018-08-31 19:34] rjgotten commented on #390
I think Microsoft offers VMs for developers, with licenses that auto-expire after a set period.
Might be a bit of a help in that department, if you're dealing with this type of thing.

Hmm.. I should've remembered to try that. Ok. I've made a note to try commenting out the `path.resolve` lines completely. Will get to that after the weekend.

[2018-09-04 07:45] ronaldgj commented on #274
With all the new stuff it is fixed nouw @ds-codemag !

[2018-09-06 07:25] mutoo commented on #390
I once found there is a key function (`util.join()`) in source-map lib could probably cause this problem:
https://github.com/mozilla/source-map/issues/355

but after [discussing](https://github.com/mozilla/source-map/pull/356#issuecomment-418384953), I realized that the paths in the sources filed should be URLs but the os paths, that why **util.join() doesn't treat windows device path as an absolu

[2018-09-06 13:41] rjgotten commented on #390
@mutoo

Imho all loaders should be producing source maps that have relative paths from generated file to original source. Any loader that doesn't generate source maps in that way is - quite frankly - "doing it wrong".

It should be Webpack's responsibility to remap those relative paths to the `webpack://./` rooted form once it bundles everything into an entry-point or chunk output file.

[2018-09-06 14:54] michael-ciniawsky commented on #390
I think it does that already, but later (after loaders) within a webpack (core) plugin ([`SourceMapDevToolPlugin`](https://github.com/webpack/webpack/blob/master/lib/SourceMapDevToolPlugin.js)) and this plugin needs **absolute file paths** to work correctly and it's seems to be also working on UNIX platforms (see https://github.com/postcss/postcss-loader/issues/390#issuecomment-417393099). The pro

[2018-09-06 15:00] rjgotten commented on #390
And here's the likely root cause of all these loaders having bad implementations: the fact that Webpack _requires_ intentionally malformed source maps to work 'correctly' to begin with.

So it all winds back to Webpack **itself** also needing a good boot up the ass to fix this.

Lord knows why their core plugin requires absolute file paths in the source map. It has access to its own output paths a

[2018-09-06 15:09] michael-ciniawsky commented on #390
https://github.com/webpack/webpack/blob/master/lib/SourceMapDevToolPlugin.js#L174-223

I don't know the exact _why_ behind it, `webpack` [currently supports ~12 different 'types' of sourcemaps flavours](https://webpack.js.org/configuration/devtool/), some the world never heard about before :). Anyways this won't likely change in the near future and we should focus on finfdng the bug that causes th

[2018-09-06 15:13] rjgotten commented on #390
@michael-ciniawsky
Those are output types though.
Should have very little to do with the types it can take in. Which should just be spec-adherent.

[2018-09-28 10:23] manniL opened #392 "postcss-loader breaks with mini-css-extract-plugin on !important;"
Considering the following CSS code:

[code]

`postcss-loader` will break when used together with `mini-css-extract-plugin`.
If I remove the `!important`, I don't experience any errors anymore.

Related: https://github.com/postcss/postcss-loader/issues/159, https://github.com/nuxt/nuxt.js/issues/3996

### Error (Logs|Stacks)

<details>

[code]

</details>

### Reproduction (Code)

1. Open the [Code

[2018-09-28 10:27] evilebottnawi commented on #392
@manniL problem in `cssnano`, thanks for issue

[2018-09-28 10:27] #392 closed

[2018-09-28 10:27] evilebottnawi commented on #392
Issue https://github.com/cssnano/cssnano/issues/618

[2018-09-29 12:12] jianzhou520 commented on #288
in my situation, dynamic plugin import in callback function returned null, so I definded the plugin solved the problem

[code]
[code]

[2018-10-02 12:04] ManikTechy commented on #281
<img width="574" alt="screen shot 2018-10-02 at 5 33 52 pm" src="https://user-images.githubusercontent.com/36843631/46347494-5bdee480-c669-11e8-9328-de9ea3f8d852.png">
I am getting this error. I am using post-css

[2018-10-03 03:02] Chucheen commented on #204
Empty plugins did for me too :)

[2018-10-18 13:29] sancelot opened #393 "after migration to angular 6 postcss-loader fails"
After migrating my application from angular 4 to 6 , I have got some related mistake messages issued by postcss-loader

### Details

the src/styles.css contains only:
/* You can add global styles to this file, and also import other style files */

### Error (Logs|Stacks)
`<details>{{
ERROR in ./src/app/outilsvg/forms.css
Module build failed (from ./node_modules/postcss-loader/index.js):
TypeError:

[2018-10-18 13:36] evilebottnawi commented on #393
@sancelot better create this issue in `angular-cli` (`ng`)

[2018-10-18 14:11] sancelot commented on #393
fixed : npm outdated pointed me that I was using 1.3.0 instead of 3.0.0

[2018-10-18 14:11] #393 closed

[2018-11-16 09:14] rouberg commented on #81
I find the real reason of no prefix, it's not the problem of `extract-text-webpack-plugin`. when build we use `optimize-css-assets-webpack-plugin` normally, `optimize-css-assets-webpack-plugin` use `cssnano` as default processor, and `cssnano` removed all prefix, so autoprefixer seemed  not work in production.
we can config like this:
[code]
the option of `autoprefixer: { disable: true } `will dis

[2018-11-18 18:33] owenstrevor opened #394 "Extract CSS vs style-loader"
Would be good to explain the difference between Extract CSS vs style-loader as I see many people include both in their projects. Under the Extract CSS section it does not explain why you have it setup that way.

From the Extract CSS github page:

[2018-11-19 06:33] evilebottnawi commented on #394
@owenstrevor not here, it is just `postcss` loader, also we already have this https://github.com/webpack-contrib/mini-css-extract-plugin#mini-css-extract-plugin, feel free to send a PR if you have better description

[2018-11-19 06:33] #394 closed

[2018-11-23 09:05] lilong7676 opened #395 "How to exclude a loader, because there are multiple identical loaders in my project, in different directories."
### Proposal

How to exclude a loader, because there are multiple identical loaders in my project on different directories.

### Use Case

eg.
loader one:
/project/postcss.config.js

loader two:
/project/src/common/postcss.config.js

how to exclude others from using only one loader.

thank you!

### Implementation

- [x] I'm open to work on this
  - [x] I need help/mentorship
- [ ] I'm unable to w

[2018-11-23 09:12] evilebottnawi commented on #395
@lilong7676 use difference loader to difference files based on regex (`test` option) with another config

[2018-11-23 10:02] lilong7676 commented on #395
thanks, this issue has beren resolved,
just use:
{
  loader: 'postcss-loader',
  options: {
    config: {
      path: 'path/to/.config/'
    }
  }
}

[2018-11-23 10:02] #395 closed

[2018-11-24 04:03] rmar72 commented on #187
near 2019 update, following a webpack tutorial that uses postcss.config.js the autopprefixer is required, but got an error for missing module, the above worked ^ npm prune && npm i -D autoprefixer thanks michael-ciniawsky

[2018-11-29 07:05] lovetingyuan opened #396 "merge loader options with options from config file(by `postcss-load-config`)"
### Proposal

merge loader options with options from config file(by `postcss-load-config`)

but now `postcss-loader` will ignore config file like `postcss.config.js` or `.postcssrc` when it's options has some useful fields like `plugins`.

I hope `postcss-loader` can merge it's own options and other valid options loaded by `postcss-load-config`.
 Thanks.

[2018-11-29 09:39] evilebottnawi commented on #396
@lovetingyuan config is aromatic and should not be merge to avoid bad DX, also please use issue template in future

[2018-11-29 09:39] #396 closed

[2018-12-06 22:39] budarin opened #397 "Module not found: Error: Can't resolve 'fonts/open-sans-400.woff2'"
### Details
[code]
webpack-config
[code]
postcss.config.js
[code]
in development when running webpack-dev-server - everything is ok
but when I try to build the project - here is the error (see gist)

if I comment `loader: 'postcss-loader',` - project is built without the error

play with `npm start` at `http://localhost:300` and try to uncomment `postcss-loader` in wepack 's `prod.config.js` and r

[2018-12-07 09:39] evilebottnawi commented on #397
Bug in `css-loader` (and already fixed in master), cssnano rewrite url:

[code]

to
[code]

[2018-12-07 09:39] evilebottnawi commented on #397
Woraround - disable `postcss-normalize-url` in `cssnano` (`normalizeUrl: false`)

[2018-12-07 09:39] #397 closed

[2018-12-07 09:44] evilebottnawi commented on #390
Somebody can create minimum reproducible test repo?

[2018-12-07 10:45] budarin commented on #397
thenks! it works! )

[2018-12-07 20:34] rjgotten commented on #390
You missed this, maybe?
https://github.com/postcss/postcss-loader/issues/390#issuecomment-417584816

[2018-12-10 08:47] evilebottnawi commented on #390
Very thanks, we work on refactor `postcss-loader`/`css-loader` (already refactored) and `style-loader`, in near future i will see how we can fix it :+1:

[2018-12-20 05:10] yanhaijing opened #400 "How do I support webpack alias?"
postcss.config.js

[code]

webpack.config.js, note that alias

[code]

index.scss

[code]

test-alias/aaa.scss

[code]

error: `Error: Failed to find 'testalias/aaa.scss'`

![image](https://user-images.githubusercontent.com/3192087/50265028-89615000-0458-11e9-983d-0b47e1b049b8.png)

[2018-12-20 10:35] yanhaijing commented on #400
Bad news, but thanks, have a plan to support webpack alias?

[2018-12-20 10:44] evilebottnawi commented on #400
@yanhaijing alias for what?

[2018-12-20 10:45] evilebottnawi commented on #400
Aliasing `url` and `@import` in css do in `css-loader`, alias for `@import` in `sass`/`scss` do in `sass-loader`. What you need aliases in `postcss-loader`? We just wrapper around `postcss`

[2018-12-20 10:50] yanhaijing commented on #400
I see what you mean. my idea is not use sass-loader，only use postcss-loader+postcss-node-sass

[2018-12-20 11:00] evilebottnawi commented on #400
@yanhaijing aliases works using `css-loader`

[2018-12-20 13:34] yanhaijing commented on #400
Look at what I gave you demo, using `css-loader + postcss-loader+postcss-node-sass`, but don't work

[2018-12-20 13:42] evilebottnawi commented on #400
@yanhaijing Please read documentation how write aliases https://webpack.js.org/configuration/resolve/

[2019-01-08 07:32] yanhaijing commented on #400
postcss-import is different with webpack alias, need to change the code

[2019-01-20 12:07] egoist opened #401 "Allow to use this loader without a config file or loader options"
### Proposal

Allow users to add `postcss-loader` to webpack config without populating a `poscss.config.js` or providing loader options. Currently if you do so the loader (postcss-load-config) will throw `No PostCSS Config found` error.

### Use Case

I'm building a theming system for a blog generator, it will be useful if the theme can use `postcss-loader` __optionally__ by populating a `postcss.

[2019-01-22 08:47] egoist commented on #401
what I mean is _optional_ config, babel-loader won't report errors when there's no `.babelrc` 🙂

[2019-01-22 08:49] evilebottnawi commented on #401
@egoist postcss generate warning when can't find config, so you build system will be generate warning always

[2019-01-25 05:04] moonbreezee commented on #311
thank you

[2019-01-29 17:13] rodrigobacelli commented on #51
I know that this is not the case here, but if you're getting `block-closing-brace-newline-before` warning using sass-loader, take a look on this issue: https://github.com/phenomic/phenomic/issues/814

That may be the same problem when using PreCSS, but I'm not sure how to disable nesting in it.

[2019-02-28 10:10] lim-enhui opened #402 "Confuse with the order of precedence of scss-loader, css-loader"
I am alittle confused with the statement below from the main page. How would this apply?
Use it after css-loader and style-loader, but before other preprocessor loaders like e.g sass|less|stylus-loader.

            {
                test: /\.scss$/,
                        use: ['css-loader', 'sass-loader', 'postcss-loader']
                })
            }

Would this be the recommended order?

[2019-02-28 11:20] michael-ciniawsky commented on #402
Loaders are executed form right to left `dest` <=`loader-2` <= `loader-1` <= `loader-0` <= `src`

[code]

[code]

[2019-02-28 11:20] #402 closed

[2019-03-07 06:29] pavinthan opened #403 "Load postcss.config.js configs from project root by default"
### Proposal

Hi!

First thanks for your grate works,
can you please merge root `postcss.config.js` config with provided options if not specified any config files in options and `postcss.config.js` available in project root directory.

I try to add additional PostCSS plugin into my create-react-app project but It won't allow to add any additional plugins. also I tried to add that in CRA https://gi

[2019-03-07 10:08] evilebottnawi commented on #403
`CRA` doesn't allow define own configuration https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js#L97 (I saw projects what allow change this behavior, use search on github). Also i don't think this related to this repo, we use `postcss-load-config` projects to load configuration, so i think you should create issue in their repo

[2019-03-07 16:55] michael-ciniawsky commented on #403
https://github.com/michael-ciniawsky/postcss-load-config/issues/182#issuecomment-470604665

[2019-03-07 16:55] #403 closed

[2019-03-08 18:24] perrywarner commented on #311
Quick Google Translate of what @t00768nh was saying:
<img width="1478" alt="screen shot 2019-03-08 at 1 20 50 pm" src="https://user-images.githubusercontent.com/7812136/54047482-20f75480-41a5-11e9-8018-703f54264f23.png">

Might be a valid point but @t00768nh didn't do his/her due diligence in defining whatever bug or providing steps to reproduce, resulting in irrelevant info.. doesn't look like th

[2019-03-13 10:34] smalldice opened #404 "vue-cli3.0生成的项目，主题定制问题"
Vue-cli 3.0生成的项目
进行主题自定义
vue.config.js如下
`module.exports = {
  baseUrl: '',
  devServer: {
    proxy: {
      '/api': {
        target: process.env.VUE_APP_URL,
        changeOrigin: true
      }
    }
  },
  css: {
    loaderOptions: {
      sass: {
        data: `@import "./src/styles/_custom.scss"; @import "@nutui/nutui/dist/styles/variable.scss";`
      }
    }
  }
}
`
custom.scss 如下
`$primary

[2019-03-13 10:57] michael-ciniawsky commented on #404
I'm not familiar with neither `nutui` nor `vue-cli` and I don't think this is problem related to `postcss-loader`, but I think the order of @imports provided to the `data` options is incorrect. (wrong order)

我不熟悉`nutri`和`vue-cli`，我不認為這是`postcss-loader`的問題，但我認為提供給`data`選項的@imports的順序是不正確的。 （訂單錯誤）

[code]

[2019-03-13 10:57] #404 closed

[2019-03-13 13:18] smalldice commented on #404
All right. Thank you for your solution. But the problem is still there.

[2019-03-19 12:13] trigun539 opened #405 "You did not set any plugins, parser, or stringifier. Right now, PostCSS does nothing."
Have tried a bunch of configurations from the documentation but postcss-loader is not picking up the postcss plugins. I had the configuration working on webpack v3 using older versions of the libraries/plugins. Upgraded to webpack v4 and latest plugins versions and now postcss can't pickup the plugin configuration.

### Details

Configuring postcss-loader with following plugins:

- precss
- autopr

[2019-03-19 12:30] evilebottnawi commented on #405
Because you do not have plugins for postcss-loader, it is error from postcss

[2019-03-19 13:00] michael-ciniawsky commented on #405
Rename `postcss.conf.js` to `postcss.config.js` and it should work

[2019-03-19 13:00] #405 closed

[2019-03-19 14:23] trigun539 commented on #405
@michael-ciniawsky Sorry the file actually is postcss.config.js. It is still not working.

[2019-03-19 14:24] trigun539 commented on #405
I have precss/autoprefixer/lost postcss plugins that should work.

[2019-03-19 14:31] michael-ciniawsky commented on #405
https://gist.github.com/trigun539/2b8ebf739b64881ec0b3ea2a9e37ba92#gistcomment-2866264

[2019-03-27 07:45] zcs19871221 opened #406 "no emit error when integrate stylelint"
no emit error when integrate with stylelint

postcss-loader version: 3.0.0
stylelint version:9.10.1

i set stylelint severity as error but only show warning.
i read postcss-loader source index.js,but not found a place to emit error.
hope to support emit error

[2019-03-27 08:59] evilebottnawi commented on #406
It is not good idea using stylelint in postcss-loader, he doesn't validate files inside `@import` (css), anyway you can use `postcss-reporter`

[2019-03-27 10:15] zcs19871221 commented on #406
i use less loader first, then use postcss-loader, so `@import`  is ok. `postcss-reporter` can not recognize my stylelint error level config..so may be  `stylelint-webpack-plugin` is good

[2019-03-27 10:16] zcs19871221 commented on #406
or maybe i send a pr to specail handle stylelint

[2019-03-27 10:19] evilebottnawi commented on #406
@zcs19871221 no need send a PR, i strongly recommend use CLI `stylelint` instead as part of webpack. Why:
- More abilities
- Using `stylelint` as postcss plugin or as webpack plugin increase compilation time
- All new features are immediately available.
- Easy setup.
- Stylelint plugin is abandoned due it is really bad idea.

[2019-03-29 09:58] UncertainConstraint opened #407 "Security vulnerability in js-yaml"
`yarn audit` reports a security issue **js-yaml**:

| moderate | Denial of Service |
|--|--|
| Package | js-yaml |
| Patched in | >=3.13.0 |
| Dependency of | postcss-loader |
| Path | postcss-loader > postcss-load-config > cosmiconfig > js-yaml|
| More info | https://www.npmjs.com/advisories/788 |

[2019-03-29 20:03] evilebottnawi commented on #407
Already fixed, update your deps

[2019-03-29 20:03] #407 closed

[2019-04-01 09:39] UncertainConstraint commented on #407
We are using the latest version of `postcss-loader` (v3.0.0) but the warning persists.

[2019-04-17 15:37] VincentCharpentier commented on #397
I ran into the same issue with clean-css but still couldn't find an option to turn that off

[2019-04-19 19:50] EddyLuten commented on #407
Agreed with the above, we're also still receiving this error. If this was fixed, it was not released.

[code]

[2019-04-28 19:34] EECOLOR opened #409 "`process.env.NODE_ENV` is overwritten if `env` is not set"
The code of [postcss-load-config](https://github.com/michael-ciniawsky/postcss-load-config/blob/master/src/index.js#L47) contains this statement:

[code]

Please always set the `env`.

I would rather not use an external config file, so please also add the option to not use the config file.

[2019-04-28 19:36] EECOLOR commented on #409
I was mistaken, would still like the option to not use a config file.

[2019-04-28 19:36] #409 closed

[2019-05-14 16:48] richiksc commented on #390
I've been experiencing the same issue using `rollup-plugin-postcss` as well, and I don't know if there is any shared code between them, but it's the exact same issue.

[2019-05-15 09:25] eric-beaufol commented on #405
If you have the same problem, i've found an explication/solution here :
https://github.com/postcss/postcss/issues/1247

[2019-05-28 20:37] CoolCyberBrain commented on #407
The problem is fixed, just delete your node_modules and package-lock.json and run npm install again.

[2019-06-10 09:12] JohnMica commented on #407
[code]
after deleting node_modules and .lock  still have this strange dependency on `cosmiconfig v4.0.0`` which in turn used older version of ```js-yaml``` that causes issues with security advisory

[2019-06-10 10:06] evilebottnawi commented on #407
Please open issue in `postcss-load-config`, we can't do something on our side

[2019-06-10 10:10] JohnMica commented on #407
Thanks

Will do and defence this one

Regards,

John Mica

[2019-06-11 12:34] geraschenkov opened #410 "update dependencoe"
### Details

### Error (Logs|Stacks)

### Reproduction (Code)

[code]

### Environment

|OS|node|npm/yarn|package|
|:-:|:--:|:-:|:------:|
|[name][version]|[version]|[version]|[version]|

[2019-06-11 12:34] #410 closed

[2019-06-12 12:49] Ghanshyam-K-Dobariya commented on #65
Now I am also facing same issue & I fixed ... I followed this post

https://dev.to/daveirvine/postcss-with-css-modules-andreact-51ln

I upgraded version of  below

![image](https://user-images.githubusercontent.com/5426993/59352358-10272380-8d3e-11e9-8a5d-6a58a6432989.png)

to

![image](https://user-images.githubusercontent.com/5426993/59352383-203f0300-8d3e-11e9-8f85-62409f0434af.png)

How I came

[2019-06-20 14:09] shobishani opened #411 "BrowserlistError"
I'm not sure if I am at the right place to report a bug.

`BrowserslistError: Unknown browser query `android all`

`ERROR in ./client/app/components/Sidebar/Sidebar.scss (./node_modules/css-loader??ref--71!./node_modules/postcss-loader/lib??ref--7-2!./node_modules/sass-loader/lib/loader.js??ref--7-3!./client/app/components/Sidebar/Sidebar.scss)
`

I am using sass-loader and postcss-loader with web

[2019-06-20 14:19] michael-ciniawsky commented on #411
- Please don't use the `postcss-import` plugin with webpack (the `css-loader` handles `@import`)
- [`autoprefixer`](https://github.com/csstools/postcss-preset-env#autoprefixer) should already by part of `postcss-preset-env`, no need to add it standalone

Well.., your browserlist config seems to be simply invalid ¯\_(ツ)_/¯, please try another query (you can try them [here](https://browserl.ist/))

[2019-06-20 14:19] #411 closed

[2019-06-25 03:31] jonnylink opened #412 "webpack stats settings ignored"
Using either `stats.warningsFilter` or even`stats: {warnings: false}` seems to have no effect on postcss warnings. I've seen a few past issues where people want to, for example, not have a console filled with warnings about linear-gradients.

While I understand this isn't great, we can't force the 3rd parties to update their css. It isn't helpful, it's noise that potentially obfuscates more seriou

[2019-06-25 04:31] michael-ciniawsky commented on #412
Please provide your `webpack.config.js`. How are you using `webpack` e.g are you using `webpack-dev-server` etc? (You need to also disable `warnings` in `config.devServer` if so). This is not 'fixable' within/by the loader itself as all it does is propagating the warnings from postcss (plugins) to `webpack` via the Loader API.

[2019-06-26 01:24] #412 closed

[2019-06-26 15:21] 9ae8sdf76 opened #413 "Detect and Merge Environment-specific Configurations"
### Proposal

Similar to [webpack-merge](https://www.npmjs.com/package/webpack-merge), it would be good DX to allow [merging multiple](https://www.npmjs.com/package/webpack-merge#multiple-merging) postcss configurations. This will minimize any configuration-based logic and allow developers to focus on configuring features for their target environments.

### Use Case

Split out `postcss.config.js`

[2019-06-26 15:28] evilebottnawi commented on #413
why don't use?
[code]

So it is not required and nobody will be implement this, sorry

[2019-06-26 15:44] 9ae8sdf76 commented on #413
* The idea is to remove this kind of logic from the configuration.
* Improves readability of the configuration files
* Reduces environment-checking logic
* Reduces potential adverse effects to other environments
* Keeps the configuration(s) concise and easy to maintain
* New environment? No problem. Add new file `postcss.config.wednesday-morning.js`.
* No need for boilerplate logic across multiple

[2019-06-26 16:10] evilebottnawi commented on #413
Unfortunately it open source project and all people don't have time, also better create issue in `postcss-load-config`, because we use this module for loading configurations

[2019-07-02 14:39] felixoi opened #414 "Use webpacks resolve.modules"
### Proposal

Make use of the `resolve.modules` option of webpack to find plugins

### Use Case

When the modules are installed into a different directory it's harder to add plugins-

### Implementation

- [ ] I'm open to work on this
- [ ] I need help/mentorship
- [x] I'm unable to work on this

[2019-07-02 14:41] evilebottnawi commented on #414
Why? What is use case? How postcss plugins related to modules?

[2019-07-02 14:50] felixoi commented on #414
I am having a setup where the nodejs modules are installed in a different directory.
This ends up in using a relative path like
[code]
which is totally stupid since I have to staticly bind a dynamically changing folder. The problem with this is that the `postcss.config.js` is sometimes called from different base directories, so `__dirname` changes which ends up in modules are not found. This would

[2019-07-17 21:26] ptrwllrd commented on #368
Good grief, it consumed two solid hours of my evening to finally stumble upon this. Configuring Webpack can still bite you in the ass in 2019. Thank you both

[2019-07-20 03:02] ShaileshInfyom commented on #405
any solution? i getting the same issue

[2019-07-23 04:44] ShaileshInfyom commented on #405
I got a solution. i using a laravel mix. solution [here](https://github.com/JeffreyWay/laravel-mix/issues/1979#issuecomment-473195321)

[2019-08-06 04:25] crtag commented on #368
To expand on the previous answer ( thanks @ptrwllrd !) - took me quite a while to solve this until I bumped into this thread.

According to quite [lousy docs][1]

However, what is exposed to the config file is rather bigger and actually usable
. Particularly, `ctx.options.webpack.mode` that does contain proper reference to the currently set [Webpack mode][2].

So the code (very rough idea) would l

[2019-08-09 11:22] fabricecolas commented on #204
Also, make sure that the `postcss.config.js` is located in the root folder of your app, otherwise when processing sub-modules (under `node_modules`), webpack won't find the `postcss` config file in the sub-module's hierarchy.

[2019-08-16 18:02] evilebottnawi commented on #406
Out of scope postcss-loader

[2019-08-16 18:02] #406 closed

[2019-08-16 18:04] evilebottnawi commented on #413
Please open issue in `postcss-load-config`

[2019-08-16 18:04] #413 closed

[2019-08-16 18:05] evilebottnawi commented on #414
Please open issue `postcss-load-config`, we can pass loader context to `postcss-load-config`

[2019-08-16 18:05] #414 closed

[2019-08-28 19:42] princesodhi commented on #65
worked for me

[2019-09-13 13:44] limitlessloop opened #417 "Ability to pass dependency when styles are being processed"
### Proposal

Allow dependencies to be set, so the styles being processed have access to things like global variables, class names, mixins etc.

### Use Case

I’m using VuePress with PostCSS which uses `postcss-loader`. I want to avoid having to `@import` the same file in each of my components when using libraries like TailwindCSS. I've had the same use case with other frameworks. I can't find the

[2019-09-13 13:45] evilebottnawi commented on #417
@limitlessloop can you provide minimum reproducible test repo to ensure all logic will implement?

[2019-09-13 13:54] limitlessloop commented on #417
Yeah I'll try my best. I'll put one together now.

[2019-09-13 14:52] limitlessloop commented on #417
@evilebottnawi I've uploaded an example the best I can at https://github.com/limitlessloop/vuepress-postcss-example

VuePress has a config file `/site/.vuepress/config.js` where you can specify information for different loaders. I believe there are two ways to specify preprocessors, I've tried to show any documentation I know of that describes this in the readme of the repo. I'm using just the sim

[2019-09-18 02:26] ahamid commented on #405
As an aside, I have discovered that despite a valid (webpack) postcss-loader configuration with plugins present, from what I can tell `postcss-advanced-variables` will cause this error to be emitted since it apparently invokes postcss internally without plugins; I'm not sure if this is a bug per se, or whether there is some way to refrain from warning when explicitly invoked like this.

https://gi

[2019-09-18 11:03] wadtech commented on #405
Is it possible to get more of a stack trace for this error? I'm getting it now but everything seems to be working correctly otherwise. I presume it's some other dependency somewhere in the tree.

[2019-09-18 17:33] ahamid commented on #405
@wadtech I just dumped a couple of `console.log`s in `postcss` `processor.js` `process` function, that's how I tracked the source of mine down

[2019-09-20 19:33] thasmo commented on #401
Imo it would be nice if `postcss` does not print a warning/message if no config was found or if this is configurable on the `postcss-loader` as an option. As @egoist mentioned, other well known loaders do not print anything to the console if configuration is missing. (I would even argue that logging this message *is* bad DX.)

Probably `postcss-loader` is not the direct candidate to integrate this

[2019-09-21 18:00] mickeyvip opened #418 "Error "Unknown word" when used with MiniCssExtractPlugin"
Using `postcss-loader` with Webpack produces the following error:
[code]

### Details
The `rules` part is (using Webpack's `merge`):
[code]

The `rules` of Dev section works without errors and looks like this:
[code]
### Error (Logs|Stacks)
[code]
</details>

### Environment
[code]

|OS|node|npm|
|:-:|:--:|:-:|
|MacOS 10.13.6|10.16.0|6.11.4|

Thank you.

[2019-09-23 09:56] evilebottnawi commented on #418
Please open issue in mini-css-extract-plugin with reproducible test repo, thanks!

[2019-09-23 09:56] #418 closed

[2019-10-16 12:19] PutziSan commented on #353
Does the [documentation for `context (ctx)`](https://github.com/postcss/postcss-loader#context-ctx) correspond to the actual behavior?

`webpack.config.js`
[code]

`postcss.config.js`
[code]

I think it should be exactly upside down? (`env === "production"` and `options.env === undefined`)

[2019-11-27 10:37] syberon commented on #390
I got this issue with invalid source-map paths in Windows too.

I use this loader chain:
`**sass-loader** => **postcss-loader** => **css-loader** => **style-loader**`

In generated map file i get this source file paths:
`"sources":["\\\\/src\\\\css\\\\main.scss","main.scss","\\\\/src\\\\css\\\\bootstrap.scss\...`

When i disable postcss-loader, then i get source map files with normal paths:
` "sou

[2019-11-27 10:53] evilebottnawi commented on #390
@syberon can you create minimum reproducible test repo?

[2019-11-27 14:48] rjgotten commented on #390
@syberon

The problem is caused by Webpack's build pipeline being entirely based on local filesystem paths, including paths used for source maps, whereas source maps by specification **require** valid URIs.

The official source maps reference implementation from Mozilla holds to the specification and will **not** treat `\` separators from Windows local filesystem paths as path separators.

Webpack

[2019-11-28 04:56] syberon commented on #390
@evilebottnawi
I created a test repo.
[https://github.com/syberon/postcss-bug](url)

@rjgotten
For now as a temporary(or not?) solution i created a simple custom loader and put it in before css-loader. Loader only parses sources path list, correcting path and push it to css-loader:

[code]

[2019-11-28 09:19] rjgotten commented on #390
@syberon
Provided `sass-loader` has output comparable to `less-loader`, you'll want something like this inbetween `sass-loader` and `postcss-loader` :

[code]

And then put something like the following between `css-loader` and `style-loader`:

[code]

[2019-11-28 09:44] evilebottnawi commented on #390
Somebody can create reproducible test repo, we will update scss/less/css loaders in near future, so we can try to fix it

[2019-11-28 09:57] syberon commented on #390
@evilebottnawi
I created a test repo.
https://github.com/syberon/postcss-bug

[2019-11-28 10:05] evilebottnawi commented on #390
@syberon big thanks, i will loon on this problem in near future :star:

[2019-11-29 15:10] Vittly opened #420 "Add @import-ed files as module dependencies"
### Proposal

Add @import-ed files (style imports) as module dependencies to let SplitChunks work with them efficiently.

### Use Case

Let's see the https://gist.github.com/Vittly/4244ff8b65b864674ed1739144e23386.

The example contains two components Foo and Bar. And Bar is used inside Foo.
Also there are two entry points. The first entry imports only styles - Foo.scss with Bar.scss inside. The s

[2019-11-29 15:33] evilebottnawi commented on #420
Sorry, it is out of scope postcss-loader, you can do it using https://github.com/webpack-contrib/mini-css-extract-plugin, please use stackoverflow or gitter for questions

[2019-11-29 15:33] #420 closed

[2019-11-29 17:46] Vittly commented on #420
Have you read my message? Can you explain how did you come to that conclusion?

[2019-11-29 17:52] Vittly commented on #420
Let's do it in a friendly way )

[2019-11-29 17:56] Vittly commented on #420
mini-css-extract [keeps fileDeps as files](https://github.com/webpack-contrib/mini-css-extract-plugin/blob/v0.8.0/src/loader.js#L147-L149). It doesn't convert it to modules. Was it your point?

[2019-12-02 10:31] evilebottnawi commented on #420
Better create own loader/plugin for this cases, it is really out of scope this loader, here only transformation - something like css -> css

[2019-12-02 10:43] Vittly commented on #420
Moved it to https://stackoverflow.com/questions/59137254/postcss-import-ed-modules-arent-actually-split-by-splitchunksplugin

[2019-12-04 07:02] yizhizailusang commented on #284
I have the same problem，postcss-loader version is "^3.0.0"， how to solve it，thanks~

[2019-12-09 17:34] TheDutchCoder commented on #204
Adding empty plugins breaks resolving node_module imports :(

[2019-12-27 16:09] gquinteros93 opened #421 "Webpack Compilation with Postcss fail because not find scss file in library in node_modules"
### Type

- [x] Other
- [ ] Wrong
- [ ] Unclear
- [ ] Missing

### Details

This is my project structure:
[code]

When I try to compile or build the project with yarn it's failing because it doesn't find a scss file in the node_modules:

![image](https://user-images.githubusercontent.com/53574912/71523732-0499e500-28a9-11ea-9dcb-c0e5d59b7734.png)

In fact, the scss file exits:

![image](https://us

[2019-12-30 11:15] evilebottnawi commented on #421
Please create reproducible test repo, it is hard to read all configuration from issue and hard to understand what version your use and your structure

[2019-12-30 22:51] AntonioRedondo commented on #405
I was receiving this error on console even when my CSS was processed with no problems. In my case was due to `@import` statements on CSS files. Adding `postcss-import` fixed the issue but this plug-in is redundant since `@import` statements are already tackled by `css-loader`.

[2019-12-31 05:46] 779g opened #422 "Cascade config loading provokes unwanted behaviour with npm link"
When a linked package from `npm link` is used, the postcss config is searched for into the link tree and not the local one.

Let's imagine we have this two npm repos we're working on
+ `custom-css-library` at `path/to/custom-css-library`, which is published on npm with the same name
+ `some-js-app` at `another-path/some-js-app`
We have a postcss config file at `some-js-app/postcss.config.js` which

[2020-01-08 10:40] simonh1000 opened #423 "Confusing plugins syntax"
### Type

- [ ] Other
- [ ] Wrong
- [x] Unclear
- [ ] Missing

### Details

the readme provides an example of a `postcss.config.js` with plugins as an object. On the main tailwind site, plugins is a list, so it is impossible to know how to combine the advice

### Location

- [x] README
- [ ] LICENSE
- [ ] CHANGELOG
- [ ] ISSUE_TEMPLATE
  - [ ] BUG
  - [ ] DOCS
  - [ ] FEATURE
- [ ] PULL_REQUEST_TE

[2020-01-08 11:26] qntndev opened #424 "Expose Webpack aliases for files processed by PostCSS"
### Proposal

A way to use aliases defined in `webpack.config.js` so we can use it in commonJS files processed by PostCSS

### Use Case

For example using **tailwindcss**, we will be able to define an alias and referenced it in `tailwind.config.js` (which is processed by PostCSS via `postcss-loader`) to manage paths in a more simplier way.

[code]

**Implementations expected to work**

[code]

###

[2020-01-09 10:29] evilebottnawi commented on #424
`require` is part of node.js we can't change how they works, sorry

[2020-01-09 10:29] #424 closed

[2020-01-09 10:39] evilebottnawi commented on #423
I don't understand problem

[2020-01-09 10:45] simonh1000 commented on #423
sorry, this was not really your problem I suppose. Tailwind provide an example of postcss.config.js that is an array, whereas you show an object. It is not at all obvious to a first timer like me how to reconcile the difference. Striclty speaking it is really tailwind's issue that they advise using your package but provide instructions that can't be used with it, but perhaps you could make the dis

[2020-01-09 10:48] evilebottnawi commented on #423
@simonh1000 Can you provide a link on their instructions?

[2020-01-09 12:07] simonh1000 commented on #423
https://tailwindcss.com/docs/installation#webpack

[2020-01-27 21:04] gquinteros93 commented on #421
The problem was the compiler was failing to compile the ```scss``` files of the components when they try to import an ```scss``` file from ```node_modules```.

I resolved it with ```sass-loader``` applying the following rule for ```scss``` in the **webpack.config.common.js**:
[code]
If I will have to import another library from node_module I should add another ```else if``` statement:

Example, le

[2020-01-27 21:04] #421 closed

[2020-02-05 16:27] blachawk commented on #36
@ai for myself and anyone who is new to using parsers, can you elaborate a little more on how

gets implemented in our webpack.config.js file?  I currently have the following setup...

[code]

Thanks in advanced!

[2020-02-05 18:59] ai commented on #36
@blachawk

[code]

Should works. But if you want to compile SCSS to CSS, you need yo use `sass-loader` and not a parser.

[2020-02-18 17:53] kobe-14 commented on #311
@t00768nh thats because you would not have imported the image properly, I mean the path of the image was wrong

[2020-03-01 13:16] Posnakidesd commented on #390
Hi. Is this issue resolved?

[2020-03-29 08:56] bocanhcam opened #426 "postcss-loader webpack not working"
I'm new to this. So please help me.
I have some config like this in my project which use `reactjs` `webpack`.
I try to use `postcss-loader` but seem like it's not working.
When I run `yarn warch:css` I'll get the Internal css and it not change anything (without any error) , maybe except for one. it add `-webkit-user-select: none;`
Is there anything wrong?.

**package.json**
[code]

**webpack.confi

[2020-03-31 10:10] evilebottnawi commented on #426
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-03-31 10:10] #426 closed

[2020-03-31 10:11] evilebottnawi commented on #426
Problem is not in loader

[2020-05-21 16:18] luiscla27 opened #431 "Add a way to suppress URL path check error"
### Proposal

Please include a way to tell `postcss-loader` that it should not try to resolve an URL path

### Use Case

In my case I have an image which his URL path doesn't exists until the application is running, I'm doing this:
[code]
The thing is that` ../style/s-welcome-bg.style` doesn't exist at compilation time so the `CssSyntaxError` is thrown:

[code]
### Implementation

- [ ] I'm open t

[2020-05-21 17:01] evilebottnawi commented on #431
postcss-loader does't work with urls, it does css-loader and we already have `url` option for this

[2020-05-21 17:01] #431 closed

[2020-05-21 20:12] luiscla27 commented on #431
What do you mean that you already have `url` option for this?? You mean [the url option form css-loader](https://github.com/webpack-contrib/css-loader#boolean)??

I tried that, however it seems that Angular [is not intended that developers modify the webpack configuration](https://stackoverflow.com/a/40762015/1657465) .. that's way to much work for just to skip a simple validation.

[2020-05-22 11:03] evilebottnawi commented on #431
Please open an issue in angular repo, it is out of scope postcss-loader

[2020-06-16 13:26] aero31aero opened #432 "Allow setting fallback config for files that we can't find a config for."
### Proposal

Allow specifying a fallback config, in case we cannot find a config for a file by looking up the tree.

The current system of specifying a config as below is not enough because we lose the ability to override this config via per-directory config files:

[code]

### Use Case

- `node_modules` is symlinked to a cached/versioned directory, so importing a css file from node_modules throw

[2020-06-16 13:29] aero31aero commented on #432
Related issue: https://github.com/postcss/postcss-loader/issues/293

[2020-06-16 13:30] evilebottnawi commented on #432
Sorry, out of scope `postcss-loader`, you can implement own logic for loading config files

[2020-06-16 13:31] evilebottnawi commented on #432
[code]

[2020-06-16 13:36] aero31aero commented on #432
That could work too. But I still think that either https://github.com/postcss/postcss-loader/issues/422 should be fixed or this should be added.

Thanks for the suggestion.

[2020-06-16 13:40] evilebottnawi commented on #432
We use `postcss-load-config` module for loading configuration, so we can't do here something

[2020-07-22 02:15] zq1997 opened #434 "Wrong SourceMap genrated"
### Details

Wrong SourceMap genrated

### Reproduction (Code)

[code]

[code]

generated sourcemap has wrong path `test.css` instead of `./src/test.css`
[code]

### Environment

|OS|node|npm/yarn|package|
|:-:|:--:|:-:|:------:|
|Ubuntu20.04.1 LTS|13.14.0|6.14.4|3.0.0|

[2020-07-22 10:03] evilebottnawi commented on #434
Bug on `css-loader` side and `mini-css-extract-plugin`, already in WIP, we need postcss@8 release to fix it

[2020-07-22 10:57] zq1997 commented on #434
But if I disable postcss loader，the problem goes away.
And if I append sass-loader after postcss， also problem free.
A little confuseing.

[2020-07-22 12:13] evilebottnawi commented on #434
Oh, yep, I was misleading, it is bug in postcss, because postcss, don't know how generate absolute sources, let's keep open

[2020-07-22 12:14] evilebottnawi commented on #434
@zq1997 maybe you can create minimum reproducible test repo, just want to add tests on this case?

[2020-07-22 13:41] zq1997 commented on #434
Just three reproducible files, (too lazy to create a repo)
**package.json**
[code]

**webpack.config.js**
[code]

**src/test.css**
[code]

Then
[code]

GOT
[code]
EXPECTED
[code]
the differnces is directory name `./src`

[2020-07-22 13:47] zq1997 commented on #434
Ops, this files cannot reproduce *But if I disable postcss loader，the problem goes away.*
Sorry but my origin repository is too complex...
maybe we can focus on *And if I append sass-loader after postcss， also problem free.* this problem.

[2020-07-22 13:49] evilebottnawi commented on #434
Thanks!

[2020-07-22 13:58] evilebottnawi opened #435 "migrate repo to webpack-contrib organization"
As a webpack and webpack ecosystem developer, I am going to move the repository to webpack-contrib organization.
It has a number of advantages:
- Timely responses on questions/bugs/features
- Keeping your code up to date and compatibility with stable webpack version
- The ability to quickly fix bugs
- Official status - docs on official site
- No problem when current developers are not available
-

[2020-07-22 18:26] ai commented on #435
I like the idea of moving `postcss-loader` to webpack org, since it will show the PostCSS importance in the webpack ecosystem.

Also, it is a good step for our old plan of merging `css-loader` and `postcss-loader`.

[2020-07-22 20:05] ai commented on #435
@evilebottnawi got approval from @michael-ciniawsky  by email

[2020-07-23 11:30] evilebottnawi commented on #435
@ai Great! Let's start migration:
1. Need send `LICENSE` file with content (PR) from owner:
[code]

2. Add publish access to npm (remove developers without full 2FA, it is not safe, we can invite them again after enabling)
3. Add me access to github for migration (Owner level)
4. :tada:

[2020-07-23 15:46] ai commented on #435
I will try to do it on next week

[2020-07-23 16:11] evilebottnawi commented on #435
Thanks! @ai Can we do it before postcss@8 release, I want to do some more work before do new major release

[2020-07-23 16:17] ai commented on #435
Of course 😆 PostCSS 8 is far from release

[2020-07-24 05:48] zq1997 commented on #434
I wrote an `no-op` loader to view the sourcemap changes
[code]
apply the loader
[code]
The result make me a little confused, why there is two sources? and relative path became absolute
[code]

[2020-07-24 07:43] zq1997 commented on #434
My original project is writen in Vue, I also print the sourcemap result of `./src/app.vue`
[code]
the absolute path is wrong becuase `.../src/src/...` is not any directory, seems to be a wrong path concatation

[2020-07-24 11:27] evilebottnawi commented on #434
https://github.com/postcss/postcss-loader/blob/master/src/index.js#L157

[2020-07-24 12:16] zq1997 commented on #434
And this problem is caused by https://github.com/postcss/postcss-loader/blob/master/src/index.js#L141 line. postcss return source map with `src/src` path

[2020-07-24 12:52] evilebottnawi commented on #434
Yes, we need fix it

[2020-07-27 18:29] ai commented on #435
Can we add `Copyright 2017 Andrey Sitnik <andrey@sitnik.ru>, Copyright JS Foundation and other contributors`?

You already have it and everyone has 2FA

![20200727112907](https://user-images.githubusercontent.com/19343/88577806-73d0e680-cffc-11ea-8bee-408bc5aca95b.png)

Changed to Admin level (I didn’t find Owner level)

[2020-07-28 12:02] evilebottnawi commented on #435
Unfortunately not, but you can leave that in the source code, JS Foundation can't have double licenses, because it is potential unsafe, we cannot rely on the fact that the previous developer can to revoke licenses

[2020-07-28 18:10] ai commented on #435
@evilebottnawi done https://github.com/postcss/postcss-loader/commit/fa02761482e5861326a42470133eb3ad394b93ef

[2020-07-29 12:33] evilebottnawi commented on #435
Done, big thanks!

[2020-07-29 12:33] #435 closed

[2020-08-10 11:46] #373 closed

[2020-08-10 18:11] evilebottnawi commented on #432
Closing, future the `config` option will accept only:
- `true` - autoload config
- `false` - do not autoload config
- `path/to/config.js` - path to config

If you need complex logic you can use `config: 'path/to/my-complex-configuration-builder.js'`

[2020-08-10 18:11] #432 closed

[2020-08-14 15:47] evilebottnawi commented on #423
Now we support `Array` and `Object` syntax for plugins in `postcss.config.js` and `options.plugins`, also `tailwindcss` update docs, we will update docs too before the next major release

[2020-08-14 15:47] #423 closed

[2020-08-14 15:49] evilebottnawi commented on #434
Let's close in favor https://github.com/webpack-contrib/postcss-loader/issues/390, we need `postcss@8` release to fix it

[2020-08-14 15:49] #434 closed

[2020-08-14 15:54] evilebottnawi commented on #417
There are two way to add dependencies:
1. postcss plugin should emit `message` https://github.com/webpack-contrib/postcss-loader/blob/master/src/index.js#L193:
[code]
2. use `this.webpack` inside config (it is loader context) and pass `this.webpack.addDependency` as function to plugin
[code]

In both cases you need to do some work on plugin side

In both cases you need do some work on a plugin sid

[2020-08-14 15:54] evilebottnawi commented on #417
We should document it

[2020-08-17 13:27] #354 closed

[2020-08-17 13:31] evilebottnawi commented on #422
Now you can set absolute path to config (not directory), it should solve the problem, anyway if you still have a problem, please provide reproducible test repo, loading logic inside `cosmiconfig` package, so we can't manage it, maybe you need open the issue inside `cosmiconfig`, other solution is creating own utils for loading configuration, it is out of scope `postcss-loader`

[2020-08-17 13:31] #422 closed

[2020-08-17 13:57] #351 closed

[2020-08-17 14:16] #388 closed

[2020-08-17 16:24] #417 closed

[2020-09-01 19:49] michaelalhilly opened #455 "Setting plugins in Webpack instead of config file not working"
- Operating System: Mac OS Catalina 10.15.6
- Node Version: 12.18.3
- NPM Version: 6.14.6
- webpack Version: 4.44.1
- postcss-loader Version: 3.0.0
- postcss-preset-env Version: 6.7.0

### Expected Behavior

Use post-css-loader and postcss-preset-env without postcss.config.js. I would rather not pollute my project with unnecessary config files if possible.

### Actual Behavior

Following this proj

[2020-09-02 05:39] evilebottnawi commented on #455
In have `dev` branch in `master`, we prepare new major release, but got some problems and WIP on this, I apologize for the current situation, release will be in near future, please use this docs right now https://github.com/webpack-contrib/postcss-loader/tree/v3.0.0

[2020-09-02 20:36] michaelalhilly commented on #455
No worries @evilebottnawi. This is not a critical part of the build process. I will keep an eye on this repo and try again when your team merges the update. Just thought it would be helpful to report this.

[2020-09-04 18:23] evilebottnawi commented on #390
Fixed in master, release will be soon - next week

[2020-09-04 18:23] #390 closed

[2020-09-07 09:19] mrzepinski opened #463 "New version (required?)"
Is there any chance to release the new version? There are 30 commits on master. I'm able to use tarball, but it's better to have strict version to use at the end.

[2020-09-07 10:08] evilebottnawi commented on #463
You may notice that work is still in progress every day, ETA is today/tomorrow

[2020-09-07 10:08] #463 closed

[2020-09-07 11:10] rjgotten commented on #434
The source maps specification only supports relative or absolute URLs in the `sources` collection:

An absolute URL means an actual fully qualified `http(s)://<domain>/<path>`. PostCSS can never know how to generate an absolute URL because it's called with a file _from disk_ and has no knowledge of where that file fits in the grand scheme of things, or where it will be deployed. Generating a URI t

[2020-09-07 11:25] evilebottnawi commented on #434
@rjgotten it is done by `css-loader`, other load should emit absolute path in sources (fixed in `sass-loader`/`less-loader`/`postcss-loader`, WIP in `stylus-loader`), please look at source code if `css-loader` https://github.com/webpack-contrib/css-loader/blob/master/src/utils.js#L414

[2020-09-07 11:29] evilebottnawi commented on #434
Yes, sources should be URL, but no one tool supports merging sources maps using `file://` protocol for 100% supporting spec in sources, so we use `path` (not URL) in sources right now

[2020-09-07 11:39] evilebottnawi commented on #434
If you have a problems right now please create reproducible test repo, note - `postcss-loader` is not published yet with fix, so you can have corrupted sources right now

[2020-09-07 11:43] rjgotten commented on #434
No tool would ever need to.

According to spec, a source map's `sources` property can be a relative URL, in which case it's relative to the file for which it was generated. In case of a Webpack compilation, that file has a disk path which is known to Webpack. Webpack knows the disk path to the compilation root as well. So you can create a relative path from root-to-file, which can be straight-up i

[2020-09-07 12:06] evilebottnawi commented on #434
@rjgotten

You just said that `sources` should be URL, but `sass-loader`/`less-loader` and other loaders emit `\` on windows, isn't this a violation of the specification?

I don't want to be involved in a toxic non-constructive talk.

I asked you to look at the code of `css-loader`. Also, if you were attentive, you would notice that `babel`/`typescript`/`coffee` tools emit absolute sources using N

[2020-09-07 12:07] evilebottnawi commented on #434
Apparently since that time, many still have not learned to communicate

[2020-09-07 12:09] evilebottnawi commented on #434
https://github.com/postcss/postcss/issues/1348
https://github.com/postcss/postcss/issues/1347
https://github.com/postcss/postcss/issues/1352

[2020-09-07 17:19] evilebottnawi commented on #455
Done https://github.com/webpack-contrib/postcss-loader/releases/tag/v4.0.0, just use `^4.0.0` version for `postcss-loader`, docs up to day

[2020-09-07 17:19] #455 closed

[2020-09-08 09:06] in-in opened #472 "options has an unknown property 'config'"
- Operating System: **Linux Mint 19.3**
- Node Version: **v12.15.0**
- NPM Version: **6.14.4**
- webpack Version: **4.44.1**
- postcss-loader Version: **4.0.0**

### Expected Behavior

Set custom config files

### Actual Behavior

[code]

### Code

[code]

According to the [documentation](https://github.com/webpack-contrib/postcss-loader/blob/master/README.md#string), the code above should work.

[2020-09-08 09:35] equinusocio commented on #472
Same issue here. Our workflows are completely broken after this update.

[2020-09-08 09:41] aariacarterweir commented on #472
Yup had to roll back to v3, this is broken in v4

[2020-09-08 10:26] evilebottnawi commented on #472
Please read documentation and changelog before open the new issue:

[code]

[2020-09-08 10:26] #472 closed

[2020-09-08 11:16] in-in commented on #472
@evilebottnawi  please tell me who told you I didn't read the documentation?
Anyway, thank you for your help.

![202521599563397](https://user-images.githubusercontent.com/8797432/92469542-a49c6200-f1dd-11ea-99d1-be267165c7fe.png)

[2020-09-08 11:24] evilebottnawi commented on #472
@in-in my mistake, sorry, WIP on updating docs

[2020-09-08 11:29] evilebottnawi commented on #472
https://github.com/webpack-contrib/postcss-loader/pull/473

[2020-09-08 11:59] equinusocio commented on #472
@evilebottnawi Next time, if 3 people share the same issue probably there is something better to say instead of "read the documentation" because you're assuming that 3 people are just stupid.

Said that, thanks for the fast update.

[2020-09-08 12:05] evilebottnawi commented on #472
@equinusocio

Unfortunately sometimes I get a lot more issues, because many developers don't like read notes, I can provide an infinite number of links to this :smile: Anyway I done mistake here

[2020-09-08 12:28] creage opened #474 "The loader does not apply config after search up the directory tree for configuration"
- Operating System: Windows 10
- Node Version: v14.9.0
- NPM Version: 6.14.8
- webpack Version: 4.44.1
- postcss-loader Version: 4.0.0

### Expected Behavior
I have `postcss.config.js` file in the root of the project, my `webpack.config.js` is imported from `./webpack/app` folder. I expect my `postcss` configuration to be used/applied correctly.

### Actual Behavior
Running webpack ends up with co

[2020-09-08 13:12] evilebottnawi commented on #474
Please provide structure of your project

[2020-09-08 13:13] evilebottnawi commented on #474
If you got:
[code]

it means you haven't loaded config

[2020-09-08 13:39] creage commented on #474
well, it's something like this

[code]

[2020-09-08 13:43] evilebottnawi commented on #474
@creage How you run `webpack`? Does `webpack.config.js` uses `webpack-merge`? Where you have `postcss-loader` in `webpack.config.js` or in `_webpack.dev.config.js` ?

[2020-09-08 13:47] creage commented on #474
1. I run it using npm script `"watch:app": "nodemon --watch ../../.env --exec webpack",`
2. Yes - I do use `webpack-merge`
3. I have my `postcss-loader` defined in the `webpack.dev.config`, which merges back with `webpack.base.config`

[2020-09-08 13:51] evilebottnawi commented on #474
Still can't reproduce :disappointed: Maybe you can create minimum reproducible test repo?

[2020-09-08 14:13] creage commented on #474
@evilebottnawi here you go https://github.com/creage/postcss-loader-repo

just open you console, and run `npm run watch:app`

[code]

[2020-09-08 14:33] evilebottnawi commented on #474
@creage Here logic what we use for `search` config https://github.com/davidtheclark/cosmiconfig#explorersearch

[2020-09-08 14:34] evilebottnawi commented on #474
So i think you have invalid `process.cwd()`

[2020-09-08 14:41] creage commented on #474
Well, it is extremely strange, but if I try to create a new, simpler repo - I cannot reproduce this issue either. I'll try to investigate it further.

P.S. It seems that if I add `postcssOptions: { config: 'path/to/config' }` - it works fine even on my prod repo...

[2020-09-08 15:01] evilebottnawi commented on #474
@creage

Yes, but autosearch should work out of box, can you write in `console.log(process.cwd())` in `webpack.config.js`?

[2020-09-08 15:21] creage commented on #474
Well, I hope I won't be fired for sharing this :)

It seems that not ALL accesses to `postcss.config` are failing, but only SOME of them.

I also compile some stuff from `node_modules` - could these styles crying about missing config?

P.S. I'm also using `lerna` and hoist all my package deps into upper `node_modules`. And my repo root does not have any `postcss.config.js`.

[code]

[2020-09-08 15:28] evilebottnawi commented on #474
If you use monorepo I recommend to set `config: path.resolve(__dirname, './path/to/postcss.config.js')` or you need to put config in each package

[2020-09-08 15:32] evilebottnawi commented on #474
hm, should not, otherwise it is bug on `cosmiconfig` side, but looking at source code, no problems with it

[2020-09-08 15:47] creage commented on #474
OK, I think I've found the issue.

So, once again - I have a monorepo, with packages. All package dependencies are hoisted to the root. Every package has it's own `postcss.config.js`.

Now I go into package folder, and try to build that package. And all package style files are processed by `postcss-loader` as expected, since there is a local `postcss.config.js`.

But for files that I import from o

[2020-09-08 15:58] evilebottnawi commented on #474
Good catch, that is what I meant when I said that I recommend specifying the config option for monorepos, because we really don't know what config to use, anyway if you have ideas how we can improve it feel free to feedback

[2020-09-08 19:32] stefanmaric commented on #474
I'm upgrading `postcss-loader` to v4 inside a monorepo (with `pnpm`) and I'm having this issue, even tho a config path is specified (it was specified already before the upgrade).

I get:

[code]

Which is the right place to look it for:

[code]

It tried renaming the config file to the diff versions without success.

I checked file permissions as well:

[code]

What could it be? :thinking:

[2020-09-08 19:36] evilebottnawi commented on #474
@stefanmaric Can you create reproducible test repo? Maybe we can improve DX with monorepos, I want to test old version and new version

[2020-09-08 19:37] stefanmaric commented on #474
Give me a min to try

[2020-09-08 19:52] michaelalhilly commented on #455
@evilebottnawi Thanks for all your hard work!

[2020-09-08 20:21] stefanmaric commented on #474
@evilebottnawi  so while creating the test case I discovered it is not related to the monorepo but to the `thread-loader`: https://github.com/stefanmaric/postcss-loader-monorepo-test

If you remove the two lines that include `thread-loader` it does work, otherwise it fails with the "not found" error.

This is the case if you use `pnpm`s workspace or use `npm` inside `webapp`. So unrelated to monor

[2020-09-09 11:05] evilebottnawi commented on #474
@stefanmaric just note - you can replace `OptimizeCSSAssetsPlugin` on https://github.com/webpack-contrib/css-minimizer-webpack-plugin (cache/weach cache in watch mode/parallel/source maps/etc)

[2020-09-09 11:07] evilebottnawi commented on #474
Other note - you don't need `ident` (it is in CHANGELOG) and you can union `css-loader` option https://github.com/webpack-contrib/css-loader#auto

[2020-09-09 15:20] TheDutchCoder opened #477 "4.0.0 and resolve-url-loader no longer work together"
- Operating System: MacOS 10.14.6
- Node Version: 12.15.0
- NPM Version: 6.14.8
- webpack Version: 4.44.1
- postcss-loader Version: 4.0.0

### Expected Behavior
The build to pass without errors

### Actual Behavior
Build fails because of postcss-loader requiring absolute URL's, but resolve-url-loader passes down relative URLs (I think)

### Code

[code]

### How Do We Reproduce?
I can't share my p

[2020-09-09 15:23] evilebottnawi commented on #477
`postcss-loader` does not resolve `URLs`, `css-loader` resolve all URLs starts with `/` as server-relative URLs, exactly how they work in the browser, you don't need `resolve-url-loader` loader anymore

[2020-09-09 15:23] #477 closed

[2020-09-09 15:30] TheDutchCoder commented on #477
Removing `resolve-url-loader` results in resolving errors like: `Error: Can't resolve './src/fonts/Miller-Banner-Light.woff2' in '/var/projects/foo/webpack/src/css'`

[2020-09-09 15:33] TheDutchCoder commented on #477
Ohhhh hold on... it's not resolving URL's in the webpack config. Not so much in the files.
Okay I'll take a look at that. The error was very ambiguous unfortunately.

[2020-09-17 00:26] RyanZim opened #480 "postcss-load-config"
Hi, I'm @RyanZim, maintainer of https://github.com/postcss/postcss-cli

I noticed that in https://github.com/webpack-contrib/postcss-loader/pull/440, you migrated away from https://github.com/michael-ciniawsky/postcss-load-config in favour of doing the config loading internally. I'm curious as to why this was done. postcss-cli still uses postcss-load-config; should we be migrating away from it?

[2020-09-17 11:15] evilebottnawi commented on #480
We had a discussion yesterday with @ai and decided to create an RFC for configurations, let's wait

[2020-09-17 12:53] bensampaio commented on #405
I am trying to upgrade to `postcss@8.0.5`, `postcss-loader@4.0.2` and `autoprefixer@10.0.0` but I am getting this issue as well. Webpack seems to build as expected but prints these warnings a lot of times before printing the final output. I noticed that I only get these warning in `development` mode.

Here's my updated loader config:

[code]

Any idea what could be causing this issue?

[2020-09-17 15:30] bensampaio commented on #405
@evilebottnawi yes, I do. Is that the cause of the issue?

[2020-09-17 17:03] pablobarria opened #481 "Documentation isn't aligned with what worked for me. Not sure where the error is."
I just updated dependencies on a project from postcss-loader 3.0.0 to 4.0.2

My previous webpack config file, using *postcss-present-env* and *postcss-nested* looked like this:

[code]

Looking at the documentation, I understand that, instead, my config file should look like this:

[code]

However, this generates the following error: `Loading PostCSS "importFrom" plugin failed: Cannot find module

[2020-09-18 07:46] creage opened #482 "Error: true is not a PostCSS plugin"
- Operating System: Windows
- Node Version: 14.9.0
- NPM Version: 6.14.8
- webpack Version: 4.44.2
- postcss-loader Version: 4.0.2
- autoprefixer: **10.0.0**

### Expected Behavior
Having `autoprefixer` plugin defined in config should process styles correctly.

### Actual Behavior
Trying to run `webpack` fails with exception:
[code]
Returning `autoprefixer` to **v9.8.6** solves the problem, so I'm

[2020-09-18 11:08] evilebottnawi commented on #482
Update postcss to `8` version

[2020-09-18 11:08] #482 closed

[2020-09-18 11:23] evilebottnawi commented on #481
Not sure why it is not work because you ignore the issue template

[2020-09-18 11:23] #481 closed

[2020-09-18 11:24] evilebottnawi commented on #481
[code]

[2020-09-18 11:32] evilebottnawi commented on #405
@bensampaio some package doesn't have `postcss.config.js`, you need to put it in each packages or in root or setup in loader using `config`

[2020-09-18 12:16] bensampaio commented on #405
@evilebottnawi I am putting it in the loader as I showed above:

[code]

I can't move this configuration to `postcss.config.js` because the value of `overrideBrowserslist` is dynamic. In any case I tried creating a `postcss.config.js` on every package in my monorepo and this issue still remains. In my webpack config I use `mini-css-extract-plugin`, `css-loader`, `sass-loader`, `postcss-loader` and

[2020-09-18 12:21] bensampaio commented on #405
If I remove `postcss-loader` from my configuration then the problem is gone. But this isn't exactly what I want xD

[2020-09-18 12:32] evilebottnawi commented on #405
@bensampaio Please:
- migrate from `optimize-css-assets-webpack-plugin` on https://github.com/webpack-contrib/css-minimizer-webpack-plugin, it is official css plugin for minimizing with cache/parallels/source maps/etc
- `In any case I tried creating a postcss.config.js on every package in my monorepo and this issue still remains`, you need to put it in root, because you compile files from `node_mo

[2020-09-18 14:43] pablobarria commented on #481
I did not ignore the issue template. I tried to follow two different ones:

![image](https://user-images.githubusercontent.com/5231015/93610768-e24e7700-f9a3-11ea-8eaa-24406885ca42.png)

 but neither of them fit this particular issue, because **I don't know if this is a bug or a problem with the documentation**, and there is no template that targets that particular case.

If you're telling me that

[2020-09-18 14:49] evilebottnawi commented on #481
Are you talking about a documentation problem then it makes sense to use the documentation template?

[2020-09-18 14:59] evilebottnawi commented on #480
@RyanZim fixed https://github.com/michael-ciniawsky/postcss-load-config/compare/v2.1.0...v2.1.1?

[2020-09-18 15:01] RyanZim commented on #480
@evilebottnawi Yeah, `postcss-load-config` now supports postcss v8; was that the only reason you switched away from it?

[2020-09-18 15:09] evilebottnawi commented on #480
@RyanZim Reasons:
- old version `cosmiconfig` (memory leak)
- object syntax is very misleading, no one tool (babel/remark/etc) do not use `object` syntax, example: `{ "plugin-name": false}`, plugin can accept `false` as options, but in this case we disable this plugin
- you can't use `{ require.resolve("my-plugin"): options }`
- you can't use plugins twice `{ "plugin-name": { "color": "red" }, "pl

[2020-09-18 15:24] pablobarria commented on #481
I didn't know it was a documentation problem. If the documentation says one thing and the software does another, without access to a spec I can't decide which one is correct. Now I know. Thanks.

[2020-09-19 02:44] illepic opened #484 "Migrating `options.config.ctx` values to v4 equivalent"
Documentation Is:

- [ x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

With `options.config.ctx` being removed in `v4`, there is no documentation on migrating arbitrary variables to the new approach in `v4`.

### Your Proposal for Changes

I'm still trying to solve this, but happy to PR documentation changes when I figure it out.

[2020-09-19 10:14] bensampaio commented on #405
@evilebottnawi I did create a ´postcss.config.js´ file in the root of my monorepo. That didn't fix the issue :/ And this was just a test anyway because as I mentioned my postcss config needs to be in the loader. I have multiple webpack configs running with different browserslist configurations and as far as I know there's no way I can move that out from my webpack configs. If this loader offers op

[2020-09-19 14:12] evilebottnawi commented on #484
No migrations, this features is not supported anymore due caching problems, if you want to add a specific parameter to `api` please open new issue and describe why you need this

[2020-09-19 14:12] #484 closed

[2020-09-19 14:13] evilebottnawi commented on #405
@bensampaio Please create reproducible test repo

[2020-09-20 20:10] vwpo commented on #405
@bensampaio did you solve the problem? I have exactly the same error! I also use `mini-css-extract-plugin`, `css-loader` and monorepos

[2020-09-23 13:41] kevinvalk opened #486 "Unable to "compile" tailwindcss components and utilities"
- Operating System: Windows 10
- Node Version: v12.18.4
- NPM Version: 6.14.6
- webpack Version: 5.0.0-rc.0 (webpack-cli 4.0.0-rc.0)
- postcss-loader Version: 4.0.2

I have a pure tailwind main.css that I am trying to bundle using webpack 5 assets system.
[code]

### Expected Behavior
Compiled main.css that contains all of tailwindcss

### Actual Behavior
However, while postcss is able to resolve

[2020-09-23 13:49] evilebottnawi commented on #486
Please open an issue in `tailwindcss` repo, you can see what error from `tailwindcss\lib\lib\substituteResponsiveAtRules`

[2020-09-23 13:49] #486 closed

[2020-09-23 13:50] evilebottnawi commented on #486
postcss@8 still have bugs, maybe but on `postcss` side, we can't fix it here, we nothing do with your code, just run `postcss`

[2020-09-23 13:55] kevinvalk commented on #486
Thanks for quick response.

This is actually the same/related to issue https://github.com/tailwindlabs/tailwindcss/issues/2396

[2020-09-23 14:40] bensampaio commented on #405
@evilebottnawi I am trying to reproduce the issue in this repo: https://github.com/bensampaio/postcss-monorepo-issue. However, `webpack` doesn't even seem to be able to resolve the `postcss-loader` while it is able to resolve all the other loaders. I am not sure if this is related but it is definitely weird that I only get this issue with `postcss-loader`.

[2020-09-23 14:42] TorRanfelt opened #487 "postcss-loader says "no plugin set" in 4.0.2 but not in 3.0.0"
postcss-loader 4.0.2 tells me I didn't set any plugin even though autoprefixer has been set.

Because my build file is used across multiple projects autoprefixer is in another library. This was not a problem with postcss-loader 3.0.0, but searching the net I've come across multiple mentions of this being an issue.

If require does not work with plugins in postcss-loader then it is the exception am

[2020-09-23 14:52] evilebottnawi commented on #487
It looks like you just deleted our lovely crafted issue template It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-09-23 14:52] #487 closed

[2020-09-23 14:53] evilebottnawi commented on #487
Respect time of other developers

[2020-09-23 15:13] TorRanfelt commented on #487
Fair enough.

If someone else who has the same issue comes across this:
It's because postcss-loader now is able to reference a plugin like you normally would with a loader, and hence no longer needs  special care if your script is in another library than the one containing node_modules.

This works.
[code]

[2020-09-23 16:05] evilebottnawi commented on #405
@bensampaio Because you run `run build:dev` in `@test/app` workspace but there are no loaders for `@test/app`, sorry problems is not related to webpack or postcss-loader, why it is work for `babel-loader`, because it is hoist to `node_modules/babel-loader`, but no `node_modules/postcss-loader`

[2020-09-23 16:06] evilebottnawi commented on #405
More information https://github.com/yarnpkg/yarn/issues/7572

[2020-09-28 08:31] martinbroos opened #488 "postcss.config.js files are also loaded from imported node_modules"
I'm not sure if we want this but since the 4.0 release postcss.config files are merged with loader options which is great. But some vendor node_modules supply their own postcss.config.js files that now get picked up.

I noticed this because warnings started to display that I was using a browsers key in the autoprefixer settings. But in fact this was some plugin that was imported.

Shouldn't it be

[2020-09-28 11:30] evilebottnawi commented on #488
@martinbroos Can you provide reproducible test repo? Should not happens?

[2020-09-29 13:52] Nux007 commented on #472
Thank's :-)

[2020-10-01 09:22] martinbroos commented on #488
@evilebottnawi i created a simple repo that reproduces the issue:

https://github.com/martinbroos/postcss-loader-poc

[2020-10-02 12:10] evilebottnawi commented on #488
Yes you are right, to be honest, other utilities work similarly, you shouldn't publish files for development

[2020-10-02 12:19] martinbroos commented on #488
Do you mean that libraries shouldn't include postcss.config.js files in their npm publish files ? In a newer version of this plugin it's removed but I'm not sure how many library owners keep to this best practice.

[2020-10-02 12:45] evilebottnawi commented on #488
@martinbroos Yes, you should not include development files in published version, to be honest, no one do this before, so I would say that most developers use this practice

[2020-10-02 13:44] martinbroos commented on #488
Ok good to know. For now I will let it up to you if this node_modules should be excluded or not. We might want to clearify it in the docs where it says:

In way that this also means node_modules that you import.
But otherwise this issue can be closed since the library I used is an exception.

Thanks for the help.

[2020-10-02 13:50] evilebottnawi commented on #488
@martinbroos yep, do you want to send a PR to docs?

[2020-10-05 14:47] X-neuron opened #491 "Unnecessary semicolon error,when build with webpack5 and antd"
- Operating System:win10
- Node Version:14.12.0
- NPM Version:6.14.8
- webpack Version:5.0.0-rc.3
- postcss-loader Version:4.0.3

[code]

### How Do We Reproduce?
https://github.com/X-neuron/antdWebpack5Test

[2020-10-05 14:50] evilebottnawi commented on #491
You can't use `CSS` inside JS, read the error message, `postcss-loader` try to parse JS file, you need search the problem in the configuration

[2020-10-05 14:50] #491 closed

[2020-10-06 10:31] X-neuron commented on #491
thanks very much~

[2020-10-15 03:40] yoyo837 opened #494 "Does the plugins option no longer support with function in version 4.x?"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

In CRA after eject:

[code]

https://github.com/webpack-contrib/postcss-loader#object
### Your Proposal for Changes

The BREAKING CHANGES log does not contain its changes.

[2020-10-15 11:58] evilebottnawi commented on #494
Don't understand your questions, we don't change plugin API, because we just loader, not postcss

[2020-10-15 11:58] #494 closed

[2020-10-15 12:08] yoyo837 commented on #494
Sorry for my poor English！

[2020-10-17 13:57] X-neuron commented on #491
repo is here：
https://github.com/X-neuron/webpack5antdtest

when  disable the poss-loader ，after "npm run dev/build" it works fine, can see the correct result. so this can infer less-loader and css-loader works fine and include/ exclude logic maybe right.

in webpack/webpack.config.js
[code]

but when enable the poss-loader，error encountered， I'm not sure which loader problem is

[code]

So can we

[2020-10-17 14:20] evilebottnawi commented on #491
It is problem with postcss parser, not with postcss-loader

[2020-10-18 09:04] X-neuron commented on #491
thanks so much~

[2020-10-18 15:14] pfdgithub commented on #488
We cannot restrict all developers from complying with this requirement. It is recommended to exclude the node_modules directory by default.

[2020-10-19 13:54] martinbroos commented on #488
@pfdgithub So you are saying that when using postcss-loader its recommended to exclude the node_modules directory when adding the plugin to webpack.config.js ? Can you show us how you would do that?

@evilebottnawi  At this moment i'm not sure what we should add to the docs. We could clearify that it check node_modules folders but this doesn't resolve the issue. So if the developer could add a exc

[2020-10-19 14:07] nolimitdev opened #495 "Doc for webpack v4 at https://v4.webpack.js.org/loaders/postcss-loader/ is incorrect"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
Doc for your loader for webpack v4 is here https://v4.webpack.js.org/loaders/postcss-loader/ and there is a example which is not working... It is first after Plugins header here: https://v4.webpack.js.org/loaders/postcss-loader/#plugins

1.) It seems that "ident" options is not supported

[2020-10-19 14:11] evilebottnawi commented on #495
Because here docs for v4 version, v4 is deprecated and docs will not updated, sorry, we can't keep up to deps all docs, include old versions

[2020-10-19 14:11] #495 closed

[2020-10-19 14:13] evilebottnawi commented on #488
I can't understand why a lot of problems with this, you should not put dev files in publish directory, it is only right answer

[2020-10-19 14:20] nolimitdev commented on #495
It seems that doc for v4 is incorrect for ages before v5. I could make PR but I can not find branch for v4. Webpack v5 was released fee days ago, I dont think it is deprecated... https://webpack.js.org/blog/2020-10-10-webpack-5-release/

[2020-10-19 14:26] evilebottnawi commented on #495
You can open an issue in webpack docs repo, we can't fix it here

[2020-10-19 14:35] nolimitdev commented on #495
Sorry for maybe silly questions and thanks for patience, but I was reporting it here because of website https://v4.webpack.js.org/loaders/postcss-loader/ has at the top feature "EDIT DOCUMENT" and it navigates to this repo where Im reporting it ;) Im really confused now. So if this repo is not correct could you please provide some link where I can report it?
![link](https://user-images.githubuserc

[2020-10-19 14:38] evilebottnawi commented on #495
This problem with not docs, this problem is how official docs site stores loaders/plugins docs for old versions

[2020-10-20 11:37] martinbroos commented on #488
I understand but you can't always control what library authors do. That's why i'm asking @evilebottnawi if we can prevent postcss-loader from checking the node_modules folder.

[2020-10-20 12:49] evilebottnawi commented on #488
@martinbroos as we can't control code of libraries and packages, you have `include/exclude` to fix it, but the best solution - open an issue in the repo with these problems

[2020-10-20 12:57] martinbroos commented on #488
Ok I will close this issue as documentation isn't required. Thanks for looking into this.

[2020-10-20 12:57] #488 closed

[2020-10-20 13:10] evilebottnawi commented on #488
@martinbroos if you want you can send a PR to docs, many docs is good always :smile:

[2020-10-21 03:48] pfdgithub commented on #488
I mean it is recommended that postcs-loader provide a configuration that allows we to exclude node_modules directory.

[2020-11-10 10:34] jantimon opened #496 "Accessing the loader in postcss-loader 4.x"
Is there a migration guide for users migrating postcss-loader 3.x to postcss-loader 4.x?

I couldn't find the correct way to access the `loader` with postcss-loader 4.x.

With postcss-loader 3.x my configuration looked like this:

[code]

How would the configuration look like for postcss-loader 4.x?

This is the full demonstration of the example above: https://codesandbox.io/s/icon-font-webpack-pl

[2020-11-10 11:12] evilebottnawi commented on #496
Here migration guide https://github.com/webpack-contrib/postcss-loader/releases/tag/v4.0.0

https://github.com/webpack-contrib/postcss-loader#postcssoptions

[2020-11-10 11:12] #496 closed

[2020-11-18 22:54] ikornienko opened #497 "Error when ctx.options.map is being used in postcss.config.js"
- Operating System: macOS Catalina
- Node Version: 14.15.1
- NPM Version: 6.14.8
- webpack Version: 4.42.1
- postcss-loader Version: 4.0.4

### Expected Behavior

No failure with the valid `postcss.config.js`.

### Actual Behavior

Seeing an error

[code]

### Code
`postcss.config.js` (especially line `84` mentioned in the error) has a config

[code]

It's a valid syntax as specified in [postcss-c

[2020-11-18 23:20] ikornienko commented on #497
Not sure if it can be related to #480 because a different loader is now being used.

[2020-11-19 12:14] evilebottnawi commented on #497
We don't have compatibility with webpack-cli due it was abandoned a long time, I will try to fix it

[2020-11-19 12:59] evilebottnawi commented on #497
Also I think you need to open an issue in `postcss-cli` repo, because many things are really weird and I don't want to implement them here:
- https://github.com/postcss/postcss-cli/blob/master/index.js#L51 - overriding `process.env.NODE_ENV` is the very very very bad idea in vendor code, it is unsafe
- https://github.com/postcss/postcss-cli/blob/master/index.js#L176 - why? what if I need something

[2020-11-19 13:08] #497 closed

[2020-11-19 13:10] evilebottnawi commented on #480
Let's close, feel free to feedback

[2020-11-19 13:10] #480 closed

[2020-11-19 15:38] RyanZim commented on #480
Oh, yes, forgot about this issue; sorry.

[2020-11-20 06:00] ikornienko commented on #497
@evilebottnawi thank you for the response and a light speed fix + release! The concerns you bring about `postcss-cli` are indeed disturbing. I don't have all the context, TBH I haven't worked with `postcss-cli` too close. Just happened to be helping on a project that actively uses it, and on that project the attempt to upgrade `gatsby-plugin-postcss` broke the build because of the issue you just f

[2020-11-20 10:18] tianzhich opened #500 "postcss-loader changes the relative path of `url()` function returned from `sass-loader`"
- Operating System: MacOS 10.15.4
- Node Version: v14.5.0
- NPM Version: 6.14.5
- webpack Version: 4.42.0
- postcss-loader Version: 3.0.0

### Expected Behavior
I don't want `postcss-loader` to change the relative path in `url()`, so it can be resolved by the next `css-loader`. Is there an option I can use to disable it?

### Actual Behavior
The path changed from `../assets/foo.png` to `./foo.[has

[2020-11-20 11:22] evilebottnawi commented on #500
postcss-loader don't touch your url, double check your plugins

[2020-11-20 11:22] #500 closed

[2020-11-20 11:23] evilebottnawi commented on #500
Every time when we ask to create reproducible test repo, developers ignore us, but if you look at closed PR by my, you can find around 99% issues resolved by developers when they try to create reproducible test repo, they found problems in own environments and fix it

[2020-11-20 11:29] tianzhich commented on #500
Thank you a lot, I used 3rd party tools which hide most of the webpack configs. I only checked the `module.rules` config so I came with this. I will double-check other configs.

[2020-11-20 11:40] evilebottnawi commented on #500
Yes, only `css-loader` touch `url`/`@import` in the basic setup

[2020-11-20 12:10] tianzhich commented on #500
Yes, but what I am confused about is there was no `css-loader` in the configs. And after process with `sass-loader`, the path in the `url()` was unchanged, but after with `postcss-loader`, it was touched and modified.

I'm not familiar with webpack like you. Have you ever encountered this? Are there any plugins that touched this? I also fired an issue in the repo of that tool. But if you know that

[2020-11-20 13:06] evilebottnawi commented on #500
No

Yes, for example https://github.com/postcss/postcss-url

[2020-11-21 03:31] tianzhich commented on #500
I found that they created an additional plugin to touch this...

[2020-11-24 10:25] kroko opened #501 "Config Files naming"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...

The docs [state](https://github.com/webpack-contrib/postcss-loader#config-files) that

I'm updating webpack stack for v5 and checking any changes in all loaders along the way.

* It stood out that naming of the dotfiles has been changed.
* Tried using `.postcss.js` instead of `.postcssrc

[2020-11-24 13:27] #501 closed

[2020-11-24 13:27] evilebottnawi commented on #501
Thanks, fixed https://github.com/webpack-contrib/postcss-loader/pull/502

[2020-12-09 13:09] manikandanm1757 opened #506 "postcss-loader shows error while compile this style grid-column: 1/-1;"
postcss-loader throws error while compile this line
**grid-column: 1/-1;**

but it works when we add space between the slash like below.
**grid-column: 1 / -1;**

[2020-12-09 13:14] alexander-akait commented on #506
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please open an error in plugin where you handle grid, we don't touch your code

[2020-12-09 13:14] #506 closed

[2020-12-30 00:45] ai opened #507 "Check postcss versions to avoid using PostCSS 7"
Many users report the same problem with PostCSS 7 → 8 migration.

1. They updated `postcss-loader`
2. They ignored `postcss` peer dependency warning
3. npm takes old `postcss` 7 from some deep dependency
4. As a result they have an error about PostCSS incompatibility

Of course, we can blame users. But this is a popular error.

In `postcss-cli` we check `postcss().version` and show `Add postcss to

[2020-12-30 12:13] alexander-akait commented on #507
We allow to use PostCSS 7 and PostCSS 8, what the warhing we should show?

[2020-12-30 17:25] ai commented on #507
We can do something like this:

[code]

[2020-12-31 11:44] alexander-akait commented on #507
But npm@7 install peers deps automatically, yarn exit with non zero code, I can accept this PR, but I don't understand why developers ignore messages from package manager

[2020-12-31 19:06] ai commented on #507
Short answer: because they always ignore warnings 😅

Long answer: npm writes a lot of messages and teach users to ignore them.

Yarn 1 (which is still the most popular) just print warning.

npm 7 is a non-standard version. Only npm 8 will be LTS version.

1. Do you like the idea of reading `package.json` to detect missed dependencies? I didn’t found a better way.
2. Is it OK to add an extra depend

[2021-01-02 12:18] Talent30 opened #508 "Module build failed: SyntaxError"
- Operating System: Alpine Linux
- Node Version: 12.18
- NPM Version: 6.14.6
- webpack Version: 5.11.1
- postcss-loader Version: 4.1.0

### Expected Behavior
DevServer should successfully recompile.

### Actual Behavior

Start DevServer
![DevServer](https://user-images.githubusercontent.com/12595973/103456885-446a9680-4d5f-11eb-8e85-f7f8e9ec9b2c.png)

Save any src file to trigger recompilation
![E

[2021-01-02 12:28] Talent30 commented on #508
After testing it is not a postcss-loader issue.

[2021-01-02 12:28] #508 closed

[2021-01-03 14:05] alexander-akait commented on #507
hm, extra fs call, not good for performance, maybe we can try `require.resolve`?

[2021-01-03 20:50] ai commented on #507
Can you show pseudo-code to understand what do you mean?

[2021-01-04 14:01] alexander-akait commented on #507
Move `postcss` from import and use `try { require.resolve('postcss') } catch {}`

[2021-01-04 22:01] ai commented on #507
If project has a few PostCSS plugins, npm can deduplicate `postcss`:

[code]

Am I right, that in this case `require.resolve()` will work (even if `package.json` has no `postcss`)?

[2021-01-05 12:23] alexander-akait commented on #507
If plugins have postcss in peer deps no postcss in node_modules and `require.resolve` throw an error

[2021-01-05 12:36] ai commented on #507
But most PostCSS plugins still have `postcss` in direct dependencies. I think we should expect to see PostCSS 7 for a few years.

We need a solution for this case. The case with PostCSS 8 only plugins is not a problem, since these users will have errors like `postcss was not found`, which is pretty self-explainable.

[2021-01-05 12:50] alexander-akait commented on #507
Searching and reading `package.json` (don't forget about monorepos and other non standard structures) is very expensive operation, we will very slow down compilation.

Honestly encourage bad practices like not reading messages from package managers, ignoring changelog when you updating new versions and etc are very bad ideas, many projects do it and in the future it will create huge problems with

[2021-01-05 12:55] ai commented on #507
Users do not read docs and do not read ChangeLog. This is reality.

We can blame users,  but blaming users will not make PostCSS 7→8 migration easier.

Yeap, I know that it is a dirty thing. This is why I am suggesting to do it only for `postcss` 7. We can also do it only once (by using some global boolean mark).

If this way is OK, I will create a task on the Cult of Martians. If you have any oth

[2021-01-05 12:56] alexander-akait commented on #507
Sounds good, PR welcome

[2021-01-14 23:08] phated opened #510 "Accept a custom postcss in the config?"
- Operating System: Mac
- Node Version: ^14
- NPM Version: ^6
- webpack Version: ^4
- postcss-loader Version: 4.1.0

### Feature Proposal

I'd like to pass the `postcss()` function as an argument to this loader. If the `postcss` function isn't passed, it can fallback to loading from the peerDependency.

I'm happy to contribute this feature if you think it would be helpful!

### Feature Use Case

`

[2021-01-15 11:55] alexander-akait commented on #510
Sorry, out of scope, it will only confuse new developers, and people will start using it without understanding why it is needed, you can validate version of postcss on your side and throw error/warning, you can even do it inside configuration

[2021-01-15 19:03] phated commented on #510
Thanks for your feedback. We will be able to do your suggestion in the future by requiring users to add postcss as a peerDep, but that is a breaking change to our current users.

We will likely have to use a fork of this loader until we are able to make a breaking change.

[2021-01-21 11:58] alexander-akait commented on #510
Fixed in master, release will be today

[2021-01-21 11:58] #510 closed

[2021-02-03 01:06] DamianPereira opened #514 "Upgrading to postcss-loader 5.0.0 causes TypeError: this.getOptions is not a function"
- Operating System: Manjaro Linux
- Node Version: 14.3.0
- NPM Version: 6.14.7
- webpack Version:
  -  webpack 4.46.0
  -  webpack-cli 4.5.0
  -  webpack-dev-server 3.11.2
- postcss-loader Version: 5.0.0

### Expected Behavior

Webpack should build

### Actual Behavior

The following error appears:
[code]

### Code

Webpack config files:
https://gist.github.com/DamianPereira/a81744c9dea6ac4a96a5e1

[2021-02-03 01:12] DamianPereira commented on #514
I added a debugger in postcss-loader and checked what "this" value was, Here's an image:
![Screenshot from 2021-02-02 22-11-37](https://user-images.githubusercontent.com/17646954/106683715-c8ed4680-65a3-11eb-9aa9-f8497fa79b38.png)

[2021-02-03 10:39] alexander-akait commented on #514
You need `webpack@5` to use the latest version, please read CHANGELOG before updating, it is good practice, also do not ignore messages (i.e. warnings) from your package manager

[2021-02-03 10:39] #514 closed

[2021-02-03 14:15] DamianPereira commented on #514
Sorry! I thought I read most changelogs of all the things I upgraded, but missed that. I think 5.0.0 got released between when I read the changelog and actually upgraded with npm-check-updates.

Sadly I have a huge amount of warnings, but I have to live with them because I must have both react and angular 1.3.4 coexisting in the same project, at least until the migration to react is ready. I'll tr

[2021-02-09 11:04] lostfictions opened #515 "Warn about Webpack 5 requirement"
Documentation Is:

- [ ] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I generally check changelogs when I'm upgrading dependencies, but a few days ago I tried adding `postcss-loader` to a greenfield project and couldn't figure out why it wasn't working. I eventually gave up, but today I decided to dig into stacktraces and actually track down what was going

[2021-02-09 11:06] alexander-akait commented on #515
If you use `npm` v7 or `yarn` PnP or latest yarn you should get error on install step

[2021-02-09 11:08] alexander-akait commented on #515
I don't think extra check (reduce perf) needed here

Reading changelog before updating is the best practice...

[2021-02-09 11:21] lostfictions commented on #515
Thanks for the fast response!

Lots of folks are still on non-PnP `yarn`, too! And `npm` v7 will do the wrong thing here -- for my case where I'm using a package that wraps `webpack@4`, adding `postcss-loader@5` will result in two copies of `webpack` being installed due to its behaviour of installing peerDeps.'

I'm proposing a single property access to allow for better debugging/DX -- do you real

[2021-02-09 11:25] alexander-akait commented on #515
And it is right, you **need** two versions, because other tools require `webpack` v4 (i.e. no compatibility with v5), please read how peer deps works

Yep, That is why there is CHANGELOG, otherwise we would have:

[code]

And etc

[2021-02-09 11:44] lostfictions commented on #515
Wasn't the point of discussion whether `npm` v7 will warn of an issue? I just checked -- not only does npm not emit a warning, the toolchain in question (`electron-forge`) breaks from the automatically-installed peer dep. I'm happy to produce a simple repro if that's helpful, but this is getting away from the scope of the issue a bit.

[2021-02-09 11:46] alexander-akait commented on #515
Just put `webpack` v5 in `package.json`

[2021-02-09 11:53] lostfictions commented on #515
Don't you think this is a bit of a strawman? I'm not suggesting building up warnings and checks for all eternity, but I am suggesting it might be nice to do so on a temporary basis to ease transitions (and `webpack` 4 -> 5 definitely isn't trivial for everyone!). I think it's pretty unfortunate that the `webpack` ecosystem has a widespread reputation for being unfriendly to use, but I don't think

[2021-02-09 12:04] alexander-akait commented on #515
There is another problem here - many loader and plugins already require only webpack v5, it will take us time... which unfortunately is not at all due ecosystem has a widespread, I am fine with improve README, but still think extra check is no needed, we really reduce any unnecessary check, but maybe it make sense, anyway my strong recommendation - always read CHANGELOG, complex things can be comp

[2021-02-17 04:25] fa93hws opened #516 "Allow ident to be passed to loader options"
### Expected Behavior / Situation
`ident` can be passed to loader option

### Actual Behavior / Situation
It is removed in webpack-contrib/postcss-loader@962b1d6#diff-bce88eb40f042401d096992738d1ffa448830370e2e797514de95284d541b3f0

### Modification Proposal
Hi we want to stablize the indent because we use webpack's `loader-runner` to preprocessing some of our css resources. As a consequence, we w

[2021-02-17 11:04] alexander-akait commented on #516
You don't need `ident`, also you can set it on loader level:
[code]

[2021-02-17 11:04] #516 closed

[2021-03-01 16:00] alanxp commented on #418
what? They closed this with no answer? lol

[2021-03-01 16:05] alexander-akait commented on #418
ERROR in ./src/styles/index.css (./node_modules/css-loader/dist/cjs.js?url=false!./node_modules/postcss-loader/src!./node_modules/mini-css-extract-plugin/dist/loader.js!./node_modules/css-loader/dist/cjs.js??ref--10-1!./node_modules/postcss-loader/src!./src/styles/index.css)

You have invalid order of rules (or have invalid the `test` option), here you apply `css-loader` -> `postcss-loader` -> `mi

[2021-03-29 11:56] fkranenburg commented on #515
We cannot upgrade to Webpack 5 because of other dependencies and we didn't expect a minor release would require a complete upgrade of Webpack...

[2021-03-31 01:56] arman-mukatov opened #521 "I get the following message"
ERROR in ./src/containers/SupportPage/SupportInner.less
Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleError: Module Error (from ./node_modules/postcss-loader/dist/cjs.js):
Loading PostCSS "postcss-import" plugin failed: The "path" argument must be of type string. Received undefined

(@/project/src/containers/SupportPage/SupportInner.less)
    at Object.emi

[2021-03-31 11:32] alexander-akait commented on #521
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Bug in `postcss-import`, please read message

[2021-03-31 11:32] #521 closed

[2021-04-07 06:58] danielo515 commented on #515
I think that adding a note on the readme about which is the last version that works with webpack 4 is a very little effort that will save much pain to a lot of developers. Your experience may be that many people doesn't read the readme, but I do, and even people that doesn't read the readme will read it after a failure. Expecting that people who doesn't read the readme will read the changelog is e