[2017-01-06 21:59] michael-ciniawsky commented on #158
@Velenir I never understood that feature from the beginning since the loader chain is an array which gets reduced/composed  `loader3(loader2(loader1()))`, setting any`lint-loader/test-loader` related loader as the first in the chain should basically do the same.

[code]

That said, I would love to see a strong design for CSS pipeline as it feels like a sore point at the moment. Simplifying css-loa

[2017-01-07 03:01] ai commented on #157
We don’t need multiple configs anymore https://github.com/postcss/postcss-loader#plugins

[2017-01-07 03:01] #157 closed

[2017-01-07 03:01] ai commented on #158
@bebraw `postcss-loader` now offically support `plugins` parameter in webpack config. https://github.com/postcss/postcss-loader#plugins

Do we need multiple config anymore?

[2017-01-07 06:16] bebraw commented on #158
That's the core point. Some design decisions are needed. Esp. `importLoaders` feels like a hack and this particular overlap is troublesome. I'll get more eyes on this.

That looks good to me. 👍

I'm not sure. Is the above the recommended way now?

[2017-01-07 06:58] michael-ciniawsky commented on #158
@bebraw Could we ask Tobias to guide someone though the `css-loader` code base?

### 1. Inline (no postcss.config.js)
[code]
[code]

### 2. Common Config (postcss.config.js)
[code]

### 3. Common Config (postcss.config.js) Advanced
[code]

@ai These 3 should cover 99,9% of usecases and personal dev preferences

[2017-01-07 07:11] bebraw commented on #158
Yeah, I'll try to get a little session together. Let's continue on Slack about that.

[2017-01-07 07:51] ai commented on #158
@michael-ciniawsky OK, let’s add `config`. But I want a PR for it :).

[2017-01-07 08:55] michael-ciniawsky commented on #158
@ai ok, `postcss-load-config` seems to need revisited for error handling first (postcss-cli) beforehand + `config.file`. The latter I have locally working for a while, mainly bc of #66 (Hotreload ´postcss.conig.js`) to work, but also for `postcss-cli` now. When resolved I senf PR with `ctx` option + harmonised`ctx` (`ctx.dir/ctx.ext`), maybe hotreload if that works as expected

[2017-01-07 10:56] QuantumInformation opened #160 "Unexpected character issues when using `url` inside pcss"
I'm getting the following errors when loading assets in pcss with url :
[code]

[code]
[code]

[2017-01-07 11:17] michael-ciniawsky commented on #160
@QuantumInformation You need `url-loader` || `file-loader` to get images/assets into your bundle :)

[url-loader](https://github.com/webpack/url-loader)
[file-loader](https://github.com/webpack/file-loader)

**webpack.config.js**
[code]

 🚫 Closing as unrelated to `postcss-loader`

[2017-01-07 11:17] #160 closed

[2017-01-07 11:23] QuantumInformation commented on #160
I see, I was actually not needing to move any assets into the bundle, the files already exist on the server.

[2017-01-07 11:29] michael-ciniawsky commented on #160
Then you must specify the [publicPath](https://webpack.js.org/guides/public-path/) in your webpack.config.js

[2017-01-07 11:59] QuantumInformation commented on #160
I want webpack to bundle the postcss files, but not the assets they refer to (except other pcss files)

So for this structure I don't want webpack to bundle the fonts and img folder (I use relative paths):

![image](https://cloud.githubusercontent.com/assets/216566/21741521/9926cd26-d4d0-11e6-9550-462858f35af8.png)

I tried:
[code]
but that didn't effect the error for the .png

[2017-01-07 12:22] michael-ciniawsky commented on #160
[code]

[2017-01-07 12:37] QuantumInformation commented on #160
if I do that I get:
![image](https://cloud.githubusercontent.com/assets/216566/21741684/02729e36-d4d6-11e6-9d23-d3d66185cc5d.png)

[2017-01-07 13:05] michael-ciniawsky commented on #160
[code]

[code]

[2017-01-07 13:20] QuantumInformation commented on #160
Great thanks for that!Works fine!

[2017-01-08 03:26] DylanPiercey commented on #125
@ai do you know if there is a way to change the config file path?

[2017-01-08 03:42] michael-ciniawsky commented on #125
@DylanPiercey

[code]

[2017-01-08 06:13] ai commented on #125
@michael-ciniawsky did we already release `config` option?

[2017-01-08 07:18] michael-ciniawsky commented on #125
Yep 😛 #145 but without being able to handle/set context, release in `1.2.0`. I can add docs for it in PR for `ctx`

[2017-01-08 07:47] ai commented on #125
“1 month ago” 😅

Yeap, we need a Config section in options docs.

[2017-01-08 09:54] AlexanderTserkovniy commented on #159
So, when I remove `extract-text-plugin` the issue is seems to gone, but I am not entirely sure that it does not depend on `postcss`.

[2017-01-10 07:39] bansalritesh18 commented on #92
I am using postcss-loader (with postcss-import) with webpack 2. I am having two files : Style.css and CommonStyle.css. But When I am importing CommonStyle.css file in Style.css file, the contents of included CommonStyle.css file is not included in Style.css. But contents of Style.css is available in js file.

[2017-01-11 13:26] michael-ciniawsky commented on #159
@AlexanderTserkovniy It's an comfirmed issue with `extract-text-webpack-plugin` && webpack v2 there is already discussion about it in the webpack slack. Bugfix for it will hopefully be released soon. Closing as unrelated to `postcss-loader`

[2017-01-11 13:26] #159 closed

[2017-01-11 13:51] michael-ciniawsky commented on #153
@TrySound fixed in #161

[2017-01-11 13:51] #153 closed

[2017-01-11 13:55] michael-ciniawsky commented on #138
fixed in #161 via `postcss-load-config` update + watching config file for changes is supported now

[2017-01-11 13:55] #138 closed

[2017-01-11 13:58] michael-ciniawsky commented on #158
@Velenir @bebraw @ai anything left here or can I close? PR for context support is underway 😛

[2017-01-11 14:01] bebraw commented on #158
Yeah, let's close. Thanks for the fixes. 👍

[2017-01-11 14:01] #158 closed

[2017-01-11 14:44] michael-ciniawsky commented on #158
@bebraw I have seen the `styling-team` channel, while I'm uncertain if I can add immediate value to it atm, I will definitely take a look when spare time

[2017-01-11 21:27] cbrwizard commented on #92
The missing `importLoaders: 1` in a `query` key in for a `css-loader` was the reason why postcss wasn't working for me.

This is my css-related config:
[code]

[2017-01-12 03:34] craigcosmo commented on #50
@doxavore before or after? in your code you pust resolve-url after postss

[2017-01-12 12:13] samjbmason commented on #157
Is there a way to specify the postcss config location as even with adding the configuration to webpack 2
[code]

Im still getting an error saying `Module build failed: Error: No PostCSS Config found in:`

[2017-01-12 12:15] ai commented on #157
@samjbmason please, debug what you have here in `params.plugins` and `loader.options`?
https://github.com/postcss/postcss-loader/blob/master/index.js#L48

[2017-01-12 12:18] samjbmason commented on #157
@ai Im sure Im not I follow what your asking for

[2017-01-12 12:19] ai commented on #157
@samjbmason open plugin code in `node_modules/postcss-loader`, put `console.log(params.plugins, loader.options)` after line 48. Run build. Post here the output.

[2017-01-12 12:23] samjbmason commented on #157
Ah right yeah sure thing
[code]

[2017-01-12 12:24] samjbmason commented on #157
Additional info is that this is running the latest webpack 2 RC

[2017-01-12 12:25] ai commented on #157
Replace it to `console.log(options)`

[2017-01-12 12:26] samjbmason commented on #157
Getting `undefined` logged out

[2017-01-12 12:27] ai commented on #157
Did you put it *after* 48 line? What output will be for `console.log(params.plugins || loader.options.postcss)`?

[2017-01-12 12:31] michael-ciniawsky commented on #157
@samjbmason Could you try removing the '.scss' ext from `webpack.resolve.extensions`, since you testing for `/\$.(css|scss}/` in `webpack.module.rules`?

[2017-01-12 12:32] ai commented on #157
Could you replace **line 48** to:

[code]

Did it fix build for you?

[2017-01-12 12:32] samjbmason commented on #157
Yeah sure did here is the code
[code]

[2017-01-12 12:32] ai commented on #157
@michael-ciniawsky seems like it has `postcss` in `loader` by some reason :-/

[2017-01-12 12:34] ai commented on #157
@samjbmason Could you replace **line 48** to:

[code]

Did it fix build for you?

[2017-01-12 12:34] samjbmason commented on #157
@ai Still getting `undefined` after adding `var options  = params.plugins || loader.postcss || loader.options.postcss;`

[2017-01-12 12:35] ai commented on #157
@michael-ciniawsky oops, it was webpack plugins :)

[2017-01-12 12:36] ai commented on #157
@samjbmason go to webpack team. It is webpack 2 issue or webpack UX issue.

/cc @TheLarkInn

[2017-01-12 12:36] samjbmason commented on #157
Brilliant thanks, do you know what kind of info they will need when I log the issue?

[2017-01-12 12:39] ai commented on #157
@samjbmason they will need your full config, full webpack version and that `loaderUtils.parseQuery(loader.query)` didn’t contains config `options`.

[2017-01-12 12:39] michael-ciniawsky commented on #157
@samjbmason I think issue is locate somewhere here. Does it build correctly without `postcss-loader` ?

[code]

[2017-01-12 12:41] ai commented on #157
@TheLarkInn maybe I use API in wrong way? But I didn’t found good 2.0 migration guide for loader authors.

We load `plugins` from:

[code]

by `loaderUtils.parseQuery(loader.query).plugins`

[2017-01-12 12:52] michael-ciniawsky commented on #157
@samjbmason To my knowledge there is no `importLoaders: true` option for `sass-loader`

[2017-01-12 13:05] samjbmason commented on #157
@michael-ciniawsky Yeah it works when i remove `postcss-loader`

[2017-01-12 13:31] michael-ciniawsky commented on #157
@samjbmason Yep, I can confirm that's a bug, functions/requires inside of rules.use[n].options are not parsed/loaded at all in `webpack@2.2.0-rc4+`. Meanwhile switch to either `postcss.config.js` (**recommended**) or try with `LoaderOptionsPlugin`

Tracking issue is [here](https://github.com/webpack/webpack/issues/3936)

/cc @sokra @TheLarkInn

[2017-01-12 13:56] samjbmason commented on #157
@michael-ciniawsky Unfortunately using a `postcss.config.js` doesnt work as Im creating the webpack within another npm module similar to how `create-react-app` works.

However, I can confirm LoaderOptionsPlugin works for now 👍

Thanks for all your help on this

[2017-01-12 14:05] michael-ciniawsky commented on #157
@samjbmason Ok I understand, so with `LoaderOptionsPlugin` the `No PostCSS Config found in: ...`vanishes (Definitely no `postcss.config.js` present somewhere, 'inline' options get parsed (especially functions) correctly)?

[2017-01-12 18:50] ai commented on #157
Stop. We should not use LoaderOptionsPlugin here.

Seems like webpack 2 has a issue. If we will fix it by a hack, issue will be released version and many users will get it.

So, don't use hack. Create a issue in webpack repo.

[2017-01-12 19:45] michael-ciniawsky commented on #157
@ai Already [open](https://github.com/webpack/webpack/issues/3936)

[2017-01-13 08:07] AlexanderTserkovniy opened #162 "Nothing happens with correct settings for webpack 2"
Hi guys,

Sorry for creating another topic, but it is getting crazy, just cannot do nothing.

So postcss-loader does not trigger anything, thus my files remain unprocessed. I suppose it just does not enter any plugins section.

`config/webpack-base.js`
[code]

Currently I came to this `postcss.config.js`
[code]

I have tried inline options for loader.
I have tried function instead of simple object

[2017-01-13 09:46] samjbmason commented on #157
@ai I agree LoaderOPtionsPlugin is not a long term solution but was useful that I could use it, before the bug gets fixed.

[2017-01-13 13:46] ai commented on #162
Could you remove all webpack plugins and try again?

[2017-01-13 23:18] michael-ciniawsky commented on #162
@AlexanderTserkovniy

**webpack.config.js**

- config.resolve may cause problems, please use it when a simple setup works to be sure it's not another problem

[code]

- use a String with the loader name instead of an Object, it should work in both ways, but for now I can personally confirm that the string approach definitely works :)

[code]

**postcss.config.js**

- test with one plugin without a

[2017-01-14 23:36] detj opened #163 "v1.2.1 runs fine, but v1.2.2 throws error"
This PR (https://github.com/postcss/postcss-loader/pull/161) assumes that a `postcss.config.js` will always be present. But isn't this file optional? In my project, I was configuring postcss using Webpack 1.0 syntax as mentioned in the Readme.

[code]

This works fine in v1.2.1, but breaks in v1.2.2 with the following error

[code]

This seems to be a breaking change and not support the Webpack 1.

[2017-01-14 23:43] ai commented on #163
Nope, in that PR `config` could be generated from loader options. Check `then` above.

Tests are passed too.

[2017-01-14 23:43] #163 closed

[2017-01-15 06:50] michael-ciniawsky commented on #163
@detj What is the current version of webpack you use?

[2017-01-16 08:27] detj commented on #163
@ai okay, yes you are right.

@michael-ciniawsky Yeah, I'm using webpack@v1.12.14. Sorry, I should have explained my problem in detail.

So, my project is based on [React Redux Starter Kit](https://github.com/davezuko/react-redux-starter-kit). It uses webpack@v1.x and has the following postcss config in its webpack config.

[code]

I recently moved my project to a new machine and ran npm install (

[2017-01-16 10:05] michael-ciniawsky commented on #163
Yep thats what I'm also interest in, bc normally options in `webpack.config.js` supersede `postcss.config.js`

Could you please do the following to help debugging

[code]

**postcss-lodader/index.js**
[code]

and run taht with options in `webpack.config.js` + afterwards post the result here please? :)

`package.json|.postcssrc` (JSON) [static] <=> `postcss.config.js`(JS) [dynamic] :)

**package.js

[2017-01-16 18:58] AlexanderTserkovniy commented on #159
Found solution [here](https://github.com/webpack/extract-text-webpack-plugin/issues/330#issuecomment-272499182) if someone still having this problem. Works perfectly!

So my changes looks like this:

[code]

Thanks guys!

btw @michael-ciniawsky `webpack -p` does set the `NODE_ENV=production` but not for `webpack.config.js` itself, that's why it have to be explicitly added.

[2017-01-16 19:58] AlexanderTserkovniy commented on #162
@michael-ciniawsky nope, does not work either. Should probably create a repo.

[2017-01-16 20:33] detj commented on #163
@michael-ciniawsky That makes so much sense! Thank you for the detailed answer :)

Okay, so I added a few `console.logs` and here's what I discovered.

**console.log(params)**
[code]

**console.log(options)**
[code]

I also added more logs to debug further

[code]
Is this helpful? Let me know if I should do more debugging.

[2017-01-16 20:36] AlexanderTserkovniy commented on #162
Seems like it started working with latest version of loader as well as following `postcss.config.js`:

[code]

[2017-01-16 21:46] AlexYankee commented on #162
Got stuck with this one as well. After digging around a while i narrowed it down - style-loader.
While generating JS source it uses loaderUtils.stringify to stringify loader context. Having this done further loaders will loose all the options, defined locally, except of query params (can be noticed in webpack output btw):

`./~/css-loader?{"test":"1"}!./~/postcss-loader?{}!./src/style/style.css`

[2017-01-17 07:41] michael-ciniawsky commented on #163
`extract-text-webpack-plugin-output-filename`

@detj  Yep, thx I think we found the bug 😛 , you use  `extract-text-wbepack-plugin` as it seems, which version and could you try if it works without `extract-text-webpack-plugin` + post your whole `webpack.config.js` please and say it directly `extract-text-webpack-plugin` + postcss in it's current state is a troublemaker and straight out mess, we rec

[2017-01-17 07:52] michael-ciniawsky commented on #162
@AlexanderTserkovniy We can close 😛 ?

@AlexYankee Can you elaborate on the `style-loader` issue a bit more please ? :)

[code]

[code]

[2017-01-17 08:04] michael-ciniawsky commented on #159
I see 😛 likely never had an issue until now 🙏

So the solution is to use `query params/strings` for now instead of the 'new' plain JS variant in options? `postcss.config.js` is loaded and applied ?

[2017-01-17 08:11] AlexYankee commented on #162
@michael-ciniawsky keeping it brief - it's impossible to pass options to postcss-loader via in-place loader configuration while using style-loader, so your Webpack 2 options example will not work:
[code]

[2017-01-17 08:32] michael-ciniawsky commented on #162
@AlexYankee Can you try the following please, I currently on fixing that, but haven't found time to test with `extract-text-webpack-plugin` and was aware of `style-loader` until now. In general there is a problem with 'advanced' options in webpack since `rc`. Using functions and 'require()` in loader options  doesn't work/parsed without an identifier anymore...I'm currently asking why and if thats

[2017-01-17 08:33] AlexYankee commented on #162
@michael-ciniawsky Will do! Thanks for you all you hard work, postcss delivers!

[2017-01-17 08:42] AlexanderTserkovniy commented on #162
Thanks @michael-ciniawsky as soon as you figure out everything else, you can close the ticket.

[2017-01-17 09:58] michael-ciniawsky commented on #162
@AlexanderTserkovniy Will do, on it already, but for you it works with your setup atm? If close please and of course feel free to reopen anytime if an error occurs :)

[2017-01-17 10:29] AlexanderTserkovniy commented on #162
Yes it works, here are some details:

`postcss.config.js`
[code]

`package.json`
[code]

Full `webpack.config.js` in case:
[code]

[2017-01-17 10:46] michael-ciniawsky commented on #162
@AlexanderTserkovniy  👍

**postcss.config.js**

[code]

[CSSNext](https://github.com/MoOx/postcss-cssnext/blob/master/package.json#L47)

Everything else seems to be pretty sane 😛

[2017-01-17 10:46] #162 closed

[2017-01-18 21:55] caseyduquettesc commented on #163
@detj In that starter project, I noticed for `npm run test` it uses the karma.config to build and not the webpack.config. The karma config actually doesn't include any postcss options in it. I think if you add `postcss: webpackConfig.postcss` right below `sassLoader : webpackConfig.sassLoader` then the postcss config will be passed into your test bundle and should clear your error.

[2017-01-19 15:44] detj commented on #163
@caseyduquettesc you're right. I did as you said and the tests are passing. But the thing is, tests were passing before and because of some change in this package (_my guess_), this error started showing up. Anyways, I'll update the [react-redux-starter-kit](https://github.com/davezuko/react-redux-starter-kit) about this development nonetheless. Appreciate it! Thanks.

@michael-ciniawsky okay, wil

[2017-01-19 20:01] csmosx commented on #162
@michael-ciniawsky thank you for the `options.ident = 'postcss'` tip.
It fixed the "No PostCSS Config found" error I couldn't figure out.

You said:

I'm interested in that too.
Did you ask somewhere on Github? If so, could you provide the link?

Thanks.

[2017-01-19 22:57] davidcalhoun commented on #58
@MoOx Dang, appreciate the help, but didn't seem to have any effect for me.

[code]

[2017-01-20 09:18] michael-ciniawsky commented on #58
@davidcalhoun  `webpack.config.js` / `postcss.config.js` and update to `postcss-import` >= `v9.x` please :D

[2017-01-20 16:34] artemkaint opened #164 "Plugins could not be passed through options in webpack 2.2.0"
If I use the constraction from the example
[code]
I have obtain
/opt/project/node_modules/postcss-loader/index.js?{"plugins":{"default":[null,null],"fontAwesome":[null,null]},"pack":"default"}

https://github.com/webpack/webpack/blob/master/lib/NormalModuleFactory.js#L21
Beсause all function  have been converted into string (of course null)

[2017-01-20 16:46] artemkaint commented on #164
now we have to use ident key in options to pass function

[2017-01-20 19:28] barraponto commented on #150
@michael-ciniawsky css-loader also parses imports (postcss-import). I'm trying to document a no-css-loader solution, but I didn't manage to get it working yet. do you have a working example?

[2017-01-20 20:44] ai commented on #164
@TheLarkInn I need you help here. Do we need to change our current docs?
https://github.com/postcss/postcss-loader#webpack-2-1

[2017-01-20 20:46] maratfakhreev commented on #164
Same issue, seems like `postcss.config.js` doesn't work for 2.2.0

[2017-01-20 20:52] ai commented on #164
@maratfakhreev @artemkaint please show your full configs. In most previous cases it was not a PostCSS loader problem, but Extract Text plugin or other crazy thing.

[2017-01-20 20:58] maratfakhreev commented on #164
@ai yeah, thx, have found the problem on my side. Loader works correctly.

[2017-01-21 07:49] michael-ciniawsky commented on #164
@ai I work on new docs for inline config already, but I'm waiting for reply if 'this' (@example) will stay or not because I absolutely don't like it 😛  => `{ ident: 'whatever' }`  => https://webpack.js.org/guides/migrating/#complex-options

@artemkaint @maratfakhreev ⬇️

[code]

[README](https://github.com/michael-ciniawsky/postcss-loader/tree/docs) (WIP)

@ai I push (PR) them as quickly as possib

[2017-01-21 12:51] michael-ciniawsky commented on #164
@ai @artemkaint @maratfakhreev guys please a :shipit:  on https://github.com/webpack/webpack/pull/4073#issuecomment-274259228 👍 to get rid of `{ ident: 'crap' }` 😛

[2017-01-21 13:03] michael-ciniawsky commented on #162
@csmosx

🤣  I was searching for it for weeks...

A gentle :shipit: on webpack/webpack#4073 👍 to get rid of the { ident: 'crap' } 😛

[2017-01-21 19:23] amilajack opened #165 "Question: Will use browserslist in package.json?"
Will this loader use the targets in `browserslist` property in package.json to prefix targets?

[2017-01-21 19:25] ai commented on #165
PostCSS doesn’t use Browserslist. But Autoprefixer use Browserslist. So if you use Autoprefixer in this loader, it will load `browserslist` from `package.json`.

[2017-01-21 19:25] #165 closed

[2017-01-23 23:49] DavidWells commented on #116
Holy snap. This just tripped me up for a bit.

Disabling the webpackInstance made postCSS hot-module reloading not work. =(

Reverting back to a version before 1.0 fixed my problem

For those curious on hot-reloading postcss variables that are defined in the webpack config see https://github.com/serverless/site/blob/master/webpack.config.js#L32-L43

[2017-01-25 14:14] whisher opened #166 "Import css doesn't work"
Hi there,
I'm working in a angular2 webpack2 boilplate

in my module rules block
[code]
new LoaderOptionsPlugin({
   options: {
    /*  postcss: [
              PostcssImport(),
              Autoprefixer({ browsers: ['last 2 versions'] })
            ]*/
     }
})
[code]

[2017-01-25 15:22] QuantumInformation opened #167 "OTS parsing error: invalid version tag with @font-face, doesn't occur in css-loader"
Try this in a pcss file:

[code]

loader:
[code]

browser error:

[code]

[2017-01-25 17:10] michael-ciniawsky commented on #166
@whisher According to the StackOverflow post of yours. it could be an issue with you `@imports` do you import modules (`node_modules`) using this syntax`@import '~bootstrap.css'` aswell ? The `~` is webpack specific (`css-loader`), postcss-import on the other hand resolves @imports automatically  `@import 'bootstrap.css'` => 'node_modules' > 'root'  etc., so you don't need the `~` here 😛

[2017-01-25 18:00] michael-ciniawsky commented on #167
Gogle fonts are `@import`ed 😛

![fonts](https://cloud.githubusercontent.com/assets/5419992/22302759/82de1e0c-e330-11e6-999e-93820828b23b.png)

[2017-01-25 18:21] QuantumInformation commented on #167
It works fine with css-loader.

[2017-01-25 18:32] whisher commented on #166
@michael-ciniawsky
Thanks for the quick reply
I've add the module of course :)
my import
@import "~bootstrap-css-only/css/bootstrap.css";
I've also tried on your hint with
@import "bootstrap-css-only/css/bootstrap.css";
but it doesn't work :(
If I get of all the postcss the code works

[2017-01-25 19:15] QuantumInformation commented on #167
I'll make an example if that helps?

[2017-01-25 19:21] michael-ciniawsky commented on #167
ahh... 😛 ok you meant `@font-face` works fine with just `css-loader` (no `postcss-loader`). Yes please make test repo for debugging 👍

[2017-01-25 19:26] michael-ciniawsky commented on #166
Be also careful/aware of `css-loader` having his own logic for handling `url(https://...)` and `@import https://...`  in case you want to load within the browser later on. `postcss-import` is fine with them as long as there is a `http(s)://` prefix etc.

[code]

[2017-01-26 11:44] QuantumInformation commented on #167
So the issue only occurs when the component that is exported from the library is added to the page:

If this line is commented out the error doesn't occur:

https://github.com/quantumjs/smart-terminal/blob/master/demo/typescriptImport/index.ts#L5

The font is imported here:

https://github.com/quantumjs/smart-terminal/blob/master/src/SmartTerminal.pcss#L4

config:

https://github.com/quantumjs/sma

[2017-01-27 15:46] owenDods commented on #92
@StevenIseki , @michael-ciniawsky : Came up against this issue with the postcss-loader blowing up when I tried to pass it the autoprefixer plugin as well. Found a solution that worked for me at the bottom of [this thread](https://github.com/postcss/postcss-loader/issues/164#issuecomment-274246826): -

[code]

Hadn't seen the use of `ident` in this thread yet so I figured I'd post this here in case

[2017-01-27 16:36] michael-ciniawsky commented on #92
@owenDods 👍 but this is going away in webpack >= v2.3.x (next v2 minor), after talking with sokra about it [#4109](https://github.com/webpack/webpack/pull/4109), the ident will be added by webpack and no config step required for complex options anymore. Also the reason this is not documented until 😛

[2017-01-27 16:47] owenDods commented on #92
@michael-ciniawsky - nice one! Thanks for the info, I'll tidy up my config as soon as it gets released.

[2017-01-29 21:12] barraponto commented on #136
@ai do you know any example of a webpack-config with `postcss-loader` but no `css-loader`?

[2017-01-30 00:31] michael-ciniawsky commented on #136
@barraponto `raw-loader` or `source-loader`

[2017-01-30 11:13] edmundo096 commented on #92
So basically, what I conclude after reading and some researching, there are 3 ways to load the PostCSS configuration for Webpack 2:

1. **Using a `postcss.config.js` file**, which must be "anywhere down the file tree" where Webpack matches a file (e.g. if a match was on a `\assets\stylesheets` file, `postcss.config.js` must be anywhere inside that path).
This is due how **postcss-loader** works. I

[2017-01-30 11:33] edmundo096 commented on #164
I commented a summary of possible ways to resolve this on [another (closed) issue](https://github.com/postcss/postcss-loader/issues/92#issuecomment-276036682). Here is my comment:

So basically, what I conclude after reading and some researching, there are 3 ways (**_as for now_**) to load the PostCSS configuration for Webpack 2:

1. **Using a `postcss.config.js` file**, which must be "anywhere do

[2017-01-30 11:58] ai commented on #92
@edmundo096 why not fix webpack? `ident` is bad UX 😕.

[2017-01-30 12:50] michael-ciniawsky commented on #92
@edmundo096 I'm already working on a README.md overhaul, but as commented before this is blocked until [#4109](https://github.com/webpack/webpack/pull/4109) is released (v2.3 Milestone)
which removes the necessity for `ident`. `LoaderOptionsPlugin` was just an early way to use the incompatible loaders (v1) with webpack v2 **beta**. It will vanish in the future aswell and shouldn't be used anymore.

[2017-01-30 12:56] edmundo096 commented on #92
@ai, yeah, didn't liked the `ident` neither.
More like a workaround and took me several Google searches to find it as a mere *"workaround solution"*, specially because it doccumented with intention for the Loader devs (I skipped it haha, https://webpack.js.org/guides/migrating/#loader-changes)

Have not digged more into it, but.. There is any way that we could use options normally (without the ide

[2017-01-30 12:57] wZi commented on #129
[this](https://github.com/webpack-contrib/css-loader/issues/396) work for me. hope it is helpful

[2017-01-30 13:18] michael-ciniawsky commented on #92
@edmundo096 It's an webpack core issue, which can't be fixed within loaders (the query is already malformed when the loader receives it), I addressed it to sokra and it will be fixed in webpack v2.3+, see the PR I linked above for more info, it basically has to do with how webpack stringifies the loader query.

[2017-02-01 09:19] VladShcherbin commented on #164
Works for me with webpack 2.2.1:

[code]

[2017-02-02 01:26] francoisromain commented on #92
Finally I had something working (with webpack 2.2.1. and extract text plugin). I'll put it here:

[code]

[2017-02-02 01:38] michael-ciniawsky commented on #92
@francoisromain Yep webpack 2.2.1 ships with `ident` removed so `loader.options` finally work correctly now and `extract-text-webpack-plugin` v2 is also nearly finished. Be aware that extract-text-plugin v2 final will have an API change `fallbackLoader => fallback &&  loader => use`

[2017-02-02 01:57] francoisromain commented on #92
@michael-ciniawsky thanks for the infos. Could you please show what will be the equivalent of the code above with webpack 2 and extract-text-webpack-plugin 2?

[2017-02-02 02:05] michael-ciniawsky commented on #164
@VladShcherbin You where faster 😛

As a note for anyone coming here using an older webpack || extract-text-plugin version =>
1. webpack >= v2.2.1 solves bugs in `loader.options` by automatically creating an `ident` now. Options containing functions and `require()`  statements work as expected.
2. ExtractTextPlugin is on the finish line, be aware of an API change `fallbackLoader => fallback` &&  `l

[2017-02-02 02:05] #164 closed

[2017-02-02 02:14] edmundo096 commented on #92
@michael-ciniawsky Nice! I didn't saw your reply when I posted my reply to ai.
When I first replied about the use of `ident` I had just installed Webpack 2.2.0 (seems that it 2.2.1 was published just after I updated my Webpack install & config from 1.x to 2.2.0, lucky me...).

So it's more of waiting for it to be fixed by Webpack 2.3 (although seems that on 2.2.1 it's already fixed/removed, but ha

[2017-02-02 02:22] michael-ciniawsky commented on #92
@francoisromain

[code]

but **not** atm 😛  (v2-rc*), wait until v2@latest is out

@edmundo096 webpack v2.2.1 ships the ident fix, it's finally working now

[2017-02-02 02:28] michael-ciniawsky commented on #136
What's the status here ? Is this still relevant ? :) What/How should we fixed it ?

[2017-02-02 02:30] michael-ciniawsky commented on #167
@QuantumInformation Did you find something in regard of the issue?

[2017-02-02 08:45] francoisromain commented on #92
@michael-ciniawsky cool, thank you!

[2017-02-02 16:36] michael-ciniawsky commented on #66
I discussed HMR with folks in the webpack slack and it's seems not to be possible to add it to the  loader itself, `postcss.config.js` is watched and rebuilds on changes, closing for now as won't fix.

[2017-02-02 16:36] #66 closed

[2017-02-05 16:57] headwinds opened #168 "no issue - posted in the wrong spot - please delete"

[2017-02-05 19:08] #168 closed

[2017-02-07 15:16] craigcosmo opened #169 "cssa is not a function"
this loader was good untill I put this this style in

[code]
error

<img width="566" alt="screen shot 2017-02-07 at 10 17 16 pm" src="https://cloud.githubusercontent.com/assets/538657/22697161/3888caa2-ed83-11e6-828c-8520c056d89e.png">

webpack config
[code]

error text:

[code]

[2017-02-07 15:18] ai commented on #169
@craigcosmo post a full stacktrack please

[2017-02-07 15:27] craigcosmo commented on #169
it's the space
**error**
[code]

**no error**
[code]

[2017-02-07 15:28] ai commented on #169
Show full console output when you get this error.

[2017-02-07 15:29] craigcosmo commented on #169
[code]

[2017-02-07 15:31] ai commented on #169
@iamvdo seems like this issue from `pleeease-filters`

[2017-02-07 15:32] ai commented on #169
@craigcosmo it is stacktrace:

[code]

Always post it in issues.

[2017-02-07 15:32] ai commented on #169
@craigcosmo this issue is not came from `postcss-loader`. It came from PostCSS plugin, that you use inside loader. Please open issue here: https://github.com/iamvdo/pleeease-filters

[2017-02-07 15:32] #169 closed

[2017-02-07 16:54] iamvdo commented on #169
Fixed in 3.0.1 :+1:

[2017-02-08 01:46] willin opened #170 "Chunk.entry was removed. Use hasRuntime()"
[code]

error shows:

[code]

dep:

[code]

[2017-02-08 01:53] michael-ciniawsky commented on #170
@willin Could you try the following please ? `style-loader` should in any case not be part of the extract pipeline and only used as fallback in case the extraction fails.

webpack: `v2.2.1`
extract-text-plugin: `v2.0.0-rc.3`

[code]

[2017-02-08 01:55] michael-ciniawsky commented on #170
`"extract-text-webpack-plugin": "^1.0.1" => "extract-text-plugin": "2.0.0-rc.3"`

[2017-02-08 01:57] michael-ciniawsky commented on #167
Closing for now, if you find something related to `postcss-loader` feel free to reopen anytime

[2017-02-08 01:57] #167 closed

[2017-02-08 01:58] michael-ciniawsky commented on #136
🙃 ?

[2017-02-08 01:58] willin commented on #170
oh yes. thx

[2017-02-08 02:13] willin commented on #170
[code]

[code]

[2017-02-08 02:25] michael-ciniawsky commented on #170
@willin `postcss.config.js` please, asap you can try without `@font-face` if that's the root cause

[2017-02-08 15:47] QuantumInformation commented on #167
think i was fine in v2.2

[2017-02-09 04:13] burrack commented on #63
Would you avoid global variables?
because I wouldn't want to duplicate my website colors and stuff for each component

[2017-02-09 20:53] szykov commented on #81
Tried everything but still nothing. :

[code]
postcss.config.js

[code]
package.json

[code]

No change, it doesn't add prefixes....

[2017-02-09 21:22] michael-ciniawsky commented on #81
@szykov

Just for getting started, but could you please use try using webpack 2 loader syntax inside `ExtractTextPlugin.extract()` ?

**webpack.config.js**
[code]

**postcss.config.js**
[code]

[2017-02-10 08:37] szykov commented on #81
@michael-ciniawsky well, I tried and it didn't help.

In readme of  **autoprefixer** it says that you don't need to self-execute library in postcss.config.js file:

https://github.com/postcss/autoprefixer

[code]

Anyway I tried exactly how you said, and haven't noticed changes. In my css map there's still the same code:

As an example it remained untouched:
[code]
But should be:

[code]

[2017-02-11 18:22] breeswish opened #172 "How to process file outside project directory?"
webpack 2.

[code]

Directory Project_1 is shared and cannot be modified.

Inside Project_2, when referencing `Project_1/style.css`, `Error: No PostCSS Config found in Project_1/..` is always thrown if no options is given in the loader (notice that `postcss.config.js` is not resolved).

And as we all known, passing options to the loader usually breaks because many loaders (for example, vue-loader)

[2017-02-11 18:27] ai commented on #172
Just put `postcss.config.js` to `Project_1`. The whole idea of `postcss.config.js` is to store plugins to process file with the files.

So if you will start to use `Project_1` in some new `Project_3` you will be free to remembering what plugins do I need to `Project_1`’s files.

[2017-02-11 18:28] ai commented on #172
Advice about was from things like PreCSS. If you need just project-specific tools, like Autoprefixer. You should pass plugins as options to loader (there is no other way).

[2017-02-11 18:28] #172 closed

[2017-02-12 04:00] breeswish commented on #172
Ok, figured out `config` path can be specified. To help others with similar demands: use `options.config` to specify a config directory.

[2017-02-12 10:30] craigcosmo opened #173 "Error: Can't resolve url in font face"
stackstrace
[code]

post.config.js
[code]

webpack.config.js

[code]

font.css
[code]

home.scss
[code]

[2017-02-12 10:35] ai commented on #173
Will you have a error if you will remove postcss-loader?

[2017-02-12 12:03] craigcosmo commented on #173
If I remove `postcss-loader` I will have no error.

[2017-02-12 12:08] ai commented on #173
And if you will remove extract text plugin?

[2017-02-12 12:15] craigcosmo commented on #173
If I remove `extract text plugin` I will have no error as well.

[2017-02-12 12:36] craigcosmo commented on #173
I made demo here https://github.com/craigcosmo/base-webpack-2-demo

[2017-02-12 14:27] ai commented on #173
You should write to extract-text-plugin. I could not see how it should be relevant with postcss-loader.

@michael-ciniawsky do you agree? I think you saw some issue like it before.

[2017-02-12 16:55] craigcosmo commented on #173
I figure out, I misconfig webpack. Webpack css loader doesn't by default resolve asset.

The reason I can do  `.div{ background: url('image/bg.png')}` is because that `.div` is declared in side a `.scss`  file. For `scss` I was using babel-plugin-react-css-module which actually helps resolve asset.

[2017-02-12 16:55] #173 closed

[2017-02-16 06:48] flyg101 commented on #74
Thanks @tackley && @michael-ciniawsky Saved me a whole day of googling!

[2017-02-18 18:35] michael-ciniawsky commented on #170
@willin What's the status here? 😛 Did you resolve the issue? I'm closing for now, feel free to reopen, but please include the info requested above for debugging

[2017-02-18 18:35] #170 closed

[2017-02-18 22:09] koutsenko commented on #92
I don't understand a simple thing.
My webpack 2.2.1 rule:
[code]
It works, but where must I add an option to support only 2 latest browser versions?
In Webpack 1 things was simple:
[code]
Please dont suggest LoaderOptionsPlugin, or postcss.config.js, or another bloatware.
Thanks.

[2017-02-18 22:30] michael-ciniawsky commented on #92
@koutsenko

[code]

[2017-02-19 07:33] kmiyashiro commented on #128
I am getting this problem and webpack 2 has been released.

[2017-02-19 20:28] michael-ciniawsky commented on #128
@kmiyashiro Please post your `webpack.config.js` / `postcss.config.js` (if)

[2017-02-19 22:51] kmiyashiro commented on #128
[code]

[2017-02-19 23:07] michael-ciniawsky commented on #128
@kmiyashiro

[code]

Otherwise I can't see any obvious error in your `webpack.config.js`, despite `UgilfyJSPlugin` as the first in webpack.config.plugins. be also aware that any ES2015 Syntax may break with it, another modern option would `babel-preset-babili` 😛 .Also HTMLWebpackPlugin `{ inject: false }` doesn't inject the bundles, but i guess that's on propose 🙃 .  Can you give my the err logs p

[2017-02-19 23:45] kmiyashiro commented on #128
@michael-ciniawsky thanks! It may have been the style-loader that was causing the issue? I removed it and added the `importLoaders` options to the css-loaders and it works now. Thanks!

[2017-02-20 00:43] michael-ciniawsky commented on #128
@kmiyashiro Yep, likely to be the cause of your problem 🙃

[2017-02-20 20:14] farskid commented on #99
@Oopscurity Your solution worked for me on webpack@2.2.1

[2017-02-22 03:39] kidney opened #176 "DeprecationWarning from loaderUtils"
When I run build, I get the feedback information from console：

[code]

postcss-loader@1.2.2

[2017-02-22 04:13] michael-ciniawsky commented on #176
@kidney Yep `loader-utils` >= v1.0.0 had a API breaking change API `getOptions` I'm on it :), feel free to ignore this warning meanwhile

[2017-02-22 21:34] michael-ciniawsky opened #177 "v2.0.0"
## Roadmap

- [x] Drop `node =< v4`
- [x] Add `schema-utils` (Options Validation)
- [x] Update `loader-utils`
- [x] Update README.md
- [x] Refactor Tests (webpack && Jest)
- [x] Refactor `options.config = { path: 'path/to/config', ctx: {} }`
- [x] Expose `ctx = { file, options, env }`
- [x] Export Modules (CJS)
- [x] PostCSS v6.0.0

**webpack.config.js**
[code]

**postcss.config.js**
[code]

## Br

[2017-02-22 21:39] ai commented on #177
Maybe. What other useful information could be in `loader`?

I afraid webpack 1 users :D. But `pack` is not so popular. We can ask them to migrate to `webpack` 2 or keep old version.

Of course.

Good idea if we can wait about month (I am preparing for React London).

[2017-02-22 22:05] michael-ciniawsky commented on #177
The only important I can think of atm is `loader.addDependency(file)` => `ctx.watch(file)/ctx.webpack.watch(file)` , but I will check what else we may have there 😛

I have no Twitter, but maybe a poll would be a good idea to see how popular the feature is, never seen it in the endless configs @extrac-text-webpack-plugin and the like, but who knows...

👍

Yep I also in favour to wait, no rush at al

[2017-02-22 22:11] ai commented on #177
I added issue to bookmarks and will tweet about it on next week to collect more feedback.

Also we will need good step-by-step migration instructions.

[2017-02-23 05:17] #176 closed

[2017-02-28 13:40] ertrzyiks opened #179 "Allow to suppress warning when used with happypack"
[There](https://github.com/postcss/postcss-loader/blob/master/index.js#L128) is a warning, which warns happypack user about lack of support for `postcss-loader-before-processing` event to prevent potential failure with no clear reason.

Once the problem is acknowledged / resolved on the user side, we may not need that warning in the build output anymore. How could we achieve that?

My ideas:
 - in

[2017-02-28 13:43] ai commented on #179
@jantimon maybe we could remove whole warning?

[2017-03-01 11:41] jantimon commented on #179
Why would a loader have no access to it's current compilation?

[2017-03-01 11:49] ertrzyiks commented on #179
@jantimon it is unavailable if you use happypack

[2017-03-01 12:15] jantimon commented on #179
@ertrzyiks why? it is the general purpose intermodule communication protocol and used by many plugins..
what would be the workaround?

[2017-03-01 12:25] michael-ciniawsky commented on #179
@ertrzyiks Is it possible to detect Happypack usage somehow ?

[2017-03-01 12:27] ai commented on #179
Maybe we should remove this warning? Event is very rare and I don’t think warning is very useful.

[2017-03-01 12:54] ertrzyiks commented on #179
I don't know details behind missing `_compilation`, I can only guess that it was difficult to parallelize it in a reliable way. Maybe @amireh could jump in and share some thoughts.

Having the guard condition enable people to use postcss-loader with happypack. On the other hand, the warning in the `else` block is just for information and can be removed.

[2017-03-01 12:55] michael-ciniawsky commented on #179
Done #180

[2017-03-01 12:56] michael-ciniawsky commented on #179
But if @amireh could give a insight nevertheless would be appreciated 😛

[2017-03-01 13:49] #179 closed

[2017-03-01 13:56] ai commented on #179
Released in 1.3.3

[2017-03-01 19:31] kenisteward opened #181 "Emit Error On Warning"
Are there any prospects to change this to upgrade warnings to errors and then emit them to webpack for a failure?  https://www.npmjs.com/package/stylelint-webpack-plugin  Does this but I was hoping it was going to come here soon

[2017-03-01 19:50] michael-ciniawsky commented on #181
@kenisteward Just to clearify you mean warnings generated by `stylelint` in particular here ?

[2017-03-01 20:36] kenisteward commented on #181
For my use case stylelint but for a more generic one any warnings or errors
generated through a postcss loader.  That way if someone is using any
assortment of postcss plugins the loader will have the option to upgrade
warning to error and emit them as it already does as errors .

On Wed, Mar 1, 2017, 2:50 PM Michael Ciniawsky <notifications@github.com>
wrote:

[2017-03-01 22:05] michael-ciniawsky commented on #181
@kenisteward Can you point to where in the source of stylint-webpack-plugin it throws the warnings as errors?

I basically agree that throwing an error might sometimes be the better solution, especially to 'enforce' a certain code style, but if stylelint pushes warnings/errors to `result.warnings` it will be difficult to handle, bc that's normally it's propose and other plugins expecting to displa

[2017-03-01 22:33] kenisteward commented on #181
@michael-ciniawsky  in it's options api for webpack you can pass these
`
emitErrors: Display Stylelint errors as actual errors, rather than just warnings. Default: true
failOnError: Have Webpack's build process die on error. Default: false
`
Together they allow you to specifically force a codestyle

in their actual code this file has the error handling.
https://github.com/JaKXz/stylelint-webpack-p

[2017-03-01 22:38] kenisteward commented on #181
@michael-ciniawsky also someone has made

https://github.com/JasonAMartin/style-warning-breaker/blob/master/index.js
which basically gobbles up the lint stuff from it.

Like I said before this works for my use case but I was thinking more generically.  Just seems odd to postcss but then not be able to force rules with it.

[2017-03-02 00:17] slmgc opened #182 "erinchug"

[2017-03-02 00:18] #182 closed

[2017-03-02 06:19] ai commented on #181
This loader works with many plugins. For example, Autoprefixer has warnings too. If loader will always throw a error on warning, it will break many systems.

All PostCSS plugins have access to `result.messages`. If you need to different behaviour for warnings, just add plugin. Like [`postcss-reporter`](https://github.com/postcss/postcss-reporter).

[2017-03-02 06:19] #181 closed

[2017-03-02 07:24] amireh commented on #179
The reason is because `this._compilation` and `this._compiler` can not be serialized for distributing to other processes since they're constructed and meant to be used in the main webpack process, which is a different "process" than the one that the loaders run in when using happypack.

In the docs for webpack 1 they dubbed it as "hacky access" to these constructs, simply because there was no bett

[2017-03-02 10:47] michael-ciniawsky commented on #136
[code]

Will be fixed in v2, no sourcemap is generated by default, and external `sourceMap: true` && Inline `sourceMap: 'inline'` must be set explicitly

[2017-03-02 10:47] #136 closed

[2017-03-02 10:55] MatteoGabriele opened #183 "Plugin imports"
I currently switched to webpack 2 and I am encountering one big issue so far: the plugin configuration.

I know that postcss now is handling configurations also with this `postcss.config.js` file, but i really don't/can't use it because of the setup I'm trying to achieve: maintaining all application setup in one place and not spread config files around.

So I would like to use postcss in webpack 2

[2017-03-02 11:15] michael-ciniawsky commented on #183
@MatteoGabriele What is your exact version of webpack ? You can of course use PostCSS via configuration in `webpack.config.js` if you prefer. FWIW `vue-loader` now supports `postcss.config.js` aswell :D so with one `postcss.config.js` you could get rid of the redundant PostCSS Setup 💯 . If your are using webpack < **v2.2.1** you need to update to this version, bc there was a bug with 'complex' (fu

[2017-03-02 11:15] #183 closed

[2017-03-02 11:27] MatteoGabriele commented on #183
I was working with webpack 2.2.1 but there is a problem with a the js compression plugin and temporarily rolled back to 2.2.0. Apparently a version fix one part of my application and breaks the other :D but whatever. Now I'll go to 2.2.1 again to try what you are saying.

Can i choose where to drop my `postcss.config.js` file. I'm using a custom CLI so the entire dev server and webpack, with all p

[2017-03-02 11:56] michael-ciniawsky commented on #183
@MatteoGabriele uhh... all this custom configs all the time :D

1. if you can **not** update to *2.2.1* now =>

**webpack.config.js**
[code]

[Complex Options](https://webpack.js.org/guides/migrating/#complex-options)

2. Yes everywhere down the file tree, but in the same directory as the file (no './config' subfolder), it's even possible to cascade them and nearest `postcss.config.js`  found rela

[2017-03-02 12:03] MatteoGabriele commented on #183
@michael-ciniawsky ok I'm going to try one of this setup then! Hope to find my way! :D

My custom config is to avoid other custom configs aahahahha. One package to rule them all!

Thanks a lot for you explanation. Super!

[2017-03-04 22:51] highdali opened #184 "With precss({..}) option, css can't get loaded"
LoaderOptionsPlugin
[code]

[code]

I don't know why error occurs.
But, If i delete a `require('precss')` sentence, bootstrap can get loaded.

[2017-03-04 23:44] ai commented on #184
Do you have `@import` in you input fixes? Maybe input files affect to `precss`?

[2017-03-04 23:48] highdali commented on #184
yes, I import bootstrap or semantic ui. and handle woff2, png... etc.
I think this problem be caused  by url-loader and file-loader...

[2017-03-04 23:49] ai commented on #184
Show full config. I think you need @michael-ciniawsky help (it is webpack UX overall problem, not postcss-loader only).

[2017-03-05 00:00] highdali commented on #184
**works nicely config**

main.scss

[code]

webpack.config.js
[code]

But, If i add `precss` like below,
[code]

error shows

[code]

[2017-03-05 00:02] highdali commented on #184
Problem is my config? or postcss-loader? sass-loader ? precss ? i don't know why this error occurs sorry

[2017-03-05 00:56] michael-ciniawsky commented on #184
@highdali :D Where should I start here... 😛

[code]
You can't use a `.scss` file as an entry point :). Instead require it in your components e.g in
`index.jsx`

[code]

**MyComponent/index.jsx**
[code]

**App.jsx**
[code]

**webpack.config.js**
[code]

Thats `sass-loader` because of the `~` and no `includePaths` option is set see below

**webpack.config.js**
[code]

You won't need PreCSS if you us

[2017-03-05 01:02] #184 closed

[2017-03-05 10:37] highdali commented on #184
Sass-loader provides custom importer that import modules from `/node_modules/`.
documentation [here](https://github.com/webpack-contrib/sass-loader#imports)
So I don't need to specify `includePaths` option, right?

[2017-03-05 15:44] michael-ciniawsky commented on #184
@highdali I'm not 💯  sure about that tbh 😛 , does it work now/work without `@import ~/semantic-ui-css/semantic.min,css` at least?

[2017-03-05 15:54] highdali commented on #184
Sorry, I am beginner for web development.
I just put `stylesheets/main.scss` on bundle `entry`. so, stylesheets will be in `bundle.js` finally.
According to [postcss doc](https://github.com/webpack-contrib/sass-loader#imports), i can import the css/sass module. Here, `~` does not mean **home directory**. It tells webpack resolve engine should find the module from 'node_modules'.

I tried your solu

[2017-03-05 16:08] michael-ciniawsky commented on #184
Yep exactly, but in the Error above it didn't work and reied to search in your project for e.g `semantic-ui-css/semantic.min.css`and the error was simply that it doesn't exists there :)

thanks.

[code]

**webpack.config.js**
[code]

If you're a beginner, its good to learn webpack inside out but also very hard :), If you want just to get something running maybe try [create-react-app](https://githu

[2017-03-05 16:12] highdali commented on #184
thanks, you're genius.

[2017-03-06 05:07] zhengjunxiang commented on #128
@shjyh  Hello, you can try this:
`
const Webpack = require('webpack');
const Autoprefixer = require('autoprefixer');

new Webpack.LoaderOptionsPlugin({ options: { postcss: [ Autoprefixer({
    browsers: ['Chrome >= 49', 'Firefox >= 49', 'Edge >= 11', 'ie >= 9']
  }) ] } })
`
It`s out of use `post.config.js`.
I added it to this `plugins` options and it works now. Thanks!

[2017-03-06 07:38] shjyh commented on #128
great, and now i use `postcss.config.js` to config my options

[2017-03-07 11:56] gazpachu commented on #92
What am I doing wrong?

[code]

[2017-03-07 17:37] michael-ciniawsky commented on #92
@gazpachu Webpack Version >= v2.2.1? Are you trying to set PostCSS options in both `webpack.config.js` and `postcss.config.js`? Where in you directory structure is `postcss.config.js` located?

[2017-03-08 08:14] gazpachu commented on #92
@michael-ciniawsky it turned out to be that I had to specify the location of the config file. I thought it would automatically read the same folder level where the webpack.config.js file is located but that was not the case.

[code]

On the other hand, I've noticed that the autoprefixer is not adding `-moz` nor `-ms` nor `-o` prefixes. Aren't they required anymore?

[2017-03-08 08:21] andykenward commented on #92
@gazpachu dependant on what browsers you have defined. Add some older browsers and it should prefix as required

[2017-03-08 08:39] edmundo096 commented on #92
@gazpachu I got the same issue. After some research, I concluded how the loading of `postcss.config.js` worked.

I recommend you read my suggestions in the comment above https://github.com/postcss/postcss-loader/issues/92#issuecomment-276036682. Summed up, if you use `postcss.config.js`, it must be "anywhere down the file tree" where Webpack **matches a file** (in your case, of `/src/app/component

[2017-03-08 10:00] ximet opened #185 "Webpack 2 not working with precss plugin for postcss-loader"
I added precss option to postcss-loader, but him not working and not transpile correct nested-selector.
`const precss = require('precss');`

 `{
       test: /\.scss$/,
           use: [
               {
                        loader: 'style-loader',
                    },
                    {
                        loader: 'css-loader',
                        options: {

[2017-03-08 11:06] ai commented on #185
1. Show full config.
2. Show input, output and expected output.

[2017-03-08 13:05] #185 closed

[2017-03-15 07:14] towry opened #187 "Error: Cannot find module 'autoprefixier'"
// packages info
[code]

Why the `postcss-loader` can not find the `autoprefixer` package?

// webpack config
[code]

// postcss.config.js

[code]

[code]

[2017-03-15 07:23] towry commented on #187
I fixed this by not use a `postcss.config.js` in my project root directory, I put the plugins options in the webpack config files.

[2017-03-15 07:42] michael-ciniawsky commented on #187
@towry

[code]

`autoprefixier => autoprefixer` 😛

[2017-03-15 07:45] michael-ciniawsky commented on #187
Please ensur it is installed correctly and the package name in `package.json` is also correct in case a package named `autoprefixier` exists run `npm prune && npm i -D autoprefixer` after fixing  `package.json`

[2017-03-15 08:22] #187 closed

[2017-03-22 09:09] yangg opened #188 "Cannot not get options from webpack config"
webpack 2
For some reason, I canno't use postcss.config.js, so I put config in loader options
[code]
But the following error occus:
[code]

[2017-03-22 09:16] michael-ciniawsky commented on #188
webpack version please 😛 if you're webpack <= 2.2.1. That's a known bug with 'Complex Options' in loader options like using `{Function}/require()`. 2.2.1 fixed this and if you can't upgrade (highly recommended) then try this

**webpack.config.js**
[code]

Also a fresh `rm -rf node_modules && npm i` can do wonders 😄

[2017-03-22 09:18] michael-ciniawsky commented on #188
If you still have any regressions feel free to reopen 😛

[2017-03-22 09:18] #188 closed

[2017-03-22 09:25] yangg commented on #188
Update webpack from 2.2.0  to 2.3 fixed this problem.
Thanks for your help.😄

[2017-03-23 15:33] barraponto opened #189 "postcss-loader ignores options if there is configuration in postcss.config.js or package.json"
is this expected?
can i work around it (and merge the options)?

[2017-03-23 15:34] ai commented on #189
Nope. Could you remove config? Maybe options doesn’t work on your webpack. Show your configs.

[2017-03-23 16:55] barraponto commented on #189
Sorry, my bad. I had set `{map: true}` in the options, but I forgot to set the proper `devtool` in webpack.
Thanks for the attention :)

[2017-03-23 16:55] #189 closed

[2017-03-24 09:51] jerexyz opened #190 "feat: options.plugins support returning a promise"
options:plugins now support function   but not support return promise.

[2017-03-24 09:52] ai commented on #190
What is your use case for it?

[2017-03-24 09:58] jerexyz commented on #190
I am developing a tool like  create react app，Used postcss 。
I can read the user's configuration if it does not exist I can give a default configuration。
if support return promise，I can doing is dynamic。

[2017-03-24 09:59] ai commented on #190
OK, I will try to fix it after React London. If you want if sooner, feel free to send PR.

[2017-03-24 10:01] michael-ciniawsky commented on #190
@jerexyz Example for that (in code) please 😛

[2017-03-27 09:20] jerexyz commented on #190
@michael-ciniawsky    https://github.com/jerexyz/postcss-loader-demo
thanks

[2017-03-27 16:00] michael-ciniawsky commented on #190
@jerexyz I see, so basically you want to change the config resolving order ? 😛

**Current**
`webpack.config.js`> `postcss.config.js` > `Error`

**Proposed**
`postcss.config.js`> `webpack.config.js` > `Error`

The logic for config loading starts [here](https://github.com/postcss/postcss-loader/blob/master/index.js#L65), but I must try and think of possibilities to do so first, please be patient and

[2017-03-28 01:51] jerexyz commented on #190
@michael-ciniawsky    yes,this is what i wanted.a non breaking solution  is   `options.plugins` function  support `Promise`, so can change  the config dynamic.

[2017-03-28 02:34] michael-ciniawsky commented on #190
@jerexyz But not for all current users of `postcss-loader` :), especially existing *webpack.config.js/postcss.config.js* combos expecting `webpack.config.js > postcss.config.js` will break with this change 😛 . Maybe we can introduce this in `v2.0.0`, what happens will the loader logic look like if someone doesn't use a Promise in `options.plugins` ? How to determine config loading ?

[2017-03-28 02:44] jerexyz commented on #190
`webpack.config.js > postcss.config.js` can be keeped. For now, options.plugins support `{Function}`   so  can write some logic. but can't do everything sync.

[2017-03-28 02:48] michael-ciniawsky commented on #190
Send PR please 😛 it seems I'm not 💯 getting it

[2017-03-31 07:33] kutsan commented on #42
Not related but this is somehow top Google result. [Here is my Stylus, PostCSS, Webpack config](https://gist.github.com/anonymous/f2df37ec2d91748243547431874935c5) if someone needs.

[2017-04-04 15:46] kud opened #192 "postcss.config.babel.js possible?"
All is in the title.

[2017-04-04 15:50] kud opened #193 "LoaderOptionsPlugin seems not to work"
## Works

[code]

## Doesn't work

[code]

[2017-04-04 16:43] pmsorhaindo opened #194 "postcss.config.js in node_modules overriding the root postcss.config.js"
I'm using a module which provides some css, which also contains a `postcss.config.js`. When I run webpack this module's `postcss.config.js` is used by the loader instead of the one in the root of my project.

Is this intentional or should the loader always use the root config file?

[code]

[2017-04-04 16:56] michael-ciniawsky commented on #193
@kud `LoaderOptionsPlugin` was for the transition phase from webpack v1 => webpack v2 in particular for loader, which don't supported the new syntax during that time. Since `postcss-loader > v1.0.0` webpack v2 is fully supported and the `LoaderOptionsPlugin` can be safely removed 😛

**webpack.config.js**
[code]

Make sure to have webpack >= **v2.2.1** installed, since there was a bug using `requir

[2017-04-04 16:56] #193 closed

[2017-04-04 17:09] michael-ciniawsky commented on #194
Hmm...:stuck_out_tongue: normally this is intentional, the config search algo starts searching from `dirname(file)` currently processed by the the loader and goes upwards until it hits the project root. You can pass a fixed config path for config lookup to disable the config cascade that way

**webpack.config.js**
[code]

Can you provide a link to the module you are using, containing the `postcss.

[2017-04-04 17:13] michael-ciniawsky commented on #192
@kud There is an issue open in `postcss-load-config`, but I don't intend to support it out-of-the-box, the babel deps would be bigger than the whole module itself 😛 , you can try `babel-register' and see if it works. Otherwise nope sry

[2017-04-04 17:13] #192 closed

[2017-04-04 19:27] pmsorhaindo commented on #194
Ah! Thanks @michael-ciniawsky, The config option gets me the desired functionality, 😃 thanks for pointing that out! The pattern library `bw-axiom` is the library I was using, unfortunately in this case just excluding the node_modules leads to webpack being unable to handle the cssnext `@imports` in these files.

[2017-04-04 20:13] michael-ciniawsky commented on #194
@pmsorhaindo Still curious why it actually gets picked up, bc normally only the file containing the `@import`, should trigger config lookup :D Do you import the lib via webpack (1) or a postcss-plugin (2) `postcss-import`? `postcss-cssnext`doesn't seem to ship with an import plugin 😛

#### (1)
**component.js** (`css-loader!postcss-loader`)
[code]

#### (2)
[code]

[2017-04-04 20:30] pmsorhaindo commented on #194
Yeah, you're right. The library provides react components, which are imported via webpack. but the CSS in that library is making use of postcss-import.

[2017-04-04 20:39] michael-ciniawsky commented on #194
yeah... 😛  still need to find a way to ignore this properly 😊. kk if still any regressions feel free to reopen or just open a new issue

[2017-04-04 20:39] #194 closed

[2017-04-05 08:08] kud commented on #192
Thank you. :)

[2017-04-05 08:44] kud commented on #193
Hey Michael,

Thank you for your answer.

Indeed, it works like you did.

Before, I did like this:

[code]

So yes, I wasn't be able to give some arguments to my plugins. With your configuration, it's ok!

Thank you again. :)

[2017-04-07 12:42] evilebottnawi opened #195 "refactor: disable source map using option"
Is it possible to disable generation source map generation using options? This will speed up compilation on watch when i disable source map in webpack. It would be nice if this option was taken from the webpack config by default. If your accept i can do PR.

[2017-04-07 15:47] michael-ciniawsky commented on #195
@evilebottnawi Yep, rigth, could you check the #177, I intend to do that for v2.0.0 since it is technically a semver major, but wainting for other related loaders I need to update first `style-loader`/ `extract-text-webpack-plugin`

[2017-04-07 15:52] evilebottnawi commented on #195
@michael-ciniawsky can i help you with this?

[2017-04-07 16:03] michael-ciniawsky commented on #195
@evilebottnawi Yep 😛  test if disabling sourcemaps works correctly

Sourcemap Implementation is [here](https://github.com/postcss/postcss-loader/pull/191/files#diff-168726dbe96b3ce427e7fedce31bb0bcR67)

v2.0.0 should work without `css-loader` and export a module directly (perf), but it is planned to export ES2015 Modules in the near future and `style-loader`/ `extract-text-webpack-plugin` don't su

[2017-04-07 16:05] michael-ciniawsky commented on #195
`npm i -D michael-ciniawsky/postcss-loader#v2`

[2017-04-07 17:01] evilebottnawi opened #196 "refactor: don't use `postcss` when `plugins` option is empty"
If option `plugins` is empty postcss is still applied, but we can avoid run `postcss`.

[2017-04-07 17:36] michael-ciniawsky commented on #196
We could add a check [here](https://github.com/postcss/postcss-loader/blob/master/index.js#L80) and early return the css with a warning to maybe  remove `postcss-loader` from `webpack.config.js`. Good catch 👍

[2017-04-07 18:49] michael-ciniawsky commented on #196
We need to take care of options too, in case `postcss-loader` is used for e.g SugarSS

[2017-04-07 18:52] ai commented on #196
Do we need some loader changes?

[2017-04-07 18:57] michael-ciniawsky commented on #196
Maybe around [here](https://github.com/postcss/postcss-loader/blob/master/index.js#L80), but if `postcss-loader` should take care of user/usage error(s) is another question 😛

[2017-04-07 18:59] ai commented on #196
I still don’t understand this issue and what we should change :)

[2017-04-07 19:16] michael-ciniawsky commented on #196
if `const plugin = [], const options= {}` skip parsing + display warning and early return, but if that is the case `postcss-loader` shouldn't be setup from the beginning and it can only happen if `postcss.config.js` is empty, which also errors in `postcss-load-config`. hmm... so while thinking about it I would say nothing :D, already fine, maybe test again if all cases are covered

[2017-04-07 19:17] ai commented on #196
Why user would have empty plugins and options?

[2017-04-07 19:27] michael-ciniawsky commented on #196
¯\_(ツ)_/¯

That change would be more of 'save me from my own stupidness' kind of thing I guess and ensure it doesn't hit performance while doing so

[2017-04-07 19:33] ai commented on #196
If someone will have good use case for it, we will reopen issue.

Right now I think, error message for wrong configuration is more important (it is easy to miss warning, instead of error).

[2017-04-07 19:33] #196 closed

[2017-04-08 13:48] evilebottnawi commented on #196
@ai i use difference `plugins` for difference files, examples `foo.cssnext.css` for files contain cssnext and `foo.css` for simple css. why? some modules from npm contain only css and i speedup my build.

[2017-04-08 22:35] ai commented on #196
@evilebottnawi can you show your config?

[2017-04-10 08:39] evilebottnawi commented on #196
@ai
[code]

Loader рas approximately this configuration:
[code]

[2017-04-10 08:47] ai commented on #196
Hm, maybe we should do not show warning when user pass `[]` and still show it when user didn’t pass anything (here is a problem, that we try to fix with this warning).

I will think for few days and then decide.

[2017-04-10 08:50] evilebottnawi commented on #196
@ai thanks for helping :1st_place_medal:

[2017-04-10 10:56] dmytro-lymarenko opened #197 "@import in css"
Hey Guys! I'm not sure if this module does it but... Is it possible to change the behavior of @import in css?

I mean I want to use a loader before the content from the file is inserted into css.

Please correct me if I'm wrong but I know that if a loader (or something else) sees @import './path/to/file.css' then the content is inserted into the file where import is used.

But this behavior is not

[2017-04-10 10:57] dmytro-lymarenko commented on #197
P.S. I use sass so I want to transform json into set of variables:
from `{ width: 100, height: 200, ... }` to `$width: 100px; $height: 200px;`

[2017-04-10 23:00] michael-ciniawsky commented on #197
@dmytro-lymarenko

[postcss-css-variables](https://github.com/MadLittleMods/postcss-css-variables)
[postcss-custom-properties](https://github.com/postcss/postcss-custom-properties)

**postcss.config.js**
[code]

[2017-04-10 23:00] #197 closed

[2017-04-12 00:48] rozzzly opened #198 "Weird dependency conflict with `css-loader` and its `composes` functionality."
I discovered a bug due to a conflict between `css-loader` and `postcss-loader`.

[code]
## now before you reply telling me to get my config setup right, please keep reading.

Here's the relevant slice of my webpack config:
[code]
I've read like 100 issues across this repo/css-loader/css-modules's plugins/etc. I have no doubt that this is unrelated to my config.
Essentially my directory structure l

[2017-04-12 01:53] michael-ciniawsky commented on #198
**!./~/postcss-loader?{"parser":"postcss-scss"  => plugins? <=  }**

@rozzzly Your plugins are missing in the query, that happend (bug) in webpack versions < **v2.2.1**  with so called 'complex options' (`{Function}`|| `require()`), so either update to latest webpack in case your version is < **v2.2.1** or use an options prop called `ident`

**webpack.confg.js**
[code]

⚠️ Note that `postcss-scss`

[2017-04-12 01:53] #198 closed

[2017-04-13 19:47] evilebottnawi commented on #177
/cc @michael-ciniawsky Should we wait postcss 6.0.0 before we can release 2.0.0? Maybe for postcss 6.0.0 version we will use 3.0.0. I'm interested in a new version where there will not be a `css-loader`. They are use `css-modules`, but in most project i don't use their ( i am losing performance :sob: ).

[2017-04-13 19:55] michael-ciniawsky commented on #177
@evilebottnawi I need to triage a few small things before actually ready and @ai needs to approve it then :), It's blocked by a few other things, while we can go with `module.exports` (CJS) for now, I need to test adding `css-base` from `css-loader` first (Module Deduplication), it's more complicated 😛

[2017-04-13 19:58] ai commented on #177
@michael-ciniawsky maybe you should be a maintainer for this loader? Anyway you answered for most of issues. Rest work is simple and doesn't need too much time.

[2017-04-13 20:03] evilebottnawi commented on #177
@ai @michael-ciniawsky i can help with this, besides, I am well acquainted with postcss and webpack :smile:

[2017-04-13 20:05] ai commented on #177
Good idea too. Let's wait for @michael-ciniawsky answer and transfer maintaince 😊

[2017-04-13 20:22] michael-ciniawsky commented on #177
@ai ? 🙃 I can take 'full' maintainance of this loader of course 😛 `npm owner add` or an npm organisation (`teams`) in case you want more 'control'.

@evilebottnawi Yeah sure welcome, Angular Commit Covention (`standard-version` => CHANGELOG.md), StandardJS >= v2.0.0 and we are up and running :)

[2017-04-13 20:25] michael-ciniawsky commented on #177
@evilebottnawi I will recommend you for `css-loader` and co aswell, if you are interested we need all hands we can get :D

[2017-04-13 20:27] michael-ciniawsky commented on #177
@ai `postcss-loader` => webpack-contrib?

[2017-04-13 20:28] ai commented on #177
@michael-ciniawsky welcome on board (you can add @evilebottnawi as well).

I hope to release PostCSS 6 in next week.

[2017-04-13 20:30] michael-ciniawsky commented on #177
No rush the webpack part will take longer :D

[2017-04-14 18:10] Kikobeats opened #199 "[Question] sass-loader and sourcemap"
Hello, I want to know if this configuration using `sass-loader` and `postcss-loader` is correct for generate a production sourcemap:

[code]

Note how I commented `sourcemap: 'inline'` because I undestand `sass-loader` is the last loader in the pipeline and is enough with generate the sourcemap in these step? or is necessary generate twice?

Another question related: `inline` is the unique value a

[2017-04-15 03:03] michael-ciniawsky commented on #199
@Kikobeats Try this config

**webpack.config.js**
[code]

`sass-loader` is the **first** loader that receives your `.css/.scss` files. (`reduceRight`)

Yes, atm this is `postcss-loader` specific, @webpack-contrib we are currently discussing  about supporting that in general (`css-loader/style-loader`) if needed or otherwise removed it enterily to avoid confusion 😛 . It was added in `postcss-loader

[2017-04-15 10:41] Kikobeats commented on #199
Thanks for reply!

Very interesting know about `reduceRight`. Have a lot of sense, Can you say where can I read more about webpack internals? Always I had the doubt if the order of the plugin list is important.

You said inline the unique value available (and I saw that [here] (https://github.com/postcss/postcss-loader/blob/833df03f8f6bd0ab24f2bff9bf8d15138bd39cda/index.js#L85)) but your code sugg

[2017-04-15 10:41] #199 closed

[2017-04-15 22:01] michael-ciniawsky commented on #199
Ooops... 😛 yep sry `postcss-loader` sourcemaps are always generated atm, but this will change in the upcoming **v2.0.0** release for perf reasons

[Developer Guides](https://webpack.js.org/development/)

[Loader Runner](https://github.com/webpack/loader-runner)
[Loader API](https://webpack.js.org/api/loaders/)

[Tapable (Plugin 'Runner')](https://github.com/webpack/tapable)

[Plugin API](https://w

[2017-04-17 03:01] andrebautista commented on #162
Pulling my hair out over why this doesn't seem to run the autoprefixer plugin.  Trying to debug the loader also but documentation is pretty poor around how to do that.  Any advice would be greatly appreciated, I've scoured the autoprefixer, postcss, and extract text issue boards to find a solution and this is the closest I've come.
[code]

[2017-04-17 03:06] michael-ciniawsky commented on #162
[code]

[2017-04-17 03:06] michael-ciniawsky commented on #162
webpack >= v2.2.1

[2017-04-17 03:08] michael-ciniawsky commented on #162
`precss` is unmaintained and if you use Less then you don't need it, since it's propose is to mimic SASS

[2017-04-17 03:14] andrebautista commented on #162
@michael-ciniawsky 2.4.1.  Are options required?  I previously had this plugin on webpack 1.x and I thought it was working with no values being passed in.

[2017-04-17 03:17] michael-ciniawsky commented on #162
[code]

Should also work, otherwise the bug is somewhere else 😛

[2017-04-17 03:24] andrebautista commented on #162
Hmm no dice there.  Here's some of my build, I see nothing about autoprefixer (line 8) but then again I'm not sure if I should.
[code]

[2017-04-17 03:27] michael-ciniawsky commented on #162
That look wierd, could you post the full log please

[2017-04-17 03:30] andrebautista commented on #162
Like so?
[code]

[2017-04-17 03:37] michael-ciniawsky commented on #162
[code]
[code]

Which versions of webpack, ETWP && loaders you are running on atm ?

[2017-04-17 03:44] andrebautista commented on #162
webpack:  2.4.1
less-loader: 2.2.3
ETWP: 2.1.0
autoprefixer: 6.7.7

[2017-04-17 04:15] michael-ciniawsky commented on #162
`css-loader/postcss-loader`? :)

[2017-04-17 04:18] andrebautista commented on #162
Oh of course, how could I forget that one 😝
postcss-loader: 0.13.0

[2017-04-17 04:25] michael-ciniawsky commented on #162
You will need postcss-loader > v1.0.0 for webpack v2 compatibility, this should also remove

[code]

please make sure to have the **latest** `style-loader/css-loader` aswell

[2017-04-17 17:37] evilebottnawi commented on #177
@michael-ciniawsky Today I thought and came to a conclusion: now `css-loader` is not `css` loader (some project don't use `css-modules`, but `css-loader` use their and it is weird and no way disable their, `module: false` it is not solution, because `postcss-modules-*` plugins anyway apply).

In `postcss-loader` we want using their without `css-loader`, be right move all logic exclude `css-modules

[2017-04-17 17:45] evilebottnawi commented on #177
@michael-ciniawsky Also after release `postcss-loader` it is should be named as `css-loader` :smile: (because it is veritable loader for css, without extra mixed logic as in `css-loader`).

[2017-04-18 09:38] michael-ciniawsky commented on #177
@evilebottnawi Could you please drop my your e-mail so we can add you to the @webpack slack 😛?

[2017-04-18 09:42] evilebottnawi commented on #177
@michael-ciniawsky sheo13666q@gmail.com :1st_place_medal:

[2017-04-18 09:55] michael-ciniawsky commented on #177
You should got or get an invite soon :)

[2017-04-18 19:58] pirelenito commented on #129
This worked for me https://github.com/webpack-contrib/css-loader/issues/413#issuecomment-283944881

[2017-04-20 08:23] IlianYotov opened #200 "[Question] Output multiple css files and cssnext integration"
Hello guys.

I I'm trying to migrate css processing to webpack and I have a problem with cssnext.
Let me describe the project structure:
[code]

Every component has separate css file in css/ folder and all components are imported in index.css. The colors in components file are defined with css variables. Here is an example of component1.css file:

[code]

And all variables are defined in theme fil

[2017-04-20 09:08] michael-ciniawsky commented on #200
`.css` files can **not** be used as entry points, webpack is a **JS Module Bundler** and HTML, CSS, Assets require a loader to work correctly.

`postcss-cssnext` has a plugin for CSS Custom Properties included, you can save your variables in a JSON file etc and add them via `postcss-cssnext`, if you use a `postcss.confg.js` file autoreloading them works out-of-the-box :)

**postcss.config.js**
[co

[2017-04-20 09:08] #200 closed

[2017-04-20 09:44] IlianYotov commented on #200
Thank you for the comment.
I'm not sure how do you output two extracted.css files with different set of variables.

[2017-04-23 09:24] milewski commented on #92
as webpack `2.4.1` i could only get it working using the `ident: 'postcss'` as mentioned here https://github.com/postcss/postcss-loader/issues/92#issuecomment-276036682

[2017-04-23 09:30] michael-ciniawsky commented on #92
@milewski Hmm that's weird I need to check that, got a similiar issue @extract-text-webpack-plugin maybe its a bug :/, please post your `webpack.config.js` here 😛

[2017-04-23 09:58] milewski commented on #92
[code]

[2017-04-23 12:17] michael-ciniawsky commented on #92
According to Tobias (sokra) there weren't any changes in webpack, could you please try

1. PostCSS Options inside the rule
2. With and without ETWP
3. Without `{ sourceMap: true }`in `postcss-loader`

The Error sounds unrelated to what was bug before, when the `ident` is missing (`{Function}`/ `require()` not stringified correctly => plugins:  `{}`)

[2017-04-23 12:18] michael-ciniawsky commented on #92
[code]

[2017-04-23 14:35] milewski commented on #92
Okay here we go

Changing `query` to `options` fails
[code]

removing `resolve-url-loader` fails

[code]

PostCSS options inside. also fails

[code]

without ETWP also fails

[code]

without ETWP + ident = Works

[code]

You can have a look at this with the real files i am using here: https://github.com/milewski/portfolio

[2017-04-23 14:38] milewski commented on #92
oh..

this works
[code]

and this also works

[code]

but together both fail (unless ident is set)

so the problem might be in `style-loader` and `css-loader->importLoaders`

[2017-04-26 03:44] huyi0726 opened #202 "px conversion rem"
[code]

[2017-04-26 07:34] #202 closed

[2017-04-27 10:08] evilebottnawi commented on #195
/cc @michael-ciniawsky let's do this, add options `sourceMap` as in `css-loader`?

[2017-04-27 13:41] kud opened #203 "wierd error after setting alias on css-loader"
Hey,

I'm glad you also work here @michael-ciniawsky because I don't know exactly where to put this _bug_ (postcss-loader or css-loader).

This is what I've got.

[code]

It worked well before I added this:

[code]

to use this:

[code]

I had this error:

[code]
I always read `postcss-loader?{"plugins":[null]}` before, even when defining the plugins this way but had no troubles so I didn't take c

[2017-04-28 10:15] evilebottnawi commented on #195
/cc @michael-ciniawsky ping :smile:

[2017-05-01 14:38] jeffijoe opened #204 "No PostCSS Config found"
I've been using `LoaderOptionsPlugin` until now where everything worked. I then tried to use the inline options but I got `Error: No PostCSS Config found in node_modules/...`, apparently because the plugin uses the PostCSS config resolver if not using webpack 1-style options.

Would it be possible to prevent this if inline options are provided?

[2017-05-01 19:42] TrySound commented on #204
Add postcss config to postcss.config.js as specified in documentation

[2017-05-01 19:45] jeffijoe commented on #204
The docs specify 2 ways of config: a file and inline as loader options. I want to use the latter, which according to docs is supported. I think this behavior is unintended.

[2017-05-01 21:17] michael-ciniawsky commented on #204
@jeffijoe Please post your `webpack.config.js` here, both ways are supported 😛 I will help to fix it, looks like a setup error somewhere

[2017-05-01 21:27] michael-ciniawsky opened #205 "`webpack.config.js` (Complex Options)"
When using inlined plugin options (`webpack.config.js`) the first call to the loader would succeed in finding any options set, but subsequent calls would fail.

https://github.com/nsfmc/extract-text-test

[2017-05-02 00:48] michael-ciniawsky commented on #203
@kud First, sry for the delay 😛

The `alias` only works on e.g `.a { background: url() }`  the `TypeError: Cannot read property 'postcss' of null` comes from `css-loader`, which also uses PostCSS internally for CSS Modules atm and the hacky solution there, fails at some point and `postcss` can't process the content.

That's a good question and something seems to flanky within `loader-runner` but n

[2017-05-02 00:48] #203 closed

[2017-05-02 00:51] michael-ciniawsky commented on #195
Fixed by #191

[2017-05-02 00:51] #195 closed

[2017-05-02 01:00] michael-ciniawsky commented on #190
@jerexyz Did you find a solution for this ? I will try to help wherever I can, but I don't think switching the current config loading behaviour is applicable in the proposed way.

[2017-05-02 01:00] #190 closed

[2017-05-02 01:01] michael-ciniawsky commented on #204
@jeffijoe Still free free to post your `webpack.config.js` 😛

[2017-05-02 01:01] #204 closed

[2017-05-02 05:49] jeffijoe commented on #204
[code]

[2017-05-02 06:30] michael-ciniawsky commented on #204
webpack version and the error log aswell please :)

[2017-05-02 06:33] jeffijoe commented on #204
Webpack 2.4.1

![image](https://cloud.githubusercontent.com/assets/2505474/25606511/0ea55586-2f12-11e7-85da-d99fd52b8f5d.png)

[2017-05-02 07:35] michael-ciniawsky commented on #204
The `ERROR in ./.../... ... postcss-loader?->{}<-` is empty ? The config doesn't seem to be applied and that's why it tries to load `postcss.config.js`. Please post the *full* `webpack.config.js`

[2017-05-02 07:42] jeffijoe commented on #204
Sure thing.

[code]

[2017-05-02 08:15] michael-ciniawsky commented on #204
[code]

This won't work because webpack **stringifies** the returned value internally, that's why we have **`postcss.config.js`** and recommend it

**webpack.config.js**
[code]

or

**postcss.config.js**
[code]

[2017-05-02 09:01] jeffijoe commented on #204
The returned value is an array - `clean()` simply filters out falsy values. Unless you're saying Webpack stringifies the `options` hash? That can't be, because if that was the case it would choke on the fact `plugins` is a function.

[2017-05-02 09:40] kud commented on #203
Okay, thank you for your explanation @michael-ciniawsky !

[2017-05-02 09:49] michael-ciniawsky commented on #204
It needs an `ident` stringifies the functions in `options: {}`+ references the the `require()` calls based on the `ident`. The `LoaderOptionsPlugin` works enterily different and it's purpose was to make loaders not supporting webpack 2 option syntax work with webpack 2 beta during the webpack 2 beta phase and is deprecated now. It should be used only for loaders **not** supporting webpack 2 syntax

[2017-05-02 09:53] jeffijoe commented on #204
I tried:

[code]

Still no luck. Removed the conditional.

[2017-05-02 10:00] michael-ciniawsky commented on #204
hmm... last resort is trying with `postcss-csso` instead of `rucksack-css` (Plugin Package), otherwise it's a more nasty issue somewhere else, if still no luck please try a config file aswell for debugging proposes

[2017-05-02 10:08] jeffijoe commented on #204
I put a `postcss.config.js` in the root of my `client` folder, although `node_modules` is 2 levels above that, causing issues when importing css from `node_modules`.

Putting the config file at the root of the project works, but now my project root is littered with client code and breaks my otherwise clean separation of server and client code. This is why I preferred the inline approach.

[2017-05-02 10:31] michael-ciniawsky commented on #204
Can you `tree` your project and post it here please 👍 :)

[2017-05-02 10:37] jeffijoe commented on #204
![image](https://cloud.githubusercontent.com/assets/2505474/25614839/1a262e18-2f34-11e7-9a88-ec77c4952589.png)

[2017-05-02 10:48] michael-ciniawsky commented on #204
Out of the gut I guess neither `postcss-load-config` when placed in `./src` nor `webpack.config.js`  in `./src` can pick up the packages in `node_module`

[2017-05-02 11:05] jeffijoe commented on #204
Yeah its probably using the same resolution strategy as `.babelrc`

So there's no way to work around this within the Webpack config?

[2017-05-02 11:22] michael-ciniawsky commented on #204
Nope 😛 at least not to my knowledge

[2017-05-02 11:31] jeffijoe commented on #204
Fair enough, didn't know about that Webpack stringify behaviour. 😄

[2017-05-05 09:07] funkyLover commented on #204
so the conclusion is we can't replace `postcss.config.js` with `inline options in webpack`? same issue here.

[2017-05-05 14:24] michael-ciniawsky commented on #204
@funkyLover No both are supported and `webpack.config.js` > `postcss.config.js` in terms of loading behaviour, we still recommend `postcss.config.js`

[2017-05-06 11:51] ai opened #206 "Use PostCSS 6.0"
[PostCSS 6.0](https://github.com/postcss/postcss/releases/tag/6.0.0) was released. API wasn’t changed dramatically, so you need only update dependency and release new version.

@michael-ciniawsky write me if you need any help. If you have big plans in 2.0, we can quickly release 2.0 only with PostCSS 6 and big changes move to 3.0 (it is OK to make major releases often if it has small changes).

[2017-05-06 16:11] michael-ciniawsky commented on #206
@ai Nope 😛 let's release **v2.0.0** as quickly as possible, I only need to update docs && finish release notes I try to do it today/until tomorrow. The 'webpack CSS' related changes will take more time and blocking a new release for `postcss-loader` _way_ too long anyways 🙃.

- Is PostCSS v6.0.0 breaking any major plugins atm?
- Sokra mentioned that the `map.names` (source maps) are 'off', they ne

[2017-05-06 16:20] ai commented on #206
Sure, we can wait few days.

1. Plugin API changes are small and should not affect most of plugins.
2. What is `map.names`? Where I can read more about it?
3. Sure, you are maintainer and you can change project docs style.

[2017-05-06 17:22] michael-ciniawsky commented on #206
kk, should be fine when there is no known issue with something like e.g cssnext yet :)

😆 I'm an idiot, `map.sources`  of course 😛 needs to contain absolute paths as the source **name** , maybe it'a the same 'issue' adressed [here](https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L203), but not 💯  waiting for reply to confirm

👍 😛

[2017-05-06 17:28] michael-ciniawsky commented on #206
The `map` issue can be a bugfix release later, so a bit offtopic I get the release ready :stuck_out_tongue:

[2017-05-07 15:17] ai commented on #206
Let’s move `map.sources` fix on next PostCSS release. Looks like we will not fix it very soon. Is it OK?

[2017-05-07 18:45] michael-ciniawsky commented on #206
[code]

Done, if there is still something is flanky it's a`x.x.1` patch release, just finishing the docs an good to go 😛 (today)

[2017-05-08 05:43] #177 closed

[2017-05-08 05:43] #206 closed

[2017-05-08 06:02] le0nik opened #207 "[2.0.1] "Cannot create property 'prev' on boolean 'false'" (options.sourceMap)"
[code]

[code]

These lines are the culprit:
https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L93
https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L125

postcss@1.3.3 works fine

webpack@2.5.1
OSX 10.12.4
Node.js 7.10.0
postcss-loader@2.0.0

[2017-05-08 06:19] michael-ciniawsky commented on #207
Thats weird 😛 , you don't need to set `sourceMap: false`  no source map is the default, still needs to be fixed I wonder why this happens tbh

[2017-05-08 06:19] polco commented on #207
i got the same error with the sourceMap set to 'true'  ;)

[2017-05-08 06:20] michael-ciniawsky commented on #207
hmm.... 😛 on it

[2017-05-08 06:21] le0nik commented on #207
@polco oh sorry my fault, this error appears when it's set to `true`, not `false`

[2017-05-08 06:22] michael-ciniawsky commented on #207
@le0nik @polco Please post your config (`webpack.config.js`)  aswell just in case :)

[2017-05-08 06:29] le0nik commented on #207
@michael-ciniawsky my config is huge and complex. Here's the styles loaders part:

[code]

The error happened when `env.isDev` was set to `true`.

My `postcss.config.js` file is empty(i pass plugins through the `postcss-loader` options)

[code]

[2017-05-08 06:30] polco commented on #207
webpack config:
[code]

postcss.config.js
[code]

[2017-05-08 06:42] le0nik commented on #207
Looks like the reason it happens is in this line https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L76

`loaderUtils.getOptions` always returns the same object in case of `options`(`query` gets parsed and a new object is returned every time) and when you delete `sourceMap` for one file it's always `undefined` after that.

[2017-05-08 07:04] michael-ciniawsky commented on #207
Guys I can't reproduce the issue locally, but both of you use `sourcemap: true` in `cssnano`, could you both try without that? 🙃

[2017-05-08 07:15] michael-ciniawsky commented on #207
@le0nik I see what you mean, mom I need another check for https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L79 to avoid the `delete options.x`

[2017-05-08 07:17] polco commented on #207
tried it, still broken :/

[2017-05-08 07:29] rejas commented on #207
This error happens too for me, here is my webpack.config-part:
[code]

Error goes away, when I remove the two ```sourcemap```-options (don't aks why they were in there and not in post-css :-)

[2017-05-08 07:37] michael-ciniawsky commented on #207
Yep confirmed it happens after the first file is processed by the laoder, I have a fix but a few minutes please 😛

[2017-05-08 07:38] rejas commented on #207
No worries and hurry from my side, it's monday morning after all :-D

[2017-05-08 07:42] polco commented on #207
yeah, it works with the previous version, so no rush :)

[2017-05-08 07:43] frederikschubert commented on #207
I was working in parallel on this and did just see this issue as I wanted to make a PR. :)

[2017-05-08 07:45] DanielRamosAcosta commented on #207
This is strange, I've set `sourceMap` to `'inline'`, but the error persists. I tried printing the value of `options` in [/index.js#L99](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L99) and the config is getting loaded for the first file, (with map set to `{ inline: true, annotation: false }`), but for the others is false...

[2017-05-08 08:09] Uriziel01 opened #209 "[2.0.1] 'No PostCSS Config found' (options.config)"
After todays upgrade to postcss-loader 2.0.0 I'm getting `No PostCSS Config found` everywhere.

I'm using `weback.config.js` from [https://github.com/JeffreyWay/laravel-mix](https://github.com/JeffreyWay/laravel-mix) repository

My actual postCss options are:
[code]

[2017-05-08 08:11] michael-ciniawsky commented on #207
Fixed in https://github.com/postcss/postcss-loader/commit/c4f006472a85d3bc36ae3f2f0e750291fd732b7b
Released in [v2.0.1](https://github.com/postcss/postcss-loader/releases/tag/v2.0.1)

[2017-05-08 08:13] michael-ciniawsky commented on #209
Fixed in https://github.com/postcss/postcss-loader/commit/c4f006472a85d3bc36ae3f2f0e750291fd732b7b
Released in [v2.0.1](https://github.com/postcss/postcss-loader/releases/tag/v2.0.1)

😛

[2017-05-08 08:14] michael-ciniawsky commented on #205
Fixed in https://github.com/postcss/postcss-loader/commit/c4f006472a85d3bc36ae3f2f0e750291fd732b7b
Released in [v2.0.1](https://github.com/postcss/postcss-loader/releases/tag/v2.0.1)

[2017-05-08 08:14] #205 closed

[2017-05-08 08:17] Uriziel01 commented on #209
Now I'm getting other type of error messages:
[code]

[2017-05-08 08:31] michael-ciniawsky commented on #209
Did you update to v2.0.1? This should also be fixed also in v2.0.1 😛

[2017-05-08 08:57] michael-ciniawsky commented on #209
You make me sweat here :D, mom I will investigate

[2017-05-08 10:53] badtant commented on #207
I'm using 2.0.1 and still get the error

{
				test: /\.scss$/,
				use: [
					{
						loader: 'style-loader'
					},
					{
						loader: 'css-loader',
						options: {
							sourceMap: true
						}
					},
                    {
                        loader: 'postcss-loader',
                        options: {
                            plugins: [autoprefixer]
                        }

[2017-05-08 13:37] gtwilliams03 commented on #209
I am getting the same error using the `font-awesome-webpack2` package:

[code]

[2017-05-08 13:47] skipjack opened #210 "[2.0.5] Output CSS Reversed/Jumbled"
I'm seeing a weird issue with the output from this loader. I can't share the actual code/output but this is essentially what's happening:

__prior to loading__

[code]

__after loading__

[code]

It's not all an exact reverse, but most of it is and the rest just seems randomly jumbled. Obviously this screws up the cascade (i.e. when `some-class` and `some-class--mod` are applied to the same elemen

[2017-05-08 15:55] iAdramelk commented on #209
Don't use starter kit, and tried to update to postcss-loader 2.0.1, still have `No PostCSS Config found` message. Have pretty big postcss config in few separate postcss.config.js files. What should I upload to help you find problem cause?

[2017-05-08 15:58] brendanmoore commented on #207
Issue also persists for me with version 2.0.1. Is it worth reopening this issue?

[2017-05-08 16:02] mythz commented on #128
I'm getting the same error with the latest version of **postcss-loader** whilst configuring it in postcss options in `LoaderOptionsPlugin`.

It also works by putting an empty `postcss.config.js` file but it's absurd I need to pollute my source folder with empty config files, so I just reverted back to:

    "postcss-loader": "^1.3.3",

instead, which doesn't have this issue.

[2017-05-08 16:06] mythz commented on #209
Had the [same issue](https://github.com/postcss/postcss-loader/issues/128#issuecomment-299910809) after installing the latest **postcss-loader**, so I reverted back to:

    "postcss-loader": "^1.3.3",

[2017-05-08 16:53] Fardinak commented on #209
I'm also getting the original error (`2.0.1`).
Now, I'm not sure... am I allowed to NOT have a separate `postcss.config.js`? I don't have much to config; would rather keep it in my `webpack.config.js`.

[2017-05-08 17:11] badtant commented on #207
I would say so

[2017-05-08 18:50] iAdramelk commented on #209
To clarify I do have `postcss.config.js` files, but not in the root category, they are in separate subfolders fro different entry points.

[2017-05-08 19:08] depaolif opened #212 "Chunk.entry removed --> WebpackOptionsValidationError"
Running `npm start` displayed the website working just fine, but when I tried `npm run build` I would get the same error listed here: [https://github.com/postcss/postcss-loader/issues/170](https://github.com/postcss/postcss-loader/issues/170), though my devDependencies looked like:

[code]

and the relevant section in my `webpack.config.prod.js` looked like:

[code]

The solution for the above thr

[2017-05-08 20:31] michael-ciniawsky commented on #210
`webpack.config.js`  && `postcss.config.js` please 😛

[2017-05-08 20:36] michael-ciniawsky commented on #212
Could you update webpack to `v2.5.1` (latest stable) && `extract-text-webpack-plugin` to `v2.1.0`? Especially ETWP `v1.0.0` isn't compatible with webpack `v2.0.0`

[2017-05-08 20:38] skipjack commented on #210
That I can do 👍

__webpack.config.js__ (excluding non css-related bits)

[code]

__.postcssrc.js__

[code]

[2017-05-08 20:55] depaolif commented on #212
I just tried updating both of them like you said. For `npm start`, I'm still getting the same error message as before, but for `npm run build` I'm now getting:

[code]

After that, I tried changing:

[code]
to:
[code]
But now I'm just back to the WebpackOptionsValidationError (same for npm start).

[2017-05-08 21:06] michael-ciniawsky commented on #210
As a heads up [postcss-nested v2.0.0 (6 hours ago)]https://github.com/postcss/postcss-nested/releases/tag/2.0.0 maybe related to the PostCSS v6.0.0 major bump in `postcss-loader`

[cssnext](https://github.com/MoOx/postcss-cssnext/blob/master/package.json#L49) ships with it's own nesting plugin included [`postcss-nesting`](https://github.com/jonathantneal/postcss-nesting), so maybe try with/without

[2017-05-08 21:08] skipjack commented on #210
Thanks I'll try that.

[2017-05-08 21:15] michael-ciniawsky commented on #207
The check between `options.inWebpackConfig ? useConfig() : loadConfig()` is flanky I'm working on a solution (again 😛 ), but it is a nasty bug happening 'setup related'.

[2017-05-08 21:16] michael-ciniawsky commented on #212
How does the `config.plugins` part look like now ?

[2017-05-08 21:18] michael-ciniawsky commented on #212
[code]

[2017-05-08 21:18] michael-ciniawsky commented on #212
`loader` => `use` everywhere in webpack `>= 2.0.0` 😛

[2017-05-08 21:23] michael-ciniawsky commented on #210
https://github.com/postcss/postcss-nested/pull/52

Released in postcss-nested `v2.0.1`

[2017-05-08 22:19] depaolif commented on #212
I just updated all the `loader`s in config.module to `use`. But I'm still getting the same error 😕

module and plugins now looks like this:
[code]

[2017-05-08 22:20] michael-ciniawsky commented on #209
Please try the fix branch and provide feedback 😛 `npm i -D postcss/postcss-loader#fix`

@iAdramelk I'm especially interested in your setup :D

[2017-05-08 22:20] michael-ciniawsky commented on #207
Please try the fix branch and provide feedback 😛 `npm i -D postcss/postcss-loader#fix`

[2017-05-08 22:25] michael-ciniawsky commented on #210
Resolved 🙃 ? No rush but there is another bug which is to 💯  in `postcss-loader`, otherwise
please try the fix branch and provide feedback 😛 `npm i -D postcss/postcss-loader#fix`

[2017-05-08 22:28] skipjack commented on #210
Haven't tested yet but let's close and, if anything, I'll re-open if the postcss-nested fix doesn't work.

[2017-05-08 22:35] jmbelloteau commented on #209
Same error here since I've upgrade:

`Module build failed: Error: No PostCSS Config found in: /websites/webpack`

Basicaly I was doing this:

[code]

If you want to see the complete config I just made a gist:

[webpack config gist](https://gist.github.com/jmbelloteau/576b4106eefeb658ec85618ed8d79b29)

[2017-05-08 22:35] michael-ciniawsky commented on #212
[code]

disable/remove `preLoaders` for now please, no idea how to set that up to 💯

[code]

`loaders` => `rules`

[code]

[code]

the same in `file-loader` etc etc... 😛  Could you please consider reading the [Migration Guide](https://webpack.js.org/guides/migrating/)  at the official docs (webpack.js.org) ?

[2017-05-08 22:35] #212 closed

[2017-05-08 22:38] jmbelloteau commented on #209
I just try with the fix branch, that doesn't fix the bug. Got the same error message:

`Module build failed: Error: No PostCSS Config found`

[2017-05-08 22:43] michael-ciniawsky commented on #209
@jmbelloteau With the fix branch `npm i -D postcss/postcss-loader#fix` && please don't use the `LoaderOptionsPlugin` anymore, it was only meant for webpack 2 beta to support loaders **incompatible** with webpack 2 config syntax, which isn't the case for `postcss-loader > 1.0.0`

[2017-05-08 22:46] jmbelloteau commented on #209
@michael-ciniawsky sure I can make an other trial with your advice. If I don't use `LoaderOptionsPlugin` what is the recommended method to pass autoprefixer option to postcss?

[2017-05-08 22:54] michael-ciniawsky commented on #209
[code]

[2017-05-08 22:56] michael-ciniawsky commented on #209
[code]

[2017-05-08 22:57] michael-ciniawsky commented on #128
Please try the fix branch and provide feedback 😛 npm i -D postcss/postcss-loader#fix

[2017-05-08 22:59] iAdramelk commented on #209
@michael-ciniawsky still failing with #fix.

My file structure:

[code]

postcss.config.js in webpack/application/

[code]

webpack/config/postcss/index.js

[code]

[2017-05-08 23:04] michael-ciniawsky commented on #209
Config lookup starts from 'path.dirname(file)` and then walks the file tree upwards, if the config is in a separate folder, you need to set `options: { config: { path: 'path/to/postcss.config.js' }}` in `webpack.config.js` See the [README](https://github.com/postcss/postcss-loader#config-cascade)

[2017-05-08 23:05] michael-ciniawsky commented on #209
You config setup is **insanely** complex tbh 😛

[2017-05-08 23:07] jmbelloteau commented on #209
@michael-ciniawsky thank you so much It's working 😄

[2017-05-08 23:10] depaolif commented on #212
Thanks for letting me know! I'll take a look and make the necessary adjustments.

[2017-05-08 23:13] iAdramelk commented on #209
@michael-ciniawsky not sure how to change it. Basically I have some css files in: `webpack/admin/**.pcss ` and `webpack/application/**.pcss`.

If I understand readme correctly, files in `webpack/admin/**.pcss` should see and use `webpack/admin/postcss.config.js` and files in `webpack/application/**.pcss` should see and use config from `webpack/application/postcss.config.js`. It worked this way in

[2017-05-08 23:25] michael-ciniawsky commented on #209
@iAdramelk

[code]

Doesn't work ?

[2017-05-08 23:25] someok opened #213 "[2.0.1] cssnano's discardComments not effect for css"
I have 3 webpack module to parse css and sass, every module have a `postcss-loader`, so I use a `postcss.config.js` to parse all css data.

But I found my css file still has comments, so I debug the postcss's process and found cssnano's discardComments plugin not effect at all, `removeAll: true` is null.

I think `postcss-loader` not load `postcss.config.js` success.

<img width="730" alt="2017-05

[2017-05-08 23:25] michael-ciniawsky commented on #209
With `npm i -D postcss/postcss-loader#fix` in case you're currently on `v2.0.1` 😛

[2017-05-08 23:31] michael-ciniawsky commented on #212
Also the `postcss` prop on the the config is obsolete (Validation Error), for `postcss-loader` the webpack 2 syntax is

[code]

Maybe start with a fresh config with minimal setup to avoid countless Validation Errors 😛

[2017-05-08 23:35] iAdramelk commented on #209
In my case structure was:

[code]

And in wasn't working with #fix branch.

[2017-05-08 23:36] michael-ciniawsky commented on #213
Please try the fix branch and provide feedback 😛 npm i -D postcss/postcss-loader#fix

We have a config applying bug in `2.0.1` atm 😟 Hopefully the `fix`branch resolved this

[2017-05-08 23:39] michael-ciniawsky commented on #213
**postcss.comfig.js**
[code]

That's not supported, you need to set this in `webpack.config.js`, but only if you installed the `fix` branch, otherwise by removing this is should work atm from `postcss-loader` perspective

[2017-05-08 23:44] michael-ciniawsky commented on #209
@iAdramelk kk please post the relevant part of your `webpack.config.js`

[2017-05-08 23:49] iAdramelk commented on #209
Here comes another insane config piece :)

[code]

[2017-05-09 00:18] michael-ciniawsky commented on #209
Which webpack version are you on atm?

[2017-05-09 00:24] michael-ciniawsky commented on #209
**postcss.config.js**
[code]

**webpack.config.js**
[code]

[code]

Works on the `fix` branch 😊

[2017-05-09 00:39] someok commented on #213
I install the fix version, but discardComments problem still there

[2017-05-09 01:03] michael-ciniawsky commented on #213
`discardComments` only ? (it gets minified at all 😛 ?)

[2017-05-09 02:00] michael-ciniawsky commented on #207
[Hopefully 😛] fixed by https://github.com/postcss/postcss-loader/commit/e764761
Released in [`v2.0.2`](https://github.com/postcss/postcss-loader/releases/tag/v2.0.2)

Reopen if still regressions

[2017-05-09 02:00] #207 closed

[2017-05-09 02:03] michael-ciniawsky commented on #209
[Hopefully 😛] fixed by https://github.com/postcss/postcss-loader/commit/e764761
Released in [`v2.0.2`](https://github.com/postcss/postcss-loader/releases/tag/v2.0.2)

Reopen if still regressions

@iAdramelk Please share link to a small repo I can debug, out of the gut I guess there is an error somewhere else aswell e.g `postcss-assets` + `webpack` didn't work well for me a while ago 😛

[2017-05-09 02:03] #209 closed

[2017-05-09 02:04] michael-ciniawsky commented on #213
[Hopefully 😛] fixed by https://github.com/postcss/postcss-loader/commit/e764761
Released in [`v2.0.2`](https://github.com/postcss/postcss-loader/releases/tag/v2.0.2)

Awaiting futher reply :D

[2017-05-09 03:21] Meeeeow commented on #207
Said. Still got this error with `v2.0.2`:

Here is my loader configure:
[code]
[code]

[2017-05-09 03:36] michael-ciniawsky commented on #207
@Meeeeow Please try with `{ sourceMap: true }` in `postcss-loader` aswell, `postcss.config.js` still works with `sourceMap` option, otherwise the source map is discarded by `postcss-loader` anyways (without throwing an Error, i will check that again 😛 )

[2017-05-09 03:53] Meeeeow commented on #207
@michael-ciniawsky Thanks, it works.

[2017-05-09 06:24] doberkofler opened #217 "[2.0.2] Don't fail on `sourceMap: false` && previous map (options.sourceMap)"
After upgrading to postcss-loader 2.0.2 I received the following type of error message for almost all files:
[code]

[2017-05-09 06:31] rolele commented on #209
if there is no options passed to the postcss-loader I still get the error with 2.0.2
[code]

adding
[code]
solved the issue with 2.0.2

[2017-05-09 06:49] mythz commented on #209
Same behavior as @rolele, v2.0.2 is still generates this error even when I have:

[code]

This works though:

[code]

[2017-05-09 07:14] someok commented on #213
If postcss-loader is 2 loader after sass, the process is right.

The problem is that it as 1 loader.

Michael Ciniawsky <notifications@github.com>于2017年5月9日周二 10:04写道：

[2017-05-09 07:39] michael-ciniawsky commented on #213
How do your comments look like `//` (SASS) or  `/* */` (CSS) ?

[2017-05-09 07:43] michael-ciniawsky commented on #213
With `v2.0.2` you can now use `{ sourceMap: true }` in `postcss-loader`, `postcss.config.js` still works, the source map from `sass-loader` will be discarded by `postcss-loader` otherwise :)

[code]

[2017-05-09 07:43] Malenconiaprincep opened #218 "[2.0.3] options.plugins `{Function}` don't get applied (`webpack.config.js`)"
webpack.config.js

[code]

my css

App.css

[code]
config.css

[code]

![image](https://cloud.githubusercontent.com/assets/6262739/25840353/1d79378c-34ce-11e7-92be-911f161ee13c.png)

package.json

![image](https://cloud.githubusercontent.com/assets/6262739/25840401/3fbc1f6c-34ce-11e7-8b83-8e2e5f4be200.png)

[2017-05-09 07:47] michael-ciniawsky commented on #217
Did you set { sourceMap: true } in `postcss-loader` when using source maps? It fails because `postcss-loader` doesn't generate a source map by default anymore and dicardes the previous source map, albeit the hard fail is a bug 😛

[2017-05-09 07:53] mdudek commented on #209
I'm also using LoaderOptionsPlugin and it does not work with 2.0.2.

[2017-05-09 07:59] michael-ciniawsky commented on #209
`LoaderOptionsPlugin` is **deprecated/unnecessary**, it was just for the webpack 2 beta phase to support loaders which didn't support the new webpack config format during that time, please **don't** use it anymore 😛

`postcss-loader =< v1.0.0`
[code]

`postcss-loader > v1.0.0` (`2.0.0`)
[code]

[2017-05-09 08:07] mythz commented on #209
What's the best way to maintain config in webpack.config so we can avoid polluting our projects with a more config files?

This works when you only need to define it for one rule:

            {loader: 'postcss-loader', options: { plugins: () => [ require('precss'), require('autoprefixer') ] }},

But it gets unwieldy when you have to apply it on multiple rules, what's the best way to define it onc

[2017-05-09 08:08] michael-ciniawsky commented on #218
[code]

If I remember right we had issues with precss (Plugin Package), maybe try without

[code]

The options are not picked up and then `postcss-loader` tries to look for a `postcss.config.js`

Off topic, but please update webpack-dev-server to `v2.x` it's definitely partially incompatible with webpack >= `v2.0.0` 😛

[2017-05-09 08:15] jerexyz opened #219 "TypeError: Cannot create property 'prev' on boolean 'false'"
use `postcss-loader` with `vue` got this error:
[code]
[demo in here](https://github.com/jerexyz/postcss-vue-demo)

[2017-05-09 08:18] Malenconiaprincep commented on #218
Thanks for your advice
I upgrade webpack-dev-server to v2.4.5  and modify code , but still not work; I think my config loader postcss-loaders has plugins config that why it still tries to look for a ```postcss.config.js```

[2017-05-09 08:24] michael-ciniawsky commented on #209
If you need a dynamic config, 'polluting' your project would be the wisest descision

[code]

**postcss.config.js**
[code]

and so on....

**webpack.config.js**
[code]

That's all steps I resolved via `postcss-load-config` in a nutshell, sry but I won't give any futher support upon this use `postcss.config.js` or find your way 😛

[2017-05-09 08:30] michael-ciniawsky commented on #219
See #217 please I try to fix it soon, I hope you can pass the 'new' { sourceMap: true } to `postcss-loader` options in `vue-loader` otherwise disable source map enterily for now or pin `postcss-loader` down to `v1.x`

[2017-05-09 08:30] #219 closed

[2017-05-09 08:35] michael-ciniawsky commented on #218
Please try `{ plugins: [ require('')(), require('')() ] }` && `{ plugins: () => [...plugins] }` aswell and did you remove `precss` ?

Off topic again, but please also remove `var webpack= require('webpack')` at the top of your `webpack.config.js`, it's unnecessary there :)

[2017-05-09 08:40] michael-ciniawsky commented on #218
And... it shouldn't be needed anymore 'normally', but in webpack `< 2.2.1`, one needed to use an **identifier**, when using so called `Complex Options` (`{Function}`/`require()`), so try this aswell

**webpack.config.js**
[code]

[2017-05-09 09:05] doberkofler commented on #217
@michael-ciniawsky Thank you. It's working now.

[2017-05-09 10:19] moimael opened #221 "[2.0.2] Plugins not applied (`webpack.config.js`)"
Hi,

I just migrated to postcss-loader 2.0.2 and it seems that my plugins are not applied.
My config look like this:
[code]

Anything i'm doing wrong ?

Thanks !

[2017-05-09 10:23] michael-ciniawsky commented on #221
Please try without the `concat` part and try using an **ident**

[code]

[2017-05-09 10:57] Malenconiaprincep commented on #218
[code]
I remove precess , it can works , but I need to use @import colors.css variable , is plugin ```precss``` has problem in postcss-loader?

[2017-05-09 11:07] iAdramelk commented on #209
@michael-ciniawsky here, I created simplified repo without insane configs and inheritance. :) Just `postcss.config.js` with `autoprefixer` in folder and `webpack.config.js` in root directory.

Still failing in `2.0.2`:

https://github.com/iAdramelk/postcss-loader-bug

[2017-05-09 11:12] michael-ciniawsky commented on #218
I did start to debug this and ` { plugins: () => [...plugins] }` 🛑  while `{ plugins: [...plugins] }` ✅ , (it's a bug in webpack), you can try again with `precss`, but for `@import` I recommend using `postcss-import` instead, some of the 'sassy' features of `precss` are better achieved with manually selected plugins aswell (lesser bloat) e.g `postcss-nested` for nesting selectors etc... 😛

[2017-05-09 11:21] Malenconiaprincep commented on #218
Thanks for your advice

[code]

It's strange , I use postcss.config.js instead of webpack's config  , then I use postcss.config.js is work , but webpack's config is not work ~~~

![image](https://cloud.githubusercontent.com/assets/6262739/25848272/300f13f8-34ec-11e7-8eaf-1ed194c4a717.png)

I follow your example ，but not work   😛

[2017-05-09 11:27] kgrigas commented on #209
Removing postcss config from `LoaderOptionsPlugin` fixed the problem for me.

[2017-05-09 11:27] michael-ciniawsky commented on #217
Fixed by https://github.com/postcss/postcss-loader/commit/159b66a
Released in [v2.0.3](https://github.com/postcss/postcss-loader/releases/tag/v2.0.3)

[2017-05-09 11:27] #217 closed

[2017-05-09 11:31] michael-ciniawsky commented on #218
[code]

The `{ plugins: (loader) => [...plugins] }` bugs for an unknown reason atm, use `postcss.config.js` instead or an `{Array}` in `options.plugins` in the meantime

[2017-05-09 11:36] michael-ciniawsky commented on #221
I started to debug this and ` { plugins: () => [...plugins] }` 🛑  while `{ plugins: [...plugins] }` ✅  (it's a bug in webpack)

[code]

[2017-05-09 11:43] moimael commented on #221
That works, thanks a lot for your help :)

[2017-05-09 11:49] michael-ciniawsky commented on #221
I leave #209 open for tracking purposes, but I will need to get a core dev in the webpack slack on the line for this 😛

[2017-05-09 11:49] #221 closed

[2017-05-09 11:55] michael-ciniawsky commented on #209
@iAdramelk Thx I will take a look as soon as possible :)

[2017-05-09 14:53] Malenconiaprincep commented on #218
Thanks , use ``` {Array}``` in ```options.plugins``` is OK,  thanks u  😛

[2017-05-09 15:31] chrisblossom opened #222 "[2.0.5] CSS Modules hash mismatch (React SSR)"
I have a React SSR that uses Webpack on the client and server. After updating to ``postcss-loader v2.0.3``, my generated CSS Module hash's are different on the client and the server.

I am unsure if the issue is related to ``postcss-loader`` directly or if it is a new/updated dependency brought in by ``v2.0.3``.

I can bring up a skeleton repository if that would help to demonstrate the issue I am

[2017-05-09 20:14] klimashkin commented on #192
Seems like just putting `postcss.config.js` into `babel-register` doesn't work because `postcss-load-config` uses [cosmiconfig](https://github.com/davidtheclark/cosmiconfig), which reads file manually and uses [require-from-string](https://github.com/floatdrop/require-from-string).

So you need also to require `postcss.config.js` manually and assign it to loader `options` property.

[2017-05-09 20:16] DBosley opened #224 "[2.0.3] source map urls are a off (`map.sources`)"
Using postcss-loader (only using autoprefixer plugin, no extra configurations) combined with sass-loader, css-loader, and style-loader causes the resource URL for sourcemaps to be strange:

example: http://imgur.com/a/R73hV
scss loader config
[code]

[2017-05-09 20:25] DBosley commented on #224
This issue seems to affect multiple loaders. Posted the same issue on all affected loaders:
https://github.com/webpack-contrib/css-loader/issues/529
https://github.com/webpack-contrib/sass-loader/issues/451
https://github.com/webpack-contrib/style-loader/issues/231
https://github.com/postcss/postcss-loader/issues/224

[2017-05-09 23:11] michael-ciniawsky commented on #222
@chrisblossom Yep please provide a small repo, are you using sourcemaps in `postcss-loader` ?
Note that we are in the transition phase to move CSS Modules from `css-loader` into `postcss-loader` via a compatible PostCSS Plugin in the future

[2017-05-09 23:17] michael-ciniawsky commented on #224
I resolve the source paths for maps https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L151, as according to @ sokra it should be the case, but maybe there is still something wrong. Could you please provide more info the example image is hard to ready (small) && uses `bootstrap-loader` which I have no context about 😛 . You can't currently debug your CSS in DevTools at all ?

[2017-05-09 23:19] michael-ciniawsky commented on #218
I keep this issue open for tracking porposes since a `{Function}` should normally work

[2017-05-10 00:24] DBosley commented on #224
I actually disabled bootstrap loader because I saw it was making the problem even worse.
here's the path I'm getting with the above config:
`C:/Users/Dave/_DEV/ModernEra/bdhp_ui/src/styles/C:\Users\Dave\_DEV\ModernEra\bdhp_ui/src\styles\bootstrap\_bootswatch.scss`

[2017-05-10 00:25] DBosley commented on #224
This is my styles folder
![image](https://cloud.githubusercontent.com/assets/2766936/25878018/dcba4da0-34e4-11e7-95a7-28d685d64e52.png)

styles.scss:
[code]

[2017-05-10 00:27] michael-ciniawsky commented on #224
Coud you please provide your `webpack.config.js` aswell 😛  and maybe `tree myProject` on the CLI

[2017-05-10 00:29] michael-ciniawsky commented on #224
I wonder why the are concatenated 😟 regradless if relative or absolute

[2017-05-10 00:32] DBosley commented on #224
My project is based off this starter project:
https://github.com/AngularClass/angular2-webpack-starter

my configs:
webpack.common.js:
[code]

webpack.dev.js:
[code]

[2017-05-10 00:34] DBosley commented on #224
project tree
[code]

[2017-05-10 01:04] someok commented on #213
Two comment style `/**/` and `//` are all used.

[2017-05-10 02:04] michael-ciniawsky commented on #213
They are still not getting dicarded with latest `postcss-loader`(`v2.0.3`) ?  `//` is SASS Comment Style but the should get transpiled to `/* */` by `sass-loader` && it doesn't work for both `{test: /\.css$/}` (CSS Files) && `{ test: /\.scss$/ }` (SASS Files) ?

[2017-05-10 06:24] AndreKR commented on #92
I also find that I have to give `ident: 'something'` to make `@import` work:

[code]

with *test.css:*
[code]

leads to:

With `ident: 'remove-this-and-it-fails'` uncommented it works.

Here's a complete example:
https://github.com/AndreKR/issue-webpack-postcss-ident

[2017-05-10 07:11] Kovensky opened #226 "[2.0.3] `postcss.config.js` not resolved correctly unless `options.config` is set"
In https://github.com/postcss/postcss-loader/blob/39638602/lib/index.js#L63, `rc.path` is only set if `options.config` is given by the user, instead of defaulting to `path.dirname(file)` as it seems was the original intent.

This means `postcss-loader` by default can only find a `postcss.config.js` relative to `process.cwd()` instead of one relative to the currently processed file; unless (at leas

[2017-05-10 07:40] michael-ciniawsky commented on #226
Sloppy.. 😛 I fix asap

[2017-05-10 09:17] michael-ciniawsky commented on #226
Released in https://github.com/postcss/postcss-loader/releases/tag/v2.0.4

[2017-05-10 09:17] #226 closed

[2017-05-10 09:19] moimael commented on #218
Using an array lead to weird output in webpack compilation:
[code]

[2017-05-10 09:21] michael-ciniawsky commented on #209
@iAdramelk Fixed && Released in [v2.0.4](https://github.com/postcss/postcss-loader/releases/tag/v2.0.4)

I was sloppy... 😛

[2017-05-10 09:23] evilebottnawi commented on #218
@moimael In the near future (today) I will tackle this problem :+1:

[2017-05-10 09:29] JPortegijs commented on #209
Is postcss.config.js actually required, can't I just specify the options directly in my webpack.config?

[2017-05-10 09:31] michael-ciniawsky commented on #218
@moimael But the CSS is getting minified? Locally for me that's the case, but there is bug somewhere in webpack (where the so called 'Complex Options' get applied (`{Function}/require()`))
Super annonying stuff, it's the third time this happens 👎

[2017-05-10 09:33] moimael commented on #218
Yes minification seems to work. The output is just a bit weird.

[2017-05-10 09:34] michael-ciniawsky commented on #209
@JPortegijs Both are supported && loading hierarchy is`webpack.config.js` > `postcss.config.js`

[2017-05-10 09:48] iAdramelk commented on #209
@michael-ciniawsky yep, no more error! Thank you very much.

[2017-05-10 10:05] JPortegijs commented on #209
Everything good here, too! Thanks!

[2017-05-10 11:48] evilebottnawi commented on #224
@DBosley please don't put all code here, create gist or test repo. This prevents reading information about the problem. Thanks!

@michael-ciniawsky seems bugs only for `windows` users and related to `sass-loader`.

[2017-05-10 12:11] michael-ciniawsky commented on #224
@evilebottnawi I requested all the fuss, but discussion about it kicked-off in the PostCSS Gitter Channel then, we need to test with a simpler setup (no angular-starter-seed) 😛

[2017-05-10 12:17] michael-ciniawsky opened #227 "[Feature] add CSS Modules (`postcss-modules`) support"
https://medium.com/@sokra/79583bd107d7
https://github.com/css-modules/css-modules/issues/240
https://github.com/css-modules/css-modules/issues/241

[2017-05-10 12:19] michael-ciniawsky opened #228 "[2.1.0] Add `url()` handling (`postcss-icss-url`)"
### `postcss-icss-url`

https://github.com/TrySound/postcss-icss-url

### `postcss-loader`

[code]

[2017-05-10 12:37] michael-ciniawsky commented on #218
Fixed && Released in [v2.0.5](https://github.com/postcss/postcss-loader/releases/tag/v2.0.5)

[2017-05-10 12:37] #218 closed

[2017-05-10 14:20] evilebottnawi commented on #213
@someok @michael-ciniawsky  Thanks for issue, but seems not related to `postcss-loader`, original issue https://github.com/ben-eb/cssnano/issues/90.

[2017-05-10 14:47] michael-ciniawsky commented on #213
Yep, I was guessing that too @someok quoted from the issue

Sry but won't fix in `postcss-loader`

[2017-05-10 14:47] #213 closed

[2017-05-10 20:33] pgmanutd commented on #224
@evilebottnawi Yes I am facing the same issue on windows machine (weird path : ```C:/Projects/test/node_modules/bootstrap/dist/css/C:\scss\utilities\_flex.scss```), but it is not related to sass-loader (I am not using sass-loader).

Here are my css loaders:

[code]

It was working fine ***@1.3.3***, but not ***@2.x.x***

[2017-05-10 22:19] obartra opened #231 "Unhandled promise rejection"
When migrating from `1.3.3` to `2.0.0` I get the following error (Node 7.9.0):

[code]
Which is a particularly useless message from Node. If I run instead: `node --trace-warnings node_modules/.bin/webpack --config webpack.config.js` I get:

[code]

This persists on the latest version (`2.0.5`) of postcss-loader.

[2017-05-11 02:03] michael-ciniawsky commented on #231
`postcss-loader` uses PostCSS v6 and this is an PostCSS API error from one of your plugins (`postcss-partial-import`)

Open an issue at `postcss-partial-import` please 😛

[2017-05-11 02:03] #231 closed

[2017-05-11 02:20] michael-ciniawsky commented on #224
https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L149 is the relevant part that changed between `v1.0.0` => `v2.0.0`

[code]

I'm not on windows, but thought `path.resolve()` is handling the `posix/win32` `path.sep` by default , so my apologise if that isn't the case 😛

[2017-05-11 02:26] obartra commented on #231
Sure thing I filed it https://github.com/jonathantneal/postcss-partial-import/issues/40. The issue remains though with postcss-loader being compatible with it on version 1.3.3 and not on 2.0.0 onwards

[2017-05-11 02:29] michael-ciniawsky commented on #231
Yep, but I can't do anything in `postcss-loader` scope to address this :D, the author is aware of it already via PostCSS Gitter it's breaing is gulp setup aswell...

[2017-05-11 02:29] obartra commented on #231
Ah got it, thanks for checking!

[2017-05-11 13:41] skipjack commented on #210
I tried that fix (upgraded both this loader as well as postcss-nested) and I'm still seeing the issue unfortunately. Digging around a bit to see if someone has opened a ticket for this in one one of the other plugins I'm using but it doesn't look like it.

Yeah, however we are using the `&__element` and `&--modifier` rules to follow BEM which require also adding `postcss-nested`. I did try messing

[2017-05-11 13:45] skipjack commented on #210
Also tried blowing away all `node_modules` and re-installing from scratch with no luck. I'll keep testing and see if I can nail it down to one thing.

[2017-05-11 13:53] evilebottnawi commented on #210
@skipjack try to `npm cache clear` and remove node_modules and again `npm i`

[2017-05-11 13:55] skipjack commented on #210
Ok I'm pretty sure it is this package that's causing the issue. It happens when I upgrade just loader.

[2017-05-11 14:00] evilebottnawi commented on #210
@skipjack can your create minimal test repo? Seems it is related to `postcss` plugin. I don't see any logic in `loader` related to this problem.

[2017-05-11 14:01] skipjack commented on #210
Yeah I can do that.

[2017-05-11 14:32] clydin commented on #228
With `dependency` message support inlining, I believe, is handled quite nicely.
For copying to the output, however, this is really only half the puzzle.  To fully support webpack plugins that modify/optimize assets as well as virtual filesystems support (for webpack-dev-server, etc.), additional support is required by both `postcss-loader` and `postcss-url` to provide a mechanism to inject the ass

[2017-05-11 14:45] skipjack commented on #210
As promised: [postcss-issue-demo](https://github.com/skipjack/postcss-loader-issue)

[2017-05-11 14:46] skipjack commented on #210
I'm happy to close this issue and move it elsewhere once we determine the root cause of the problem.

[2017-05-11 16:59] th3fallen commented on #209
still getting the mentioned error on postcss-loader@2.0.5 using

[code]

[2017-05-11 20:54] michael-ciniawsky commented on #209
I need to add this to the README... :stuck_out_tongue:

@th3fallen `LoaderOptionsPlugin` doesn't work with `postcss-loader >= v2.0.0` anymore since it's deprecated to use for loader options, when the loader supports webpack 2 config syntax

**webpack.config.js
[code]

[2017-05-11 20:56] michael-ciniawsky commented on #209
[code]

[2017-05-11 21:00] michael-ciniawsky commented on #228
@clydin Something in that direction yes, but if possible we should try to avoid adding build tool specifics to postcss plugins (`postcss-url`), but a generic `replace, inject` option (unrelated, but compatible with webpack (`postcss-loader`)) would be ok I guess 😛. Also help wanted on this🥇

[2017-05-11 21:19] michael-ciniawsky commented on #210
@skipjack

### PostCSS Issue Demo

**package.json** (The most likely case)
[code]

The most likely case ☝️  😛  since `postcss-nested =< v1.0.0` is incompatible with `postcss-loader >= v2.0.0` bc of a PostCSS 6 . I can confirm this, it broke my stuff aswell 🙃

**.postcssrc.js**
[code]

You need to test that, if it worked before all good ¯\_(ツ)_/¯, but it could be related to `postcss-nesting` aswell

[2017-05-11 21:29] michael-ciniawsky commented on #224
https://github.com/webpack-contrib/css-loader/pull/532

[2017-05-11 21:29] #224 closed

[2017-05-11 23:03] th3fallen commented on #209
@michael-ciniawsky thanks for the input but how would i manage that in this syntax?
[code]

[2017-05-11 23:15] michael-ciniawsky commented on #209
@th3fallen

**webpack.config.js
[code]

[2017-05-12 02:14] carlitux opened #232 "[2.0.5] `css-loader: modules` not working as needed after upgrade"
css modules inside node_modules are working but css modules on my source are not added but loaded.

css is missed

[code]

[2017-05-12 02:19] michael-ciniawsky commented on #232
Maybe because you are setting `context` in `LoaderOptionsPlugin` (not supportd by `postcss-loader >= v2.0.0`) anymore.

[2017-05-12 02:21] michael-ciniawsky commented on #232
Which CSS is missing `@import` ?
CSS Modules from `src` or `node_modules`, please elaborate further on this 😛

[2017-05-12 02:23] michael-ciniawsky commented on #232
Maybe releated to #222 (needs more info)

[2017-05-12 13:40] carlitux commented on #232
css modules from src are not in css bundle.

I was thinking same but how could I do same without context option?

[2017-05-12 14:02] michael-ciniawsky commented on #232
[code]
What it's purpose atm? I couldn't really eason about, where it actually gets used? :)
When you disable `postcss-loader` CSS Modules work ? This is odd because they get generated by `css-loader`which runs **after** `postcss-loader`, could you post 1-1 components which import CSS ?

[2017-05-12 16:03] skipjack commented on #210
@michael-ciniawsky

Unfortunately that doesn't fix it, I had tried that locally as well. See [this commit](https://github.com/skipjack/postcss-loader-issue/commit/61f942ee0a7da2cf9a088c019967fe0574f2ec66) I just pushed in the demo repo.

[2017-05-12 16:19] ai commented on #210
Nope. I will look in next few hours.

[2017-05-12 16:33] michael-ciniawsky commented on #210
![loaderissue](https://cloud.githubusercontent.com/assets/5419992/26007563/54794946-3741-11e7-8d14-f525f531f210.png)

Its cssnext @see https://github.com/MoOx/postcss-cssnext/issues/374

[2017-05-12 16:34] #210 closed

[2017-05-12 16:36] skipjack commented on #210
Awesome, thanks for all of your help! Sorry I didn't pick up on this earlier.

[2017-05-12 16:40] michael-ciniawsky commented on #210
It worked with `cssnext` in this small example as you can see in the screenshot, but it doesn't really use any other `cssnext` features besides nesting so be really ⚠️ using it :D

[2017-05-12 16:42] skipjack commented on #210
Yeah, I subscribed to that cssnext issue and will wait to upgrade everything until that's complete.

[2017-05-12 21:30] gregorskii commented on #207
FYI I think this error occurs if the loader is set to pass sourceMaps:

[code]

And the postcss.config.js also includes the map property:

[code]

[2017-05-13 00:51] clydin commented on #228
Another option that keeps everything incredibly generic would be to create a helper function `addAsset` on the `postcss-loader` instance.  Then provide documentation with a sample custom `postcss-url` action function that leverages `addDependency`, `addAsset`, and adjusts the URL.
The large downside is the complexity of the function that everyone would have to reuse.  The URL would potentially nee

[2017-05-13 15:23] michael-ciniawsky commented on #207
But `map` inside `postcss.config.js` isn't supported atm :), this is debateable, but I left it on purpose, because it doesn't fit into the way one enables sourcemaps 'normally'  with webpack (consistency).
Please use `{ sourceMap: true }` in `webpack.config.js`

[2017-05-15 15:44] th3fallen commented on #209
thanks @michael-ciniawsky that works for my dev env. but in my productions build that's formatted like this...

[code]
im getting...

[code]
any ideas?

[2017-05-15 15:56] evilebottnawi commented on #209
@th3fallen `{"plugins":[null]}` in error line, seems `require('autoprefixer')({ browsers: ['last 2 versions'] })` return `null`

[2017-05-15 15:58] th3fallen commented on #209
so why would that exact same config work for my dev enviroment?

[2017-05-15 16:59] th3fallen commented on #209
apparently adding `ident: 'postcss',` fixed it....

[2017-05-15 18:09] michael-ciniawsky commented on #209
@th3fallen latest `postcss-loader` ? (`v2.0.5`)

and please remove `style-loader` from `ExtractTextPlugin.extract().use` you it should only get triggered via `fallback`

[code]

[2017-05-15 18:24] th3fallen commented on #209
@michael-ciniawsky yep, what you suggested works, not sure why not it does...

[2017-05-15 18:32] michael-ciniawsky commented on #209
`style-loader` 'pitches'  code for `<style></style>` into your files, loading this madness can break `ETWP` and then the automatically generated `ident` might be missing, bc of a former error and your plugins don't get stringified etc etc... 😛 It works now and you get a separate 'autoprefixed' CSS file ?

[2017-05-15 18:33] th3fallen commented on #209
no, i get 1 css file but that's what's expected from my build

[2017-05-16 15:35] olegstepura commented on #232
Hi!

I did not investigate too deep, but after upgrade from 1.x to 2.0.5 version animations are broken in a project with `react-toolbox` (2.0 beta).

I can confirm that it's exactly the upgrade of `postcss-loader` breaks it. In my case it's an upgrade from `1.3.3` to `2.0.5`.

But seems like there are some improvements as well, since build is now way smaller (1.1 Mb with `2.0.5` vs
 1.5 Mb with `1

[2017-05-16 16:26] evilebottnawi commented on #232
@olegstepura can your provide minimal reproducible test repo?

[2017-05-16 17:14] heisian commented on #209
Kept getting
[code]

until I added:
[code]

[2017-05-16 17:34] rfgamaral opened #235 "What's the correct way to configure plugins within Webpack 2?"
I've always had this loader configuration in my Webpack 2 configuration:

[code]

But I look at the README and I see this:

[code]

And I'm confused about the correct way to require plugins. I've tested both these approaches:

1. `require('postcss-cssnext')`
2. ` require('postcss-cssnext')()`

Both work, but what is the correct way and what are the differences?

Also, I never defined the `root` pr

[2017-05-16 18:28] evilebottnawi commented on #235
@rfgamaral both valid, if your want to pass options to plugin use `require('postcss-cssnext')({...options})` (see in docs `pluginFunction`), if not - use just `require('postcss-cssnext')` (see i docs `Plugin`). It is related to `postcss` (http://api.postcss.org/Processor.html#use)

[2017-05-16 18:47] evilebottnawi commented on #235
More simple with examples:

Using `postcss.plugin("postcss-plugin", (options) => {});` your got `Plugin` (http://api.postcss.org/postcss.html#.plugin)

Using `postcss.plugin("postcss-plugin", (options) => {})();` your got `pluginFunction` (http://api.postcss.org/global.html#pluginFunction)

[2017-05-16 18:48] evilebottnawi commented on #235
@rfgamaral ping me if need more help

[2017-05-16 19:24] rfgamaral commented on #235
No need. I get it now. Thanks very much.

[2017-05-16 19:24] #235 closed

[2017-05-16 21:20] michael-ciniawsky commented on #209
@heisian That's the intended behaviour, either the setup (plugins && options) is specified in `webpack.config.js` or otherwise look for `postcss.config.js` and finally throw none are present, because without any setup, you parse the CSS to an AST for no reason and don't need `postcss-loader` (perf regression)

[2017-05-16 21:27] michael-ciniawsky commented on #232
@olegstepura I need your more info on how you utilise the lib (source files, `webpack.config.js`, [`postcss.config.js`]), normally `postcss-loader` doesn't alter anything 'unexpected' without the plugins you use :). The biggest improvement was to not generate a sourcemap by default anymore and cleanup some old API's (webpack && PostCSS). `v2.0.0` uses PostCSS v6 (breaking change), so please check

[2017-05-17 07:34] olegstepura commented on #232
Hi, @michael-ciniawsky!

Thanks for your response. Here are my config files: [gist](https://gist.github.com/olegstepura/34eb40c47b41165fbe072f53bea6a9cc)

In `build.js` I've placed some code in which you can see that sources are still included (I would like to remove it, but `sourceMap: true` in `postcss.config.js` does not seem to help).

@evilebottnawi I will try to prepare test repo.

[2017-05-17 08:21] fengyuanchen opened #236 "CSS nesting parse error after upgrade from v1.3.3 to v2.0.5"
Input:
[code]

Expected output:
[code]

Actual output:
[code]

[2017-05-17 08:40] michael-ciniawsky commented on #236
`postcss-nested` (if update to  `v2.0.0`) / `cssnext` @seehttps://github.com/MoOx/postcss-cssnext/issues/374 `postcss-loader` uses PostCSS 6 and a few plugins haven't been updated yet.

[2017-05-17 08:40] #236 closed

[2017-05-17 10:21] olegstepura commented on #232
[Here is my test repo with react-toolbox: olegstepura/postcss-loader-test](https://github.com/olegstepura/postcss-loader-test)

The only change between two versions below is an edit in `package.json`:
[code]
### With version `1.3.3`:
<details>
  <summary>Big screen, everything is stacked good (click to see screenshot)</summary>

   ![2017-05-17 11_52_15-test](https://cloud.githubusercontent.com/as

[2017-05-17 10:32] olegstepura commented on #232
Also I would love to hear any suggestion on how to remove source maps from `build.js` in my test repo.
`npm run build` produces `src/main/webapp/asset/test.js`
inside of that there is such content (I inserted some newlines to make it more visually readable)
[code]

this clearly states that there are source maps inside, which just make build heavier. I'm not even sure if this can somehow help debug

[2017-05-17 10:42] evilebottnawi commented on #232
@olegstepura without minimal repo we can't do anything, seems your use `postcss` plugins based on `postcss` v5, new loader working on `v6`, also seems `sorceMap: false` don't using in loader options.

[2017-05-17 10:43] evilebottnawi commented on #232
@olegstepura oh, sorry don't saw your test repo :smile: let's see what is wrong

[2017-05-17 17:34] chrisblossom commented on #222
During the process of gutting my app to give an example repository, I found the following in my server webpack config:

[code]

After removing that, everything works as expected. Thanks for the quick reply!

[2017-05-17 17:34] #222 closed

[2017-05-17 17:48] evilebottnawi commented on #232
@olegstepura
1. Some plugins don't compatibility with `postcss-loader` v2 (new loader use `postcss` `v6`)
- postcss-each
- postcss-cssnext
The problems in markup (space) are related to this. Don't use this loader with plugins used `postcss` `v5`, need update all postcss plugin to `v6`
2. Source map
[code]
Please, use the search before writing about the problem. Thanks!

[2017-05-17 19:46] michael-ciniawsky commented on #232
@carlitux See https://github.com/postcss/postcss-loader/issues/222#issuecomment-302167872 and feel free to reopen if still regressions

@olegstepura See @evilebottnawi comments, the only `postcss-loader` related issue is that `{ sourceMap: true || 'inline' }` needs to be in `webpack.config,js`, bc `postcss.config.js` 'only' supports 'pure' PostCSS (Plugins && Options) Config, since it's used as a

[2017-05-17 19:46] #232 closed

[2017-05-17 22:38] yarnball commented on #204
Hi, I'm having the same issue. I am trying to use `react-toolbox` but keep getting this error (No PostCSS config found). It does so in 2 locations.

Any ideas on a fix?

Here is my config file:

[code]

[2017-05-18 00:05] michael-ciniawsky commented on #204
@yarnball webpack `v1 || v2` ? `postcss-loader` v?

[code]

Do you use have a `postcss.config.js` in place ?

[2017-05-18 01:11] yarnball commented on #204
I'm on webpack v1. I don't have a post.css.config in place anywhere- as the react toobox did not say it was needed.

[2017-05-18 01:22] michael-ciniawsky commented on #204
How do you intend to use `postcss-loader` ? :)  Your current `webpack.config.js` does nothing...

[2017-05-18 01:29] yarnball commented on #204
I did intend to use it yes- where have i gone wrong with it?

[2017-05-18 02:45] michael-ciniawsky commented on #204
You need to either us a `postcss.config.js` file or  add a `config.postcss` prop to your `webpack.config.js`

**webpack.config.js**
[code]

[2017-05-18 06:29] felixsanz commented on #227
@michael-ciniawsky Looks like with 2.x my CSS modules are now broken. Is this related?

Is there a workaround? Thanks!

[2017-05-18 06:31] heisian commented on #209
that config was in my `webpack.config.js` - not in to having a `postcss.config.js` file in 20+ folders, so `webpack.config.js` is preferred..

what is an AST? I apologize but this is about my 6th day of using Webpack in this manner.

Random tweaking has gotten me successful configs for both dev and production, however I could very well stand to learn more about what's actually going on here.

So..

[2017-05-18 07:07] michael-ciniawsky commented on #227
@felixsanz Are you using `LoaderOptionsPlugin` in your `webpack.config.js`? Normally it shouldn't  affect the CSS Modules implementation of `css-loader`, but this was claimed a few times now. #232 #222

[2017-05-18 07:16] michael-ciniawsky commented on #209
You need **one**  `postcss.config.js` in the root (`./`), but it's enterily personal choice where to specified options :). More `postcss.configs.js` is only needed if you need different transforms (plugins) for certain files (Config Cascade)

[code]

AST => [Abstract Syntax Tree](https://en.wikipedia.org/wiki/Abstract_syntax_tree)

**File (Source)**
[code]

**Interface (Syntax)**
[code]

**AST (Po

[2017-05-18 07:29] olegstepura commented on #232
@evilebottnawi, @michael-ciniawsky  thanks. I used search, that was how I found this issue not opened by me.

So the animation problems also are related to this, right?
Best solution? Wait while all the plugins will support PostCSS v6?

[2017-05-18 09:05] moimael opened #238 "Weird postcss-loader output"
Hi,

Using postcss-loader 2.0.5, I'm seeing weird output during webpack compilation:
[code]

My config:
[code]

Thanks !

[2017-05-18 09:41] olegstepura commented on #232
About sourceMaps:
So I made this change: [changeset](https://github.com/olegstepura/postcss-loader-test/commit/69d2d4df17ef8c6b8a40f46879b52ef31fb2a5a3) (added `sourceMap: false` to `webpack.config.js`)
If I run `npm run build` final built file is 1.6Mb
If I remove this back to just string with the loader name, and run `npm run build` again final built file is 0.8Mb
It becomes even heavier with th

[2017-05-18 09:52] evilebottnawi commented on #238
@moimael your use `postcss-cssnext`m which now have incompatible
 with new version of loader (we use `postcss` `v6`, `postcss-cssnext` use `postcss` `v5`). Your can help `postcss-cssnext` to upgrade to `postcss` `v6` https://github.com/MoOx/postcss-cssnext/issues/374.

[2017-05-18 09:59] evilebottnawi commented on #209
@michael-ciniawsky can we close conversation here? If someone want to write about bug or other stuff, let create new issue.

[2017-05-18 11:17] michael-ciniawsky commented on #209
Yep, you can lock the thread anytime if you want 😛

[2017-05-18 11:20] evilebottnawi commented on #209
If someone has problems, please create a new issue. Thanks!

[2017-05-18 11:28] michael-ciniawsky commented on #232
[code]

[Output](https://webpack.js.org/concepts/output/#output-sourcemapfilename)

[2017-05-18 13:19] olegstepura commented on #232
@michael-ciniawsky This is exactly (except of `sourceMapFilename` which is generated by default with this naming pattern) what I got in my test repo. Build file contains CSS sources, CSS sources are not in `.map` file

[2017-05-18 14:13] TrySound commented on #227
Shouldn't `postcss-modules` use messages for output instead of callback for this feature?
Btw, this works great in [modular-css](https://github.com/tivac/modular-css/tree/master/packages/core)

[2017-05-18 17:14] felixsanz commented on #227
@michael-ciniawsky I'm using css-loader's `modules: true` option. I'm not using `LoaderOptionsPlugin` anywhere.

[2017-05-18 17:26] felixsanz commented on #227
If if helps, here is my webpack config:

[code]

[2017-05-18 17:45] felixsanz commented on #232
My CSS Modules also stopped working with css-loader 2.x. Heres my webpack config:

[code]

Any idea why this happens?

[2017-05-18 17:47] evilebottnawi commented on #232
@felixsanz Why do you duplicate it? It is create noise, just wait for someone to get free, also you can try to find the problem yourself and describe where it was found it will speed up the solution

[2017-05-18 17:49] felixsanz commented on #232
@evilebottnawi I'm not duplicating anything, i just moved my conversation here to avoid polluting the other issue :/

[2017-05-18 17:49] evilebottnawi commented on #232
@felixsanz It would also be nice to see minimal test reproducible repo, it is difficult say that it is wrong not just the configuration

[2017-05-18 17:52] evilebottnawi commented on #232
@felixsanz just create your issue with minimal repo and what your expected and actually output. Please don't write your problems in closed issue

[2017-05-18 18:01] felixsanz commented on #232
@evilebottnawi  I tried to create one reproducible test case but i don't even know what i'm supposed to reproduce. I don't understand whats going on, i just see that many rules just dissappeared while others are just there

[2017-05-18 18:11] evilebottnawi commented on #232
@felixsanz yep create new issue and try to show what is wrong (screenshots, console, example of code and etc.). Don't write here otherwise the problem may not be noticed.

[2017-05-19 01:31] michael-ciniawsky commented on #232
@felixsanz The only obvious thing I can see is (but likely unrelated)

[code]

What how does your current `postcss.config.js` look like ? Maybe try without `importLoaders` and `@import`, otherwise the CSS Modules implementation is independent from `postcss-loader` it must be a bug somewhere else, which surfaces via `modules`

[2017-05-19 01:34] michael-ciniawsky commented on #232
Your plugin versions `package.json` aswell please. `postcss-loader  >= v2.0.0` uses PostCSS v6 (breaking change) not all plugins support it yet, e.g if you use `cssnext` and it's nesting plugin, your rules are off, could be missing etc. atm

[2017-05-19 01:36] felixsanz commented on #232
@michael-ciniawsky It was working fine with 1.3.3. So the bug was introduced with postcss-loader 2.x, directly or indirectly.

My `.postcssrc` is this:

[code]

[2017-05-19 02:00] michael-ciniawsky commented on #238
@moimael See @evilebottnawi's comment, please check the versions of your plugins for PostCSS v6 compatibility

[2017-05-19 02:00] #238 closed

[2017-05-19 02:02] michael-ciniawsky commented on #232
The version of `postcss-import` is `>= 10.0.0` ?

[2017-05-19 02:03] michael-ciniawsky commented on #232
Please also provide an input -> output example

[2017-05-19 02:23] felixsanz commented on #232
I'll try create a testcase, but I spent an hour before with no success. I'll try again tomorrow.

[2017-05-19 09:15] olegstepura commented on #232
@evilebottnawi, @michael-ciniawsky please let me know if you will answer anything to my sourcemap issue. If I should create a new separate issue, I will. If you think this is not anyhow related to `postcss-loader`, please tell me as well (but please let me know where should I create such an issue). Thanks!

[2017-05-19 10:08] evilebottnawi commented on #232
@olegstepura yep, create new issue with repo and description problem, otherwise we can lose it here. Thanks!

[2017-05-19 10:12] olegstepura opened #239 "SourceMaps: CSS sources inside build file"
Hi!

Test repo: [olegstepura/postcss-loader-test](https://github.com/olegstepura/postcss-loader-test)

I made this change: [changeset](https://github.com/olegstepura/postcss-loader-test/commit/69d2d4df17ef8c6b8a40f46879b52ef31fb2a5a3) (added `sourceMap: false` to `webpack.config.js`)
If I run `npm run build` final built file is 1.6Mb
If I remove this back to just string with the loader name, and r

[2017-05-19 20:30] michael-ciniawsky commented on #239
So it works,  if you don't use `{ loader: 'postcss-loader', options: { sourceMap: false } }` but just `'postcss-loader'` in `webpack.config.js` ? (Just omit the `{ sourceMap: false }`) (It's the default)

These are CSS Variables (CSS Custom Properties) not related to source maps in any way. It's normal to have them  in the source :). Do you in general mean the CSS in your webpack bundle, when you

[2017-05-20 16:19] bfday opened #240 "Webpack 2: postcss-loader doesn't work in conjunction with less-loader"
Maybe i am doing somthing wrong (it is strongly possible).
I have read every possible source of information and didn't find answer. (i think it is before my nose but i can't see it)
I would to process my .less files using less-loader and then by postcss-loader to add vendor prefixes.

but when i add postcss-loader into config like this

[code]
it starts to porduce errors
[https://cloud.mail.ru/pub

[2017-05-20 18:03] bfday commented on #240
package.json

[code]

[2017-05-20 20:55] YousefMMS commented on #42
I just used it like so `loader: 'style-loader!css-loader!postcss-loader!sass-loader'` and it works with me, is this may generate any other issue?

[2017-05-20 22:07] michael-ciniawsky commented on #240
` parser: 'sugarss'` , if you have `.css` files using SugarSS syntax but your `.less` files get compiled to **standard** CSS (with curley brackets), you need a dynamic config to handle that.

[code]

⚠️  This requires `postcss-loader >= v2.0.0`, otherwise the syntax is

[code]

[2017-05-20 22:07] #240 closed

[2017-05-20 22:08] michael-ciniawsky commented on #240
`css-raw-loader` can be replaced by `postcss-loader >= v2.0.0` aswell, since it will export a 'raw' JS Module, if it is the last loader in the chain

[2017-05-20 22:10] michael-ciniawsky commented on #240
The `loader!loader!loader!` is deprecated, please use webpack 2 config syntax

[2017-05-20 22:10] michael-ciniawsky commented on #239
Did you solve it or still regressions ? :)

[2017-05-21 23:53] michael-ciniawsky commented on #239
Feel free to reopen anytime, but closing for now

[2017-05-21 23:53] #239 closed

[2017-05-22 04:04] theasia-Ashish commented on #222
@chrisblossom  your comment save my life, after struggling this checksum warning nearly a month.

[2017-05-22 08:19] phyllisstein opened #241 "Disabling source map warnings?"
Hey there! I hate to be a nudzh about a package that's so invaluable, but the warnings about source maps introduced in recent versions are a little overwhelming:

<img width="489" alt="screen shot" src="https://cloud.githubusercontent.com/assets/2207980/26298457/5da21b7c-3ea5-11e7-810e-cbba4caffa5e.png">

I deliberately let source maps get dropped on the floor because they break hot reloading for

[2017-05-22 08:45] michael-ciniawsky commented on #241
@phyllisstein Just remove `{ sourceMap: true }` from all preceding loaders and the warning should be gone (e.g `sass-loader`), there is sadly no way to display warnings like that only once and therefore won't fix from an implementation point of view sry

[2017-05-22 08:45] #241 closed

[2017-05-22 09:32] olegstepura commented on #239
Hi!

1. What cannot be achieved:
sources should be in `.map` file, not in build file itself (if I turn `sourceMap: true`, sources are inside of build file, but my opninion is that it should not be there).

2. What I'm not sure about:
there are sources with `var(---some-var)` syntax, which should be eleminated after running `postcss` with `cssnext`. Build file should contain only final css, which b

[2017-05-22 09:37] phyllisstein commented on #241
Understood! Thanks for the quick response. Looks like `resolve-url-loader` was doing something funky and always emitting source maps, which was the _actual_ proximate cause of the frustration. Sorry for the bother. 😬

[2017-05-22 10:10] michael-ciniawsky commented on #241
`resolve-url-loader` requires `sourceMap`  to work correctly, but that's another issue 😄 :stuck_out_tongue:

[2017-05-22 10:35] michael-ciniawsky commented on #239
1. Is actually an issue with `webpack`/`webpack.config.js`. `postcss-loader`has no influence upon that, `output.sourceMapFilename` + `devtool: 'source-map'` should do the trick normally

2.

[code]

This is off, you need to actually provide a value :). Current is e.g 'var(--palette-indigo-500)' no wonder it is still 'there'

[code]

or

**postcss.config.js**
[code]

[code]

[postcss-custom-propert

[2017-05-22 11:25] olegstepura commented on #239
Hi!

@michael-ciniawsky Thanks for your time!

1. There is this: [`sourceMapFilename: '[name].js.map',`](https://github.com/olegstepura/postcss-loader-test/blob/master/webpack.config.js#L31) and this: [`devtool: 'source-map',`](https://github.com/olegstepura/postcss-loader-test/blob/master/webpack.config.js#L42) and  build file contains sources. Sorry, I'm not expert here, but this is an issue. Wh

[2017-05-22 12:04] michael-ciniawsky commented on #239
1. webpack/webpack

2. All off the following will have no effect and can be safely removed, only `{ sourceMap: true || 'inline' }` in `webpack.config.js` will change the behaviour regarding source maps.

[code]

[2017-05-23 08:59] Bnaya commented on #204
Hey, i'n having the same issue
My relevant webpack2 config is:
[code]

It was working until the last update

Thanks!

[2017-05-24 09:28] duleigiser commented on #217
I  use **ExtractTextPlugin** to put all kinds of style files into one files.

[code]

[2017-05-25 05:47] yiwan opened #242 "v2.0.5 with postcss-attribute-case-insensitive"
The log says
`Your current PostCSS version is 6.0.1, but postcss-attribute-case-insensitive uses 5.2.17. Perhaps this is the source of the error below.`

`"postcss-loader": "2.0.5"`

Then I fallback to v2.0.4, everything is fine.

[2017-05-25 06:34] michael-ciniawsky commented on #242
That's a warning from the Plugin API && PostCSS Core since `v6` had a few breaking changes , mostly removal of old `v4` API's and `node.raws` fix, if it still works ignore this warning. Otherwise you will need to open an issue @postcss-atrribute-case-insensitive instead asking to bump PostCSS to v6, `postcss-loader >=v2.0.0` uses PostCSS `v6` I can't do anything from the loader sinde here 😟

[2017-05-25 06:34] #242 closed

[2017-05-25 08:21] martinyeh opened #243 "Nested Syntax CSS cannot be recognized"
I already added in my webpack.config.js
[code]
Here is part of my css file:
[code]
and part of my html file:
[code]
I found that the css style didn't apply to app-title. Why is that ?

[2017-05-25 08:28] michael-ciniawsky commented on #243
From the fomer issue like a commented in a example you basically use 2 nesting plugins atm, but that shouldn't be the main issue here 😛

[code]

[code]

Remove the `app` prefixes from the nested selectors, that's what nesting is actually for  😛 :D

[2017-05-25 08:32] michael-ciniawsky commented on #243
[code]

[code]

[2017-05-25 08:34] michael-ciniawsky commented on #243
Reopen if still regressions

[2017-05-25 08:34] #243 closed

[2017-05-25 21:27] evilebottnawi commented on #228
@michael-ciniawsky https://github.com/TrySound/postcss-icss-url

[2017-05-25 22:16] michael-ciniawsky commented on #228
Yep 😛 , is it for `url()` only ?

[2017-05-25 22:18] michael-ciniawsky opened #244 "[2.1.0] Add ICSS (`postcss-icss`)"
https://medium.com/@sokra/79583bd107d7

[2017-05-25 22:50] TrySound commented on #228
@michael-ciniawsky Yep. Only url in properties.

[2017-05-25 22:57] michael-ciniawsky commented on #228
@TrySound 👍 && `postcss-modules-parser` => `postcss-icss` (ICSS 2) for @import =>`:import :export` with `media query`?

[2017-05-26 15:07] TrySound commented on #228
For `@import` I guess we need another plugin converted.

[2017-05-26 15:12] evilebottnawi commented on #228
@TrySound After implement `postcss-icss-import` we can have a full compatibility with `icss2` and in theory use `new-css-loader`, right?

[2017-05-26 15:15] TrySound commented on #228
Yep. I'm gonna do this in next few days.

[2017-05-26 15:16] evilebottnawi commented on #228
@TrySound awesome! Let me know when you do it. I will test this on a couple of big projects

[2017-05-26 15:22] TrySound commented on #228
Did you already run new loader?

[2017-05-26 15:26] evilebottnawi commented on #228
@TrySound yep, all works fine excluding `@import` and `url` :smile:

[2017-05-26 16:52] TrySound commented on #228
Did you check url plugin?

[2017-05-26 16:58] evilebottnawi commented on #228
@TrySound Not yet, I'll try in the near future

[2017-05-26 17:37] michael-ciniawsky commented on #228
@TrySound The plugin (`postcss-icss-url`) is awesome 👍

[code]

[code]

[code]

- `postcss-icss-import` will work the same ?

[code]

:warning: 😛  General question of mine in terms of plugin order, is it safe to we push/append the ICSS Plugins (automatically) via `postcss-loader` or will this break, so explicit user setup is better ?  😛 ⚠️

@evilebottnawi How did you build the `new-loader` branch

[2017-05-26 17:43] TrySound commented on #228
It's not ready yet. It can't handle default word.

[2017-05-26 17:50] michael-ciniawsky commented on #228
kk are there some rough notes what's missing (besides `postcss-icss-import` plugin, still not 💯 into all the CSSM stuff yet ? 🙃

[2017-05-26 17:54] TrySound commented on #228
Just `import` prop and `default` value.

[2017-05-26 18:31] michael-ciniawsky commented on #228
`postcss-resolve-imports` currently moves the tokens from `result.root.tokens` => `result.root.exports`. We should fine a unified way to handle this :)

Will it be possible to update `postcss-modules` as the CSSM package wrapper or a new package sice it relies on `css-module-loader-core` atm?

[2017-05-26 18:36] TrySound commented on #228
Nope, tokens will be pushed to messages. It's better way, than monkey patching.

[2017-05-26 18:38] michael-ciniawsky commented on #228
That's what I after :D 😉

The `default` issue is here ? https://github.com/css-modules/postcss-icss/blob/master/src/index.js#L56

[2017-05-26 18:40] michael-ciniawsky commented on #228
Or the none existing dependency for `fetch` ?

https://github.com/css-modules/postcss-icss/blob/master/src/index.js#L51
https://github.com/css-modules/postcss-icss/blob/master/src/index.js#L52

[2017-05-26 18:45] TrySound commented on #228
Maybe. Didn't refactored icss plugin yet.

[2017-05-26 19:54] evilebottnawi commented on #228
@michael-ciniawsky manually :smile:

[2017-05-27 13:37] TrySound commented on #228
@michael-ciniawsky default should work if you will interpret non-object `require('request')` result as
[code]
or
[code]

[2017-05-27 21:01] michael-ciniawsky commented on #228
I assume, you solved it in https://github.com/css-modules/postcss-icss/pull/9  already 😛

[2017-05-27 21:10] TrySound commented on #228
Nope. I introduced minimal dumb behavior. All magic will happen in your own fetcher.

[2017-05-27 21:18] michael-ciniawsky commented on #228
[code]

If you pass your own, this needs to be implemented aswell of course :D, I need to test it with a custom fether when ready. Where and when is a custom fetch needed and is it avoidable ? 😛

[2017-05-27 21:20] TrySound commented on #228
@michael-ciniawsky It's not wanted implementation. Just a stub. The feature is that you will let webpack resolve your `url` content.

[2017-05-27 21:22] TrySound commented on #228
With stylesheet it will be implemented in webpack core.

[2017-05-27 21:23] michael-ciniawsky commented on #228
Yep that's where `postcss-loader` needs to provide the fetch 'glue', I don't get the stub part though

[2017-05-30 02:06] ecbrodie opened #246 "[2.0.6] docs(README): inconsistent use of 'cssnext' or 'postcss-cssnext' plugin references"
The README is confusing, as to whether I include the CSSNext plugin in my `postcss.config.js` file as `"cssnext"` or `"postcss-cssnext"`. There are examples of both styles in the README. Is this intentional? If not, then please let me know which plugin name is meant to be used and then I can submit a PR that clarifies the README. Thank you.

[2017-05-30 03:03] michael-ciniawsky commented on #246
`postcss-cssnext` is the right name, `cssnext` is deprecated in favour of && superseded by `postcss-cssnext`. PR would be appreciated 😛

[2017-05-30 13:50] ecbrodie commented on #246
@michael-ciniawsky thank you for the fast feedback. I will submit a PR later today.

While I have your attention and also on the subject of README and plugins, I want to get some clarification about specifying postcss plugins in `postcss.config.js` (or inlined within `webpack.config.js`). Some examples in the README have the`plugins` specified as an objects whose string keys represent the names of

[2017-05-30 15:09] LeG3nDz opened #247 "Load .browserslistrc config"
Hi community,

I would like load my .browserslistrc config with webpack and postcss-loader, but no result.

If i add my browsers config in my webpack file, it work :

[code]

If i remove var postcss and i create .browserslistrc file, my config isn't loaded.

Anyone have idea ?

[2017-05-30 15:19] michael-ciniawsky commented on #246
### `postcss.config.js`

`postcss.config.js` (`postcss-load-config`) support both `{Object}` && `{Array}` notation

[code]

[code]

`Key/Value` is mandatory, when using `{Object}` notation

### `webpack.config.js`

Doesn't support `{Object}` Notation, since this is a convenience methof of `postcss-load-config`, PostCSS Plugins are an `{Array}`

[code]

### Static vs. Dynamic

Both `postcss.config.

[2017-05-30 15:32] TrySound commented on #247
@LeG3nDz What do you mean `If i remove var postcss`? Do you use any plugins then?

[2017-05-30 15:41] LeG3nDz commented on #247
Hi @TrySound

It's ok, i've resolve my update my **var postcss** (in the top) :

[code]

Now, .browserslistrc file is loaded :)

[2017-05-30 15:57] #247 closed

[2017-05-31 01:03] danyim opened #248 "[2.0.5] Warnings about missing sourcemap when they are enabled (`options.sourceMap`)"
I'm seeing these warnings:

[code]

when my Webpack config explicitly sets the option to true:

[code]

Is there something I am misconfiguring? Or is this a bug? Also, "enterily" is typoed in the warning text.

[2017-05-31 10:32] yoyo837 commented on #248
the same, when i use postcss-loader vue-cli@2+ （*.scss or other，not *.vue）

[2017-05-31 10:37] yoyo837 commented on #248
@danyim look at this
https://github.com/postcss/postcss-loader/commit/159b66a

I switch to a low version @1.3.3

[2017-05-31 12:21] michael-ciniawsky commented on #248
@danyim The typo should be fixed on master already, thx 😛 . Can you try without `sourceMapContents: !isDev` in `sass-loader` options. I will test it in a few minutes

[2017-05-31 13:38] michael-ciniawsky commented on #248
@danyim I can't reproduce this in a small local test, could you please setup a small repo for debugging ?

[2017-06-02 23:20] HeadFox opened #249 "[2.0.5] npm@5 issue"
Can't run webpack with npm5 :
 `
TypeError: parser.loop is not a function
    at scssParse (/Users/lucienpeslier/PackIt/node_modules/postcss-scss/lib/scss-parse.js:21:12)
    at new LazyResult (/Users/lucienpeslier/PackIt/node_modules/postcss/lib/lazy-result.js:66:24)
    at Processor.process (/Users/lucienpeslier/PackIt/node_modules/postcss/lib/processor.js:117:12)
    at getCode.then.code (/User

[2017-06-02 23:53] michael-ciniawsky commented on #249
Please post your `package.json && webpack.config.js && postcss.config.js` I don't believe this is an npm issue :), but `npm@5`got a enterily new cache implementation, so maybe run`npm cache clean --force` and in your project `rm -rf node_modules && npm i`

[2017-06-03 10:47] HeadFox commented on #249
Hey !
So i tried what you ask me to do, but after npm install with npm5 i still got the error and when i install with yarn for example, webpack command perfectly work.

You can check the 3 files here : https://github.com/HeadFox/PackIt

[2017-06-05 08:35] zhe-he commented on #218
@michael-ciniawsky
when i use Webpack code splitting feature.
`require.ensure(['./xxx.vue'], () => {
    resolve(require('./xxx.vue'))
  })
`
---
xxx.vue
![af25a702-db6e-4966-ae7d-7f8cdd34288d](https://cloud.githubusercontent.com/assets/11306583/26776567/30883f78-4a0c-11e7-9cfe-4136015c3f39.png)

error:
`ERROR in ./~/_css-loader@0.27.3@css-loader!./~/_postcss-loader@1.3.3@postcss-loader?{"config":

[2017-06-06 01:06] JeffreyWay commented on #248
Is there a way to hide this warning from the terminal output? I thought I could add `stats: { warnings: false }` to my Webpack config, but that doesn't seem to effect this.

If you're using something like sass-loader and resolve-url-loader, then sourcemaps are required. Even if you don't need sourcemap support for your actual app, you have to enable them for at least those two loaders. So that's h

[2017-06-06 08:31] leebenson opened #250 "[2.0.5] Explicit `false` not working (`options.sourceMap`)"
I have a function that dynamically sets whether sourceMaps should be included (amongst other options):

[code]

Explicitly setting `sourceMap: false` seems to kill/bypass postcss:

[code]

Setting it to true works fine:

[code]

And ignoring the option is also fine:

[code]

A temporary workaround is to do a slightly uglier:

[code]

[2017-06-06 08:41] michael-ciniawsky commented on #250
Yep, it's a know issue with the current config algo using `!sourceMap` internally, I try to fix it as soon as possible, but please omit it for now

[2017-06-06 08:42] #244 closed

[2017-06-06 08:43] #228 closed

[2017-06-06 08:46] michael-ciniawsky commented on #248
Feel free to reopen if still regressions and please provide a small test repo, since I couldn't reproduce this myself

[2017-06-06 08:46] #248 closed

[2017-06-06 08:47] michael-ciniawsky commented on #249
@HeadFox Do you still have this regression? I couldn't reproduce your issue

[2017-06-06 10:16] kroko commented on #92
I can confirm behaviour.

There is `site.gloabsl.scss` (imported as entry point intro entry javascript file)
And `site.gloabsl.scss` has `@import "site.legacy.css";` in it. Note the vanilla CSS.
And PostCSS plugins are defined within webpack config, say

_webpack.config.js_

[code]

The build will fail.

**It can be resolved** either by adding `indent` key, or moving PostCSS plugins in plugin conf

[2017-06-06 11:55] damianobarbati opened #251 "Upgrade to ^2.0.5 broke relative imports"
Just upgraded from 1.x.x to 2.0.5 and now relative imports in css url() are broken, no assets can be found: is this expected?

Repro here => https://github.com/damianobarbati/react-simple-app
Just yarn install, yarn build:dev and fonts are not found.

[code]

[2017-06-06 11:59] michael-ciniawsky commented on #251
Could you try without `resolve-url-loader` && `css-loader` minimize uses `cssnano`, you won't need it as a plugin in `postcss-loader`

[2017-06-06 12:00] damianobarbati commented on #251
@michael-ciniawsky thanks for helping! Same error without resolve-url-loader :(((

[2017-06-06 12:03] michael-ciniawsky commented on #251
Can you post some output please ?

[2017-06-06 12:04] damianobarbati commented on #251
Sure:

[code]

[2017-06-06 12:05] damianobarbati commented on #251
Here the url requiring => https://github.com/damianobarbati/react-simple-app/blob/master/app/index.scss

[2017-06-06 13:01] evilebottnawi commented on #249
@HeadFox don't use `npm@5` right now in production, now it is very buggy, give time to new npm become more stable

[2017-06-06 17:45] damianobarbati commented on #251
After loosing hours of life and mental health it turned out to be babel-css-modules plugin.
Jesus, I'm sorry guys: closing this.

[2017-06-06 20:37] damianobarbati commented on #251
Sorry to reopen this but I can confirm that upgrading from `"postcss-loader": "^1.3.3"` to `"postcss-loader": "^2.0.5"` is breaking relative imports.
Here repro before and after
Before and working =>
https://github.com/damianobarbati/react-simple-app/commit/984bc6a04b6db3d5d7566f2268042e66ae0bdfbe
After update and broken =>
https://github.com/damianobarbati/react-simple-app/commit/9c33d6714e542f81

[2017-06-06 22:08] michael-ciniawsky commented on #251
The before commit shows a major bump for `resolve-url-loader` :), which uses sourcemaps to resolve the urls, the paths for source maps (relative => absolute) changed in `postcss-loader`  >= v2.0.0, but why is `resolve-url-loader` needed ? :). You can try by commenting out [these lines](https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L149-L152) in `postcss-loader`  and if it work

[2017-06-06 22:14] damianobarbati commented on #251
@michael-ciniawsky thanks so much for the effort!
No I'm not on a windows machine but on MacOS.
I have no idea why the bump, I regularly upgrade dependencies to keep up to date.

I tried commenting out those lines but nothing (neither with relative-url-loader or not).

I'm using it so I can import assets with a relative url(./relative/path/to/current/file) in my scss files.

What other solutions d

[2017-06-06 23:47] michael-ciniawsky commented on #251
You paths are simly incorrect :)

[code]

Tested without `resolve-url-loader` && `build:dev`

[2017-06-06 23:49] #251 closed

[2017-06-07 08:23] damianobarbati commented on #251
Oh my what a dumb. T-HA-N-K-S @michael-ciniawsky!

[2017-06-07 11:19] damianobarbati opened #252 "package.json config definition [feature request]"
Sorry to bother again: does postcss-loader support configuration defined in package.json?

https://github.com/stylelint/stylelint/issues/2609#issuecomment-306765151

Instead of:
[code]
=>
[code]

[2017-06-07 11:48] vedadsose opened #253 "[2.0.5] Warning emitted when options.sourceMap is explicitly false"
Even when explicitly setting `sourceMap: false`, warning is emitted:

Looking at the source code: https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L130

It looks like the condition for emitting this warning should be:

[code]

[2017-06-07 12:20] evilebottnawi commented on #253
@vedadsose seems loader before `postcss-loader` emit source map (add `sourceMap: false`) for `sass/less/etc-loader`

[2017-06-07 14:19] vedadsose commented on #253
@evilebottnawi If you think the warning should still be there even if options.sourceMap is false, then it shouldn't contain `but options.sourceMap isn't set` part.

[2017-06-07 14:32] evilebottnawi commented on #253
/cc @michael-ciniawsky maybe we can add option `supressSourceMapWarning`, but for me this is a bad solution. But `resolve-url-loader` need to source maps from `sass/less/etc-loader`.

[2017-06-07 16:46] inthegarage commented on #92
Sadly none of these suggestions worked for me, still getting postcss error. Oh well, reverting to angular-cli for the moment.

[2017-06-07 16:56] taigi0315 opened #254 "postcss-loader can't read property of null error"
I have been try to fix this bug with google search, but couldn't find any solution works for my case
webpack version : 2.5.1

--My prod.js file
![screen shot 2017-06-07 at 11 51 47 am](https://user-images.githubusercontent.com/11429827/26890697-0e7f6c4a-4b78-11e7-9f1f-4edb671b6b69.png)
--Output error
![screen shot 2017-06-07 at 11 52 49 am](https://user-images.githubusercontent.com/11429827/268907

[2017-06-07 21:39] michael-ciniawsky commented on #252
Yes via `postcss-load-config` && `postcss` prop in `package.json`, recommended way is to use
`postcss.config.js`. For stylelint there maybe an additional `stylelint` prop needed/possible or you use the Stylelint PostCSS Plugin, I'm not personally using Stylelint via webpack, so please consider their README for more info about that

[2017-06-07 21:39] #252 closed

[2017-06-07 21:54] michael-ciniawsky commented on #254
It is safer to use a `postcss.config.js` file I highly recommend it, the reason is that in this case a webpack config related bug sometimes doesn't apply functions in `webpack.config.js`. You can ducktape it in `webpack.config.js` by using so called `ident` in the loader options :)

[code]

Also remove `style-loader` from `use` in `ExtractTextPlugin.extract` it's used as `fallback` already and ext

[2017-06-07 21:54] #254 closed

[2017-06-07 22:02] michael-ciniawsky commented on #253
It warns about a source map from a previous loader, since `postcss-loader` discards the source map enterily when `{ sourceMap: true }` isn't set in `postcss-loader` options, The **default** is to not generate a sourcemap for perf reasons. The warning is correct, please either set `{ sourceMap: true }` or disable source maps in any previous loader.

@evilebottnawi No please no additional options fo

[2017-06-07 22:02] #253 closed

[2017-06-08 00:40] dwolfhub commented on #204
@Bnaya i had same issue. when updating to 2.x please check readme for new configuration.

here is mine:

[code]

[2017-06-08 03:05] michael-ciniawsky commented on #249
Feel free to reopen if still regressions :)

[2017-06-08 03:05] #249 closed

[2017-06-08 16:12] taigi0315 commented on #254
Thanks for your comment !
I followed your suggestions, still having an issue with warning (postcss)
I can build/deploy app, the problem is my Material-ui error does not show require error
---prod.config.js
<img width="441" alt="screen shot 2017-06-08 at 11 05 43 am" src="https://user-images.githubusercontent.com/11429827/26938837-0f928612-4c3b-11e7-9e9c-648b5747c3a7.png">
---postcss.config.js
<img

[2017-06-08 17:28] michael-ciniawsky commented on #254
In terms of `postcss-loader` choose either `postcss.config.js` (recommended) or set **options** in `webpack.config.js`. You are doing both atm :), but that isn't are problem `webpack.config.js` > `postcss.config.js` in terms of config loading

**webpack.config.js** (when using **postcss.config.js**)
[code]

Please try  `{ sourceMap: false }` in `stylus-loader` options, it is a warning and everythi

[2017-06-08 17:49] evilebottnawi commented on #254
@michael-ciniawsky How about if your release a major where only configuration files are allowed, it would be great and solved all these problems :+1:

[2017-06-08 19:04] remotezygote commented on #204
I am having this issue also after updating to the latest version. My webpack config is dynamically generated, but here is the relevant config section:

[code]

then when used:

[code]

It looks correct to me, but I still get this error for every single directory that has any css file loaded in it. Any ideas?

[2017-06-08 19:25] remotezygote commented on #204
FYI, I walked this back all the way to 2.0.0, and it worked differently (resolved paths differently), but all had the same error as before. I do not believe config loading from webpack config is working properly. Possibly it is only breaking in certain cases? In my case, I load many SCSS files throughout my app. Was that case tested, or only a case of a single entry point? Grasping at straws a bit

[2017-06-08 20:03] taigi0315 commented on #254
Thanks for the help,
I took off `options` from webpack config, add `sourceMap : false` in `stylus-loader` as well
App builds without any warning/Error but for some reason material-ui/yup schema error does not display.(works find in de). Now I start wondering where to look to fix this.
I really thanks for your time, appreciate it !

[2017-06-09 04:48] sukazavr opened #255 "postcss-js parser option doesn't work on imports with webpack loaders"
I've tried to make some CSS-in-JS webpack config, like was in README.md:

[code]

It works, BUT then I try to import an image, for example, I have webpack: Failed to compile.
It looks like in those conditions postcss-loader can't do transfer import-flow into webpack instead, it uses some built-in babel-config.

**The peace of my experiment webpack config:**
[code]

**styles\index.cssm.js**
[code]

[2017-06-09 05:19] michael-ciniawsky commented on #255
Your first example looks sane, the second not _sooo_ tbh :), you're are using postcss twice there, one in `prejss` (`babel-loader`) and then again in `postcss-loader`. As you can see from the Error log,  it already fails in `babel-loader` (`babylon` is the babel parser :)). Where is the GIF actually used, what is the usecase/goal?

[2017-06-09 12:27] sukazavr commented on #255
@michael-ciniawsky thank you for reactive answer :-)
The goal is to reach opportunity of use CSS in JS with sugar CSS syntax. I've chosen `prejss` to have ability write in SugarSS which will be transpiled in CSSinJS (object), then this object will be transpiled into pure CSS. So, in that way, I'll get transparent JS-modules and CSS Modules, code reuse, and that is all without the runtime overhead.

[2017-06-09 12:30] sukazavr commented on #255
The problem is that `postcss-loader` can't work correctly, even if I have removed `transform-prejss` from babel config.

[2017-06-09 16:31] TrySound commented on #255
@sukazavr postcss-loader works correctly. But `postcss-js` requires js object value, not string with `module.exports = {}`. Look at val-loader

[2017-06-10 03:56] sukazavr commented on #255
I've found a point:
https://github.com/postcss/postcss-loader/blob/master/lib/index.js#L106-L110
[code]
Anyone who is interesting in subject, look this: [Loader.exec method does not eval loaders
](https://github.com/webpack/webpack/issues/667)

[2017-06-10 04:26] sukazavr commented on #255
I've found a temporary solution in use `value-loader` with `raw-loader`.
It's not elegant, but it works even with webpack 2 treeshaking :-)
Now my config looks like this:
[code]

[2017-06-10 05:02] michael-ciniawsky commented on #255
You can eventually drop the (last) `raw-loader` after `postcss-loader` since `postcss-loader` exports a module by default in case it's the last loader in the chain :)

[2017-06-10 05:02] #255 closed

[2017-06-10 20:38] ZeroCho opened #256 "postcss-apply doesn't work with @2.0.0"
After upgrading from 1.3.3 to 2.0.5
postcss-apply doesn't work.

I'm using postcss-apply@0.8.0 and postcss-cssnext@2.11.0
Is this intended? I heard that postcss-apply may be dropped.

[2017-06-10 21:11] michael-ciniawsky commented on #256
I need your config please, `postcss-cssnext`still doesn't support PostCSS v6.0.0 which is used by  `postcss-loader >= 2.0.0`. `postcss-apply` should have gotten an update for PostCSS v6.0.0 recently, please check if you have the latest version

[2017-06-10 21:15] ZeroCho commented on #256
[code]

I checked that everything is the latest version.
One thing is that `postcss-cssnext` has `postcss-apply@0.3.0` as a dependencies, which is a bit old, so I overrided it by installing `postcss-apply@0.8.0`

[2017-06-10 23:20] michael-ciniawsky commented on #256
`postcss-nesting` in `postcss-cssnext`) for instance is also not compatible with PostCSS 6 `postcss-loader` yet. For `postcss-cssnext` usage you will have to wait for compatible release of the plugin sry :)

[2017-06-10 23:20] #256 closed

[2017-06-13 04:27] michael-ciniawsky commented on #204
@remotezygote

[code]

Yes `{Function}` && `require()` are both buggy in webpack config atm, it should have been solved in `webpack >= 2.2.0` by autogenerating the `ident`, but since `webpack >= 2.4.0` it doesn't seem to work anymore 😞 . I will try one last attempt @webpack/webpack if this can be solved otherwise it is likely that `postcss.config.js`  will be mandatory in the near future

[2017-06-13 15:38] DanDvoracek commented on #92
Same here... Nothing worked in my case. However I have a slightly different setup regarding css as I use sass:

[code]

I have tried all the things I have been reading about. The only thing that changes for me is that I use sass where most of the people use pure css (in the examples I see).. I wonder if I have any issue because of this as none of the solution provided here is working for me. Any h

[2017-06-13 15:43] kroko commented on #92
@DanDvoracek try this

[webpack config](https://github.com/WARP-LAB/WARP-GUIDES-WEBPACK-2/blob/master/01-webpack-guide-basic/webpacktest-basic/webpack.front.config.js)
[.postcssrc.js](https://github.com/WARP-LAB/WARP-GUIDES-WEBPACK-2/blob/master/01-webpack-guide-basic/webpacktest-basic/.postcssrc.js)

build without any `scripts` definition in package.json
[code]

[2017-06-13 15:48] michael-ciniawsky commented on #92
@kroko https://github.com/WARP-LAB/WARP-GUIDES-WEBPACK-2/blob/master/01-webpack-guide-basic/webpacktest-basic/.postcssrc.js#L20

[code]

`null` => `false`  &&  `postcss-load-config` filters `{Boolean}` by default 😉

@DanDvoracek Yes this config and don't forget to actually add `postcss-loader`

[code]

[2017-06-13 15:53] kroko commented on #92
@michael-ciniawsky i haven't checked it. i remember that some time ago it was not the case [my ticket](https://github.com/webpack/webpack/issues/4460), so it has stuck as a habit to clear out nulls from `plugins`, `rules` and `entries` arrays. actually, for all arrays :)

[2017-06-13 15:57] michael-ciniawsky commented on #92
I don't know for `webpack.config.js`, but for `postcss.config.js` I'm nearly 💯  certain 😛  It's just cosmetics anyways, all good :D

[2017-06-14 09:08] DanDvoracek commented on #92
Thanks a lot @kroko and @michael-ciniawsky 👍  I will give it a try and let you know :D

[2017-06-14 11:10] michael-ciniawsky opened #258 "[3.0.0] (Discussion) make `postcss.config.js` mandatory"

[2017-06-14 11:11] evilebottnawi commented on #258
@TrySound friendly ping

[2017-06-14 11:26] TrySound commented on #258
I don't think it's a good idea. Fragmenting config sometimes feels like abuse. Such behavior will confuse folks. Gulp postcss have both ways afaik.

[2017-06-14 11:29] evilebottnawi commented on #258
@TrySound now we have problems to determinate when we should load config when not https://github.com/postcss/postcss-loader/pull/234. I can't found best way for this. Now i use fork this loader because it is really problems in many projects.

[2017-06-14 11:33] TrySound commented on #258
Just add priority in options over config. Without merging. It's simplest and bulletproof way.

[2017-06-14 11:35] evilebottnawi commented on #258
@TrySound i.e. if we have don't have `config` we load options, if we have `config` we load config?

[2017-06-14 11:36] michael-ciniawsky commented on #246
Done in https://github.com/postcss/postcss-loader/commit/2ef4449d5715935a214a8ea588d3d09eb0c72241

[2017-06-14 11:36] #246 closed

[2017-06-14 11:37] evilebottnawi commented on #258
@michael-ciniawsky Also we have problems with `ident`, we should documentation this :disappointed:

[2017-06-14 11:44] michael-ciniawsky commented on #258
The current way is `webpack.config.js` (explicit) > `postcss.config.js` (implicit) > Error, which should stay as is imho. Since `postcss.config.js` doesn't support any webpack specific props and never will be, we need to have a few ugly checks 😛 . The main problem is the buggy `ident` atm
it worked fine in `webpack = v2.2.0`  and started to bug again around  `v2.4.0+`

[2017-06-14 11:48] evilebottnawi commented on #258
@michael-ciniawsky can we found issue or create about this, because it is very important problem. Let's finish today https://github.com/postcss/postcss-loader/pull/234 and do release :+1:

[2017-06-14 12:02] TrySound commented on #258
What is `ident` thing? Didin't find even in source code.

[2017-06-14 12:14] michael-ciniawsky commented on #258
**webpack.config.js**
[code]

To stringify the `request`

[2017-06-14 16:46] michael-ciniawsky commented on #250
Fixed && Released in [`2.0.6`](https://github.com/postcss/postcss-loader/releases/tag/v2.0.6) please test and verify :)

[2017-06-14 16:46] #250 closed

[2017-06-14 19:52] ecbrodie commented on #246
@michael-ciniawsky I realize that I never thanked you for your excellent response to my question about the different ways to specify plugins. It was quite clear and answered my question well. Thank you!

[2017-06-14 23:04] gregjacobs opened #261 "docs(README): add loader description"
Hey guys. It's great that you have all kinds of documentation on configurations and different things, but what does this loader do exactly? How about a quick description on the top of the readme file?

[2017-06-15 12:07] michael-ciniawsky commented on #261
Yep we should add one, there is already a bad one imho https://raw.githubusercontent.com/postcss/postcss-loader/master/README.md (comment after the heading block) 😛. Any sugesstions ?

[2017-06-15 16:49] leebenson commented on #250
Works great, thanks @michael-ciniawsky !

[2017-06-15 17:36] brandonaaskov commented on #204
This same error popped up for me, but the issue wasn't due to the `postcss-loader`, it was because I was using the `importLoaders` option for `css-loader`.

*Before*
`{ loader: 'css-loader', options: { sourceMap: true, importLoaders: 1 } }`

*After*
`{ loader: 'css-loader', options: { sourceMap: true } }`

I'm not going to imply that will fix the issue for others, but I hope that it does :)

[2017-06-16 06:30] someok opened #262 "[2.0.6] If enable cssnano plugin will throw error."
If I rm cssnano, the webpack compile success, but will throw error when enable cssnano, I don't know this is postcss-loader problem or cssnano problem.

**Error:**

    ERROR in /Users/wjx/MyFolder/Develop/MyWorkspace/blah-projects/~/css-loader?{"sourceMap":true,"modules":true,"importLoaders":2,"localIdentName":"[hash:base64]"}!/Users/wjx/MyFolder/Develop/MyWorkspace/blah-projects/~/postcss-loader

[2017-06-16 08:19] michael-ciniawsky commented on #262
**postcss.config.js**
[code]

**webpack.config.js**
[code]

- `postcss-loader` version ?
- `cssnano` version ?

`css-loader` integrates `cssnano` via the `minimize` option aswell, if you are using `postcss-loader >= v2.0.0` ensure to have `cssnano v4.0.0-rc.0` (`npm i -D cssnano@next`) installed

[2017-06-17 06:42] someok commented on #262
orignal version:

"cssnano": "3.10.0"

update cssnano `v4.0.0-rc.0` the problem still exist.

`css-loader` with `minimize` is correct:
[code]

I think this should be a bug?

[2017-06-17 09:39] michael-ciniawsky commented on #262
Thats `css-loader` `modules` (CSSModules) issue

 @ /Users/wjx/MyFolder/Develop/MyWorkspace/blah-projects/~/css-loader?{"sourceMap":true,"modules":true,"importLoaders":2,"localIdentName":"[hash:base64]"}!/Users/wjx/MyFolder/Develop/MyWorkspace/blah-projects/~/postcss-loader/lib?{"sourceMap":true}!/Users/wjx/MyFolder/Develop/MyWorkspace/blah-projects/~/sass-loader/lib/loader.js?{"sourceMap":true,"o

[2017-06-18 18:35] davidrf commented on #254
I've created a simplified [example repo that reproduces this error](https://github.com/davidrf/postcss-loader-issue-254-webpack-example). I am not entirely sure if this is a postcss-loader issue, or a Webpack issue, or an issue from something else. Adding a `postcss.config.js` file or `ident` does solve the problem, but I believe that this issue should be re-opened and remain open until one of the

[2017-06-19 06:27] someok commented on #262
@michael-ciniawsky yes, you are right, `normalizeUrl` cause of this problem.

I think the best practice is not enable cssnano at postcss-loader, use `minimize` at `css-loader`.

[2017-06-19 11:37] michael-ciniawsky commented on #262
I will open an issue in `cssnano` about this, maybe adding a webpack preset would be accepted :)

[2017-06-19 11:41] michael-ciniawsky commented on #262
https://github.com/ben-eb/cssnano/issues/376 Feel free to comment 😛

[2017-06-19 11:41] #262 closed

[2017-06-19 17:09] lucasmotta commented on #204
@michael-ciniawsky adding the `ident: 'postcss'` to the options config works fine.

I understand that webpack has its issues, but do you think this option can be documented on the README? I don't mind having to add the `ident` line to my config.

[2017-06-20 10:07] evilebottnawi opened #263 "Add `webpack` as peerDeps and allow v2 and v3"
@michael-ciniawsky

[2017-06-20 10:44] TrySound commented on #263
@evilebottnawi Why restrict version? To anger user with noise messages on webpack 4 and 5 release?

[2017-06-20 10:45] TrySound commented on #263
Peer warnings are really useless and noisy IMHO.

[2017-06-20 10:48] evilebottnawi commented on #263
@TrySound hm, why other people use `peerDeps`, maybe if `webpack` v4 shipped and have incompatibility (with peerDeps it is break semver idea for safe deps)

[2017-06-20 10:58] TrySound commented on #263
Maybe. But specifying all compatible version can be painful with betas at least which don't seem work with ranges.

[2017-06-20 10:58] TrySound commented on #263
All problems was with webpack 2 prereleases.

[2017-06-20 11:43] michael-ciniawsky commented on #263
It's the recommended way in `webpack-contrib` to handle it, but I don't _really_ 'like' the `peerDependency` pattern, as @TrySound already mentioned it can be really noisy and is basically useless if you go ahead anyways 😛 and in the worst case misleading if you follow and everything is still fine e.g `webpack v2.0.0 => v3.0.0` in most cases. `postcss-loader` also doesn't use `postcss` as a `peerD

[2017-06-20 11:47] evilebottnawi commented on #263
@michael-ciniawsky we can avoid all `beta`, `rc` and etc. Because it is not stable and noise in this case is normal

[2017-06-20 11:53] TrySound commented on #263
Don't know current behavior but previously such noises broke my deploy.

[2017-06-20 12:19] evilebottnawi commented on #263
@TrySound @michael-ciniawsky we can use `webpack-default` strategy here or let it be as it is. What is our decision?

[2017-06-20 12:30] michael-ciniawsky commented on #263
Let it be for now, but if `webpack-contrib` is in better shape and the workflow works, we could/should align with `webpack-contrib` imho.

[2017-06-21 07:52] littlenewbee commented on #204
I use the webpack 2.x,and I have the same error when I use the importLoaders option .which one get the reason?

[2017-06-21 14:01] andy-j-d commented on #258
Upgrading from Webpack 1 to 3, I was getting "Module build failed: TypeError: Cannot read property 'postcss' of null"

Adding an `ident` option fixed it.

Ended up with
[code]

[2017-06-22 04:03] KagamiChan opened #264 "[2.0.6] previous loader's `sourceMap: false` option still causes warning"
Hi I'm using vue and less in my project, and use less-loader@4.0.4 together with postcss-loader. Here's the warning I got from build process

[code]

It seems to me that setting `sourceMap: false` does not help. How can I figure out if it's less-loader that ignores the option or postcss-loader that emits a false warning? Thank you!

[2017-06-22 09:16] evilebottnawi commented on #264
@KagamiChan can your provide minimal reproducible test repo?

[2017-06-22 09:41] JadedDragoon opened #265 "postcss-cssnext only handles nested selectors one level deep when used with postcss-loader"
What it says on the tin. When using postcss and postcss-cssnext with gulp-postcss everything works as expected. My .cssnext file (example below) is transpiled correctly.

When the same file and postcss config is run through postcss-loader, either with "css-loader & style-loader" or "file-loader & style-loader/url" the resulting css has only the first level of nested rules "flattened" and the rest

[2017-06-22 10:01] KagamiChan commented on #264
@evilebottnawi Sorry I forgot that.
For now I can give a repo for reproduce this:
https://github.com/KagamiChan/postcss-loader-demo

Have to say it is not quite minimal because it was created upon vue-cli webpack template, but I try to limit my own changes: https://github.com/KagamiChan/postcss-loader-demo/commit/c19ef7a1df568fcece5aa97727c8f97eb37fe584

when running `npm run dev` there'll be 2 wa

[2017-06-22 10:30] evilebottnawi commented on #265
@JadedDragoon seems `postcss-cssnext` use `postcss` v5, loader use `postcss` v6, postcss v5 and postcss v6 have incompatibility, be good use `postcss-loader` v1 for `postcss-cssnext`, just wait new release `postcss-cssnext` with support `postcss` v6

[2017-06-22 10:33] evilebottnawi commented on #264
@KagamiChan try to rename `.postcssrc.js` to `postcss.config.js`, maybe a problem in loading the configuration file

[2017-06-22 10:42] evilebottnawi commented on #264
@KagamiChan sorry, misunderstood, your got this warning because some loader before `postcss-loader` generate source map.

[2017-06-22 10:56] KagamiChan commented on #264
@evilebottnawi Thank you for investigating this. So setting `sourceMap` to `false` for other loaders prior to `postcss-loader` does not mean that the source map will be dropped before flowing into `postcss-loader`? I'm not quite sure for that.

If it is the case, this issue can be closed.

[2017-06-22 10:58] evilebottnawi commented on #264
@KagamiChan Info:
RemainingRequest - `/home/evilebottnawi/IdeaProjects/postcss-loader-demo/node_modules/vue-loader/lib/selector.js?type=styles&index=0!/home/evilebottnawi/IdeaProjects/postcss-loader-demo/src/App.vue`
Loaders:
[code]

Seems before `postcss-loader` we have `vue-loader`, which generate source maps. I am not familiar with `vue-loader`, seems your need set source Map false for this.

[2017-06-22 10:59] evilebottnawi commented on #264
@KagamiChan  yep, your should set `sourceMap: false` for each loader

[2017-06-22 11:53] KagamiChan commented on #264
I'm using postcss alone bacause vue-loader only handles `.vue` files and I have some other css files.

The style-compiler in vue-loader [in fact uses postcss and also reads the postcss config file](https://github.com/vuejs/vue-loader/blob/master/lib/style-compiler/index.js), but setting sourceMap option in `.postcssrc.js` (also tried renaming to `postcss.config.js`) or in build config cannot remov

[2017-06-22 12:00] KagamiChan commented on #264
Anyway I think postcss-loader is working fine, I'm looking into vue-loader, closing this.

[2017-06-22 12:00] #264 closed

[2017-06-22 12:35] KagamiChan commented on #264
@evilebottnawi I manage to prevent vue-loader from producing source map by changing its code, but the warning persists. Seems I should look into less-loader instead

[2017-06-23 11:20] dan-gamble opened #266 ""Module not found" when using glob"
**Error**:
[code]

**postcss.config.js**:
[code]

**webpack.config.js**
[code]

**app.css*
[code]

Really out of ideas with this :(

[2017-06-23 11:28] evilebottnawi commented on #266
@dan-gamble seems `postcss-easy-import` use `"postcss": "^5.0.15",`, loader use `postcss` v6, maybe incompatibility?

[2017-06-23 11:30] evilebottnawi commented on #266
@dan-gamble also can your check `postcss.config.js` is loading, try to `console.log('LOAD'); process.exit()` in postcss config file?

[2017-06-23 11:34] dan-gamble commented on #266
[code]

It's getting loaded.

I could try forking `postcss-easy-import` myself and updating it to postcss 6.0 or using `postcss-import` with a glob function to see if that helps?

[2017-06-23 11:43] evilebottnawi commented on #266
@dan-gamble try to use, seems your config invalid https://github.com/michael-ciniawsky/postcss-load-config
[code]
Without minimal test repo i can not help you anymore

[2017-06-23 11:45] dan-gamble commented on #266
Hmm you are right, that's weird. `postcss-load-config` works though so i'll explore that avenue. Thanks @evilebottnawi :)

[2017-06-23 11:45] #266 closed

[2017-06-23 11:46] evilebottnawi commented on #266
@dan-gamble My example solved the problem, if so, we can make the configuration validation for the future?
/cc @michael-ciniawsky

[2017-06-23 11:55] dan-gamble commented on #266
Changing my `postcss-config.js` to:

[code]

Fixed it 👍

[2017-06-23 12:01] evilebottnawi commented on #263
I think we can close this issue, if necessary in the future we will reopen it. Let's leave it at that.

[2017-06-23 12:01] #263 closed

[2017-06-26 16:23] barraponto commented on #258
[Neutrino](https://neutrino.js.org) is a Webpack-wrapper which allows presets to be added and edited to make project setup easier. The [neutrino-postcss-preset](https://github.com/barraponto/neutrino-preset-postcss-cssnext) is designed to ship with a configuration in-code, without relying on any `postcss.config.js`.

[2017-06-27 22:02] janslu opened #267 "[2.0.6] `www.` is stripped from domains"
I'm using postcss-loader with webpack3 and sass-loader and adding this block causes the absolute address used for font loading to be stripped of www. prefix:

[code]
I tried adding the option to cssnano hoping this will help, but even removing cssnano from plugins and leaving only autoprefixer causes the same effect. This option for cssnano also doesn't help... Any idea what I'm doing wrong?

[2017-06-27 22:16] michael-ciniawsky commented on #267
Normally `postcss-loader` doesn't mess with paths by default, it is just a wrapper for  `postcss` and the rest is done via plugins. Could you show the 'full' relevant part `rule > test.scss` of `webpack.config.js` and maybe setup a small test repo? ⚠️ Note that `css-loader` uses `cssnano` aswell internally

[2017-06-27 22:23] janslu commented on #267
Of course! Here's the whole scss block. The address remains ok (with www.)  if I remove either  loader: "postcss-loader" block or both plugins from  loader: "postcss-loader" > plugins array...
[code]

[2017-06-28 07:11] mahnunchik opened #268 "How to use postcss-js with Webpack? SyntaxError: Unexpected token export"
I think issue https://github.com/postcss/postcss-js/issues/26 may be realted to `postcss-loader` not to `postcss-js` parser.

[2017-06-28 10:11] mahnunchik commented on #268
### Copy of original issue https://github.com/postcss/postcss-js/issues/26

I've faced with the following error:

[code]

My `webpack.config.js`:

[code]

`index.js`:

[code]

`test.style.js`:

[code]

#### Versions

[code]

[code]

[2017-06-28 13:20] TrySound commented on #268
@mahnunchik The problem is that you are trying to run es-modules in node. postcss-js requires a value, not a string with code. `postcss-loader` checks if `postcss-js` is used and evaluate that code (runs in node). The result is passed to `postcss-js`. Use commonjs if you like this style.

[2017-06-28 13:20] #268 closed

[2017-06-28 15:49] Janaka-Steph commented on #248
Hello,

I still have the warning "Previous source map found, but options.sourceMap isn't set." with version 2.0.6.
Here is part of my webpack.config.js :

module: {
    rules: [
      {
        test: /\.css$/,
        use: ['style-loader', 'css-loader']
      },
      {
        test: /\.scss$/,
        use: [
          'style-loader',
          'css-loader?module&importLoaders=1&localIdentName=[lo

[2017-06-28 20:04] michael-ciniawsky commented on #248
@Janaka-Steph

[code]

`sass-loader` (generates `sourcemap`) => `postcss-loader` (get prev map from `sass-loader`, but doesn't update it, without `?sourceMap`) => ⚠️

[2017-06-28 20:05] matthopson commented on #248
@Janaka-Steph I got around this by adding `sourceMap: true` to my postscss-loader config - so in your case, adding `?sourceMap` to `postcss-loader` may help.

[2017-06-28 20:06] matthopson commented on #248
Dah! @michael-ciniawsky wins the day! 🌮 🌮  for you.

[2017-06-28 20:08] michael-ciniawsky commented on #268
@mahnunchik You need to add a babel plugin `transforms-add-module-exports` (something like that) and enure to have only one `export default` per `style.js`

[2017-06-28 21:30] Janaka-Steph commented on #248
No it doesn't work for me :-(
I tried what you said, I tried sourceMap everywhere, nowhere, in postcss.config, true, false. Nothing works. I don't know what to do

[2017-06-28 21:35] matthopson commented on #248
@Janaka-Steph Here's exactly what I changed in my config to get rid of the warning.
[code]

[2017-06-28 21:42] Janaka-Steph commented on #248
Nope :-/
I print the error, maybe you understand something at this.
`
client?cd17:43 ./~/css-loader!./~/postcss-loader/lib!./~/resolve-url-loader!./~/sass-loader/lib/loader.js?sourceMap!./~/bootstrap-loader/lib/bootstrap.styles.loader.js?{"bootstrapVersion":4,"preBootstrapCustomizations":"/Users/steph/Desktop/PRO/Projects/dao1901_NewDawn/ui/assets/theme/pre-customizations.scss","bootstrapCustomiza

[2017-06-29 08:23] mahnunchik commented on #268
@TrySound using commonjs style module helps:

`test.style.js`:
[code]

@michael-ciniawsky if I add https://github.com/59naga/babel-plugin-add-module-exports and use es modules then it produces the same error: `SyntaxError: Unexpected token export`

My babel settings:

[code]

[2017-06-29 08:25] TrySound commented on #268
Because Babel defined after postcss-loader. Also you need to add css extension to test.

[2017-06-29 09:21] janslu commented on #267
Sorry to bother you. I lack the knowledge to dig deeper and find the reason, but here's some more information, maybe you will be able to find the culprit...

I found a config that works for me, but it seems to be patching something that shouldn't need patching...

1. code being changed - www. is being stripped from font-face declaration:

[code]

I have stripped options and require from above scss

[2017-06-29 20:27] michael-ciniawsky commented on #267
I take a look into it soon :)

[2017-06-30 00:01] NekR commented on #176
It's still there, right?

[2017-06-30 00:40] michael-ciniawsky commented on #176
@NekR Which version of `postcss-loader` ?

[2017-06-30 00:48] NekR commented on #176
`"postcss-loader": "^2.0.6",`

I'm not 100% sure if it's `postcss-loader`, but I got it when I started updating postcss related things, including the loader.